.row style="margin-top: 10px;"
  / ▼ 左寄せ

  .col-sm-6
    - if form.room_id_hash.size > 0
      = form_tag(summary_sales_list_csv_path(format: :csv), method: :get, id: :csv_download_form)
        button.btn.btn-default.csv_download type="button" CSVダウンロード

  / ▼ 右寄せ
  .col-sm-6.text-right
    / ボタン押下時のJSの処理は _list.html.slimに記述
    button.btn.btn-default.prev_month type="submit" style="margin-left: 2px;"
      i.fa.fa-fw.fa-arrow-left
      | 前月を検索
    button.btn.btn-default.next_month type="submit" style="margin-left: 2px;"
      | 次月を検索
      i.fa.fa-fw.fa-arrow-right
