.row
  .col-sm-12
    .box.box-warning
      .box-header
        h3.box-title
          = "#{form.search_check_in_month}【日数: #{form.day_count}日】"
          span.monthly_total
            | 売上合計:
            i.fa.fa-fw.fa-yen
            = form.monthly_total[:total].to_s :delimited

          span.monthly_total
            |（宿泊費:
            i.fa.fa-fw.fa-yen
            = form.monthly_total[:total_room_charge].to_s :delimited

          span.monthly_total
            |&nbsp;清掃費:
            i.fa.fa-fw.fa-yen
            = form.monthly_total[:total_cleaning_fee].to_s :delimited

          span.monthly_total
            |&nbsp;食事代:
            i.fa.fa-fw.fa-yen
            = form.monthly_total[:total_meal_fee].to_s :delimited
            |）
            / = "（宿泊費： 清掃費： 食事代：）"

        = render 'button_list', form: form

      .box-body.table_wrapper
        table.table.table-bordered#table_sales_list
          thead
            tr.small
              th.code
              th.building 施設名 - 部屋名
              th 件数
              th 売上
              th 宿泊費
              th 清掃費
              th 食事代
              th 稼働日
              th OCC
              th ゲスト数
              th DOR
              th ADR
              th 人数<br>単価
              th RevPAR
              th 精算書
          tbody.disp-vline
            - form.search_room_ids.each do |id|
              - room = form.rooms[id]
              - next if room.nil?
              - values = form.room_id_hash[id]
              - values ||= {}
              tr class= cycle('odd', 'even')
                td.code = room.building_code
                td.building = [room.building_name, room.name.presence].compact.join(' - ')
                td.reservation_count = values[:reservation_count]
                td.sum_total        = values[:sum_total]
                td.sum_room_charge  = values[:sum_room_charge]
                td.sum_cleaning_fee = values[:sum_cleaning_fee]
                td.sum_meal_fee     = values[:sum_meal_fee]
                td.opration_count = values[:operation_count]
                td.occ            = values[:occ]
                td.sum_guest      = values[:sum_guest]
                td.dor            = values[:dor]
                td.adr            = values[:adr]
                td.unit_price     = values[:unit_price]
                td.rev_par        = values[:rev_par]
                td.settlement
                  / - if values[:sum_total].to_i > 0
                  - settlement = settlement_by_room_id[room.id]
                  - if settlement
                    small = link_to '作成済', summary_settlement_edit_path(settlement.id)
                    |&nbsp;
                    i.fa.fa-fw.fa-clock-o data-toggle="tooltip" data-placement="top" title="#{settlement.created_at.to_s(:datetime)}"
                  - else
                    small= link_btn_tag('作成する', summary_settlement_path(id, form.year_month), button_class: 'btn-success btn-xs')

      .box-footer
        = render 'button_list', form: form
        h4
          = "#{form.search_check_in_month}【日数: #{form.day_count}日】"
          span.monthly_total
            | 売上合計：
            i.fa.fa-fw.fa-yen
            = form.monthly_total[:total].to_s :delimited

= render 'list_js', form: form
