<script>
  $(function () {
    $('#table_sales_list').DataTable({
      <%= data_table_options not_sort: [], searching: true, lengthMenu: '[100]', lengthChange: false %>
    });
  });

  // rails-ujs を利用している場合、JSからsubmit()を呼ぶとremote: trueにならない（Ajaxにならない）
  // https://blog.rista.jp/entry/2017/09/04/100006
  $('.prev_month').click(function() {
    var month = '<%= l(form.search_original_month - 1.month, format: :default_h) %>';
    $('#summary_sales_list_form_search_prev_next_month').val(month);
    Rails.fire($('#sales_list_form')[0], 'submit');
  });

  $('.next_month').click(function() {
    var month = '<%= l(form.search_original_month + 1.month, format: :default_h) %>';
    $('#summary_sales_list_form_search_prev_next_month').val(month);
    Rails.fire($('#sales_list_form')[0], 'submit');
  });

  $('.csv_download').click(function() {
    var form = $('#csv_download_form');
    form.submit();
    // Rails.fire(form, 'submit');
    stopSpin(form);
  });
</script>