- breadcrumb :sales_list
- provide(:title, t("title.summary.sales_list"))

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 部屋別で全部屋の月間売上を一覧で確認できます。
        ul
          li 一覧のヘッダー横のアイコンをクリックするとその項目でデータをソートします。
          li 一覧右上の検索窓は、現在表示されている一覧に対して絞り込みができます。
          li 「CSVダウンロード」ボタンで直前の検索結果をCSVファイルでダウンロードできます。

#message
  = render 'shared/error_messages', obj: @form

/ 検索条件
#search
  = render 'search', form: @form

#sales_list
  = render 'list', form: @form, settlement_by_room_id: @settlement_by_room_id
