<% if @form.errors.empty? %>
  $('#search_error_messages').html('');
  $('#sales_list').html('<%= j(render "list", form: @form, settlement_by_room_id: @settlement_by_room_id) %>');

  // 検索条件対象月の値のみ更新
  $('#summary_sales_list_form_search_check_in_month').val('<%= @form.search_check_in_month %>')

<% else %>
  $('#search_error_messages').html('<%= j(render "shared/error_messages", obj: @form) %>');
<% end %>

// Ajaxでのパーシャル更新時は明示的ローディングを停止させる
stopSpin($('#sales_list_form'));