.col-xs-12
  .box.box-danger
    .box-header.with-border
      label suitebook予約情報取込
    .box-body

      .col-xs-12#error_messages

      = form_tag reservation_management_import_suitebook_create_path, method: :post, multipart: true, class: 'form-horizontal' do |f|
        .form-group
          label.col-xs-2
            |CSVファイル
            span.require ＊
          .col-xs-6
            = file_field_tag(:csv_file)
        .form-group
          .col-xs-3.col-xs-offset-2
            button.btn.btn-success.btn-lg type="submit"
              i.fa.fa-fw.fa-upload
              |&nbsp;suitebook予約情報CSVをインポート

      / = form_for form, url: {action: :create}, remote: true, html: {class: "form-horizontal"} do |f|

      /     / .panel.panel-default
      /     .form-group
      /       label.col-sm-2.control-label for="visitor_name"
      /         |ファイル
      /         span.require ＊
      /       .col-sm-8
      /         = f.file_field :file, class: "form-control", accept: ".xlsx", tabindex: 1

      /     .form-group
      /       .col-sm-12.text-right.button-area-right
      /         = f.submit('インポート開始', class: "btn btn-primary input-sm")

