- breadcrumb :reservation_import_suitebook
- provide :title, t("title.reservations.import_suitebook.index")

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p suitebookの宿泊情報CSVをインポートします。
        p ・ファイルを選択し、「インポート開始」ボタンを押すとファイルの読み込み処理が実施されます。
        p.attention ・指定できるファイルはCSVファイル（.csv）のみです。
        p ・１行目はヘッダー情報として扱い、２行目から取り込みます。

#message
  = render 'shared/error_messages', obj: @form

.row
  .col-xs-12
    .box.box-danger
      .box-header.with-border
        label suitebook宿泊情報取込
      .box-body
        = form_tag reservation_management_import_suitebook_create_path, method: :post, multipart: true, class: 'form-horizontal' do |f|
          .form-group
            label.col-xs-2
              |CSVファイル
              span.require ＊
            .col-xs-6
              = file_field_tag(:csv_file)
          .form-group
            .col-xs-3.col-xs-offset-2
              button.btn.btn-success.btn-lg type="submit"
                i.fa.fa-fw.fa-upload
                |&nbsp;suitebook宿泊情報CSVをインポート