/ ------------------------------------
/ CSSは app/views/summary/settlement/edit.html.slim と併用
/ ------------------------------------
- breadcrumb :settlement_template
- provide(:title, t("title.settlement_template.index"))

.row
  .col-sm-12
    .box.box-danger
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 精算書の設定
        ul
          li 精算書を作成する際に表示するテキストの初期値設定を行います。
          li 言語毎（日本語・中国語）に任意の名称やテキストを設定することにより、毎回精算書を作成する際に反映されます。
          li この画面は日本語の設定を表示しています。
          li 実際にPDFで出力される精算書とはレイアウトが多少異なります。
          li 各セクションにマウスオーバーし、背景色が変わる箇所をクリックすると編集モードとなります。(Escキーでキャンセル)
          li 毎月の精算書の作成時には、精算書毎に内容を変更したり、項目を追加することも可能です。

.row
  / = render 'button_edit'

#messages
  = render 'shared/error_messages', obj: @owner

.row.settlement
  .col-sm-2.left-index
    .box.box-info
      .box-body
        .col-sm-12
          .row.hover.hover_title data-target="title" １．タイトル
          .row.hover.hover_owner data-target="owner" ２．オーナー情報
          .row.hover.hover_company data-target="company" ３．自社情報
          .row.hover.hover_reservations data-target="reservations" ４．宿泊情報一覧
          .row.hover.hover_analysis_title data-target="analysis_title" ５．集計情報タイトル
          .row.hover.hover_analysis_left data-target="analysis_left" ６．集計情報（左側）
          .row.hover.hover_other_income data-target="other_income" ７．その他収入
          .row.hover.hover_other_cost data-target="other_cost" ８．その他費用
          .row.hover.hover_note data-target="note" ９．備考

  .col-sm-10
    .box.box-success
      .box-body
        #title_area
          = render 'master/settlement_template/form/title', template: @template

        .row
          / 左半分
          .col-sm-6
            #owner_area
              = render 'master/settlement_template/form/owner', template: @template
          / 右半分
          .col-sm-6
            #company_area
              = render 'master/settlement_template/form/company', template: @template

        / 宿泊情報一覧
        .row
          .col-sm-12
            #reservations_area
              = render 'master/settlement_template/form/reservations', template: @template

        .row.analysis_info
          .col-sm-12
            #analysis_title_area
              = render 'master/settlement_template/form/analysis_title', template: @template

          .col-sm-12
            / 右半分の左側
            .col-sm-6
              #analysis_left_area
                = render 'master/settlement_template/form/analysis_left', template: @template

            / 右半分の右側
            .col-sm-6
              #other_income_area
                = render 'master/settlement_template/form/other_income', template: @template

              #other_cost_area
                = render 'master/settlement_template/form/other_cost', template: @template

              #note_area
                = render 'master/settlement_template/form/note', template: @template

              .payee
                .col-sm-2 振込先
                .col-sm-10
                  p 三井住友銀行　京都支店　普通　12345
                  p 株式会社レ・コネクション

/ JSの処理はupdateの都度再読み込みするためここに記載
#from_js
  = render 'form_js'

