<% if @is_error %>
  alert('予期せぬエラーが発生しました。画面をリロードします。');
  location.reload()
<% else %>

  $('#<%= @target %>_area').html('<%= j(render "master/settlement_template/form/#{@target}", template: @template) %>');
  $('#from_js').html('<%= j(render "form_js") %>');

  // Ajaxでのパーシャル更新時は明示的ローディングを停止させる
  stopSpin($('.template-form'));
<% end %>
