<% breadcrumb :root %>
<% provide(:title, t("title.dashboard")) %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

<div clas="system_top">


  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">リリース情報、その他お知らせ（最新５件）</h3>
        </div>

        <div class="box-body">
          <table class="table table-hover">
            <tbody>
              <% @release_note.each do |note| %>
                <tr>
                  <td width="15%">
                    <div class="text-left"><%= l(note.open_date, format: :long) %></div>
                  </td>
                  <td width="10%">
                    <div class="text-left"><%= note_class_tag(note.note_class) %></div>
                  </td>
                  <td width="75%">
                    <p style="margin-top:0px;"><%= note.title %></p>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-right"><%= link_to('>>詳細を確認する', other_release_notes_path) %></div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <!-- col -->
    <div class="col-xs-6">
      <div class="box box-warning">
        <div class="box-header">
          <h3 class="box-title">対象ブラウザ</h3>
        </div>
        <div class="box-body">
          <p>当システムは、以下のブラウザで動作確認を行っています。</p>
          <p>・<%= image_tag 'browser_ch.png', {size: '25x25', alt: "Google Chrome"} %> Google Chrome</p>
          <p>・<%= image_tag 'browser_ff.png', {size: '25x25', alt: "Fire Fox"} %> Fire Fox</p>
          <p style="font-size: 12px;">　※ Internet Explorer <%= image_tag 'browser_ie.png', {size: '20x20', alt: "IE"} %> はサポート外ですので一部表示が乱れる場合があります。</p>
        </div>
      </div>
    </div>

    <!-- col -->
    <div class="col-xs-6">
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title">今後の追加予定機能</h3>
        </div>
        <div class="box-body">
          <ul>
            <% @scheduled_note.each do |note| %>
              <li><%= note.title %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- end row -->
</div>


<script>
// var ctx = document.getElementById('chart1').getContext('2d');
// var myChart = new Chart(ctx, {
//   type: 'bar',
//   data: {
//     labels: ['1', '2', '3', '4', '5', '6'],
//     datasets: [{
//       label: 'dataA',
//       data: [12, 19, 3, 17, 6, 3],
//       backgroundColor: "rgba(153,255,51,0.4)"
//     }, {
//       label: 'dataB',
//       data: [2, 29, 5, 5, 2, 3],
//       backgroundColor: "rgba(255,153,0,0.2)"
//     }, {
//       label: 'dataC',
//       data: [5, 20, 3, 4, 5, 7],
//       backgroundColor: "rgba(255,153,0,0.3)"
//     }, {
//       label: 'dataD',
//       data: [5, 34, 8, 7, 3, 1],
//       backgroundColor: "rgba(255,153,0,0.6)"
//     }]
//   }
// });


// var ctx = document.getElementById('chart1').getContext('2d');
// var myChart = new Chart(ctx, {
//   type: 'bar',
//   data: {
//     labels: ['4月', '5月', '6月'],
//     datasets: [{
//       label: '東福寺',
//       data: [90, 95, 77],
//       backgroundColor: "rgba(153,255,51,0.4)"
//     }, {
//       label: '六条西洞院',
//       data: [86, 79, 66],
//       backgroundColor: "rgba(255,153,0,0.2)"
//     }, {
//       label: '八条室町',
//       data: [100, 87, 75],
//       backgroundColor: "rgba(255,153,0,0.3)"
//     }, {
//       label: '八条室町',
//       data: [90, 100, 73],
//       backgroundColor: "rgba(255,153,0,0.6)"
//     }]
//   }
// });

// var ctx = document.getElementById("chart2").getContext('2d');
// var myChart = new Chart(ctx, {
//   type: 'doughnut',
//   data: {
//     labels: ["M", "T", "W", "T", "F", "S", "S"],
//     datasets: [{
//       backgroundColor: [
//         "#2ecc71",
//         "#3498db",
//         "#95a5a6",
//         "#9b59b6",
//         "#f1c40f",
//         "#e74c3c",
//         "#34495e"
//       ],
//       data: [12, 19, 3, 17, 28, 24, 7]
//     }]
//   }
// });
</script>