<% breadcrumb :release_note %>
<% provide(:title, t("title.other.release_note.index")) %>

<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
      </div>
      <div class="box-body">
        <p>リリース情報、各種お知らせを新しい順に表示します。</p>
      </div>
    </div>
  </div>
</div><!-- end row -->

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <!-- <div class="box-header"><h3 class="box-title"></h3></div> -->
      <div class="box-body">
        <table id="table_release_note_list" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th width="20%">日時</th>
            <th width="10%">分類</th>
            <th width="70%">内容</th>
          </tr>
          </thead>
          <tbody><% @release_note.each do |note| %>
          <tr>
            <td>
              <div class="text-left"><%= l(note.open_date, format: :long) %></div>
            </td>
            <td>
              <div class="text-left"><%= note_class_tag(note.note_class) %></div>
            </td>
            <td>
              <div class="title"><%= note.title %></div>
              <div class="note_content"><%= note.content.html_safe %></div>
            </td>
          </tr>
          <% end %></tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div><!-- end row -->

<!-- page script -->
<script>
  $(function () {
    $('#table_release_note_list').DataTable({
      <%= data_table_options lengthChange: false, ordering: false %>
    });
  });
</script>