.row
  .col-xs-12
    .box.box-info
      .box-header
        .col-sm-6.text-left
          h3.box-title
            = l form.search_check_in_day.to_date, format: :long

          / = render 'button_list', form: form
        .col-sm-6.text-right
          button.btn.btn-default.prev_day type="submit" style="margin-left: 2px;" tabindex="5"
            i.fa.fa-fw.fa-arrow-left
            | 前日を検索
          button.btn.btn-default.next_day type="submit" style="margin-left: 2px;" tabindex="4"
            | 翌日を検索
            i.fa.fa-fw.fa-arrow-right

      .box-body
        table.table.table-bordered.table-striped#table_daily_list
          thead
            tr
              th width="18%" 施設
              th width="18%" ゲスト名【国籍】
              th width="4%" 人数
              th width="4%" 泊数
              th width="12%" CI
              th width="5%" 時刻
              th width="12%" CO
              th width="10%" 予約サイト
              / th width="5%" 精算
              th width="8%" その他
              th width="5%"

          tbody.disp-vline
            - @form.daily_list.each do |row|
              tr
                td
                  = row.room_name
                td
                  div = reservation_status_badge(status: row.reservation&.status)
                  div = row.visitor_name
                  div = row.nationality
                td.count
                  = row.total_count
                td.number_of_nights
                  = row.number_of_nights
                td.check_in_date
                  span class= (row.is_check_in_today ? 'today' : '')
                    = row.check_in_date
                td.check_in_time
                  = row.check_in_time
                td.check_out_date
                  = row.check_out_date
                td.site
                  = row.site
                / td.pay_off
                  / = #row.pay_off
                td.etc_column
                  == etc_column_tag(row)
                td
                  / 詳細ボタン・新規ボタンのいずれか（新規ボタンは社員権限以上）
                  = detail_button_tag(row)

      .box-footer
        h4 = l form.search_check_in_day.to_date, format: :long

= render 'javascript', form: form
