
= form_for form, url: {action: :search}, html: {class: 'form-horizontal', id: 'daily_search_form'}, remote: true do |f|
  / .box.box-default.collapsed-box
  .box
    .box-header.with-border
      .box-title 検索条件
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="" data-toggle="tooltip" title="" data-original-title="Collapse"
          |検索条件ウィンドウを開閉する&nbsp;
          i.fa.fa-minus
          / i.fa.fa-plus

    .box-body

      .form-group
        label.col-sm-2.control-label for="search_check_in_date"
          |対象日
          span.require ＊
        .col-sm-4
          .input-group.date.col-sm-5 style="float: left; width: 200px;"
            = f.text_field :search_check_in_day, class: "form-control", maxlength: 10, readonly: true, tabindex: 1
            span.input-group-addon
              i.fa.fa-calendar

      .form-group
        label.col-sm-2.control-label for="search_in_out"
          |CI抽出
          span.require ＊

        .col-sm-6.search_inout_radio
          = f.radio_button :search_check_in_date_flag, false
          = f.label :search_check_in_date_flag_false, 'しない（対象日の宿泊全て）', class: 'form-check-label'

          = f.radio_button :search_check_in_date_flag, true
          = f.label :search_check_in_date_flag_true, '対象日のCIのみ', class: 'form-check-label'

    .box-footer style="display: block;"
      .pull-right
        button.btn.btn-default type="submit" style="margin-left: 2px;" tabindex="5"
          i.fa.fa-search 検索

