- breadcrumb :daily_list
- provide(:title, t("title.daily_list"))

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        ul
          li 指定日の全施設の予約情報を検索できます。
          li 「前日を検索」「翌日を検索」ボタンは検索条件「CI抽出」の設定を引き継ぎ、一覧左上の日付に対して前日、翌日の宿泊データを検索します。
          li 一覧のCIの表示は、チェックイン日が当日、かつステータスが「未清掃」、「CI可」のどちらかの場合、赤色の文字で強調されます。

#message
  = render 'shared/error_messages', obj: @form

/ 検索条件
#search
  = render 'search', form: @form

#daily_list
  = render 'list', form: @form