.row style="margin-top: 10px;"
  / ▼ 左寄せ

  .col-sm-6
    - if form.reservation_list.size > 0
      = link_btn_tag 'CSVダウンロード', reservation_management_monthly_list_csv_path(format: :csv)

  / ▼ 右寄せ
  .col-sm-6.text-right
    / ボタン押下時のJSの処理は _list.html.slimに記述
    button.btn.btn-default.prev_month type="submit" style="margin-left: 2px;" tabindex="5"
      i.fa.fa-fw.fa-arrow-left
      | 前月を検索
    button.btn.btn-default.next_month type="submit" style="margin-left: 2px;" tabindex="4"
      | 次月を検索
      i.fa.fa-fw.fa-arrow-right
