- submit_label = t "button.#{action}"

= form_for form, url: {action: action}, html: {class: "form-horizontal", id: "reservation_entry_form"} do |f|
  = render 'shared/error_messages', obj: form

  = f.hidden_field :id

  .form-group
    .col-sm-11.text-right
      = f.submit(submit_label , class: "btn btn-primary input-sm", tabindex: 999)

  .form-group
    label.col-sm-2.control-label
      = form_label :reservation, :reserve_date
      span.require ＊
    .col-sm-3
      / .input-group.date
      .input-group.date
        = f.text_field :reserve_date, class: "form-control calendar", maxlength: 10, tabindex: 1
        span.input-group-addon
          i.fa.fa-calendar

    label.col-sm-2.control-label for="room_id"
      = form_label :reservation, :room_id
      span.require ＊
    .col-sm-3
      = f.select :room_id, options_for_select( room_select_options, form.room_id ), {}, {class: "form-control select2", tabindex: 2}

  .form-group
    label.col-sm-2.control-label
      = form_label :reservation, :check_in_date
      span.require ＊
    .col-sm-3
      .input-group.date
        = f.text_field :check_in_date, class: "form-control calendar", maxlength: 10, tabindex: 3
        span.input-group-addon
          i.fa.fa-calendar

    label.col-sm-2.control-label for="number_of_nights"
      = form_label :reservation, :number_of_nights
      span.require ＊
    .col-sm-1
      = f.text_field :number_of_nights, class: "form-control maxlength", maxlength: 2, tabindex: 4

  .form-group
    label.col-sm-2.control-label for="nationality_id"
      = form_label :reservation, :nationality_id
      span.require ＊
    .col-sm-3
      = f.select :nationality_id, options_for_select( nationality_select_options, form.nationality_id ), {}, {class: "form-control select2", tabindex: 5}

  .form-group
    label.col-sm-2.control-label for="visitor_name"
      = form_label :reservation, :visitor_name
      span.require ＊
    .col-sm-3
      = f.text_field :visitor_name, class: "form-control maxlength", maxlength: 50, tabindex: 6

    label.col-sm-2.control-label for="tel"
      = form_label :reservation, :tel
    .col-sm-3
      = f.telephone_field :tel, class: "form-control maxlength", maxlength: 20, tabindex: 7, placeholder: "※半角数字、記号（ + - ）のみ"

  .form-group
    label.col-sm-2.control-label for="mail_address"
      = form_label :reservation, :mail_address
    .col-sm-3
      = f.text_field :mail_address, class: "form-control maxlength", maxlength: 120, tabindex: 8

  .form-group style="margin-bottom: 5px;"
    label.col-sm-2.control-label for="adult_count"
      |人数
      span.require style="margin-right:10px;" ＊
      |大人
    .col-sm-1 style="text-align:left;"
      = f.number_field :adult_count, class: "form-control maxlength", min: 1, maxlength: 2, tabindex: 9

  .form-group
    label.col-sm-2.control-label for="child_count"
      |子供
    .col-sm-1 style="text-align:left;"
      = f.number_field :child_count, class: "form-control maxlength", min: 0, maxlength: 2, tabindex: 10

    label.col-sm-1.control-label
      |合計
    .col-sm-1
      = number_field_tag :total_count, '', class: "form-control", disabled: true

  .form-group
    label.col-sm-2.control-label for="room_charge"
      = form_label :reservation, :room_charge
    .col-sm-3
      = f.text_field :room_charge, class: "form-control maxlength", maxlength: 12, tabindex: 11

  .form-group
    label.col-sm-2.control-label for="cleaning_fee"
      = form_label :reservation, :cleaning_fee
    .col-sm-3
      = f.text_field :cleaning_fee, class: "form-control maxlength", maxlength: 12, tabindex: 12

    label.col-sm-2.control-label for="site_code"
      = form_label :reservation, :site_code
      span.require ＊
    .col-sm-3
      = f.select :site_code, options_for_select( site_select_options, form.site_code ), {}, {class: "form-control select2", tabindex: 13}

  .form-group
    label.col-sm-2.control-label for="total"
      | 合計
    .col-sm-3
      = f.text_field :total, class: "form-control", disabled: true, placeholder: "自動計算"

    label.col-sm-2.control-label for="handling_charge"
      = form_label :reservation, :handling_charge
    .col-sm-3
      = f.text_field :handling_charge, class: "form-control", disabled: true, placeholder: "自動計算"

  .form-group
    label.col-sm-2.control-label for="note"
      = form_label :reservation, :note
    .col-sm-8
      = f.text_area :note, row: 4, class: "form-control maxlength", maxlength: 500, placeholder: "５００文字まで入力可能です。", tabindex: 14

  .form-group
    .col-sm-11.text-right
      = f.submit(submit_label , class: "btn btn-primary input-sm")

