.row
  .col-sm-12
    .box.box-warning
      .box-header
        - if form.monthly_list.present?
          h3.box-title
            = "#{form.search_check_in_month} 【#{form.room_full_code_name}】"
            span.monthly_total
              | 売上合計:
              i.fa.fa-fw.fa-yen
              = form.sum_total.to_s :delimited

            span.monthly_total
              |（宿泊費:
              i.fa.fa-fw.fa-yen
              = form.sum_room_charge.to_s :delimited

            span.monthly_total
              |&nbsp;清掃費:
              i.fa.fa-fw.fa-yen
              = form.sum_cleaning_fee.to_s :delimited

            span.monthly_total
              |&nbsp;食事代:
              i.fa.fa-fw.fa-yen
              = form.sum_meal_fee.to_s :delimited
              |）

        = render 'button_list', form: form

      .box-body.no-padding
        table.table.table-bordered#table_reservation_list
          thead
            tr
              th width="7%" rowspan="2"
                div 日付
              th width="20%" rowspan="2"
                div ゲスト名【国籍】
              / th width="10%" rowspan="2"  国籍
              th width="5%" rowspan="2"
                div 泊数
                .small CI時刻
              th width="7%" rowspan="2"
                div 人数
                div style='font-size: 0.7em;' （大人/子供）
              th width="20%" colspan="4"  宿泊売上
              th width="8%" rowspan="2"  予約<br/>サイト
              th width="5%" rowspan="2"  手数料
              th width="10%" rowspan="2"  予約日
              th width="5%" rowspan="2"
            tr
              th  宿泊料
              th  清掃費
              th  食事代
              th  合計

          tbody.disp-vline
            - form.monthly_list.each do |row|
              / - if date_info[:reservation]&.number_of_nights.to_in > 1
              = day_tr_tag(row)

      .box-footer
        = render 'button_list', form: form
        - if form.monthly_list.present?
          h4 = "#{form.search_check_in_month} 【#{form.room_full_code_name}】"

javascript:
  $(function(){
    $('[data-toggle=tooltip]').tooltip();
  });

  // JSからsubmit()を呼ぶとremote: trueにならない（Ajaxにならない）
  // https://blog.rista.jp/entry/2017/09/04/100006
  $('.prev_month').click(function() {
    var month = '#{l(form.search_original_month - 1.month, format: :default_h)}';
    $('#reservation_management_monthly_list_form_search_prev_next_month').val(month);
    Rails.fire($('#monthly_list_form')[0], 'submit');
  });

  $('.next_month').click(function() {
    var month = '#{l(form.search_original_month + 1.month, format: :default_h)}';
    $('#reservation_management_monthly_list_form_search_prev_next_month').val(month);
    Rails.fire($('#monthly_list_form')[0], 'submit');
  });