= form_for form, url: {action: :search}, html: {class: 'form-horizontal', id: 'monthly_list_form'}, remote: true do |f|
  = f.hidden_field :show_all_rooms

  .box
    .box-header.with-border
      .box-title
        |検索条件

        - if form.show_all_rooms
          span.show_all_rooms_link.attention ※施設の選択肢に非表示の部屋が含まれています。
        - else
          = link_to reservation_management_monthly_list_path(show_all_rooms: true), class: "show_all_rooms_link" do
            i.fa.fa-search
            |非表示の部屋も含めて検索

      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"
          |検索条件ウィンドウを開閉する&nbsp;
          i.fa.fa-minus
          / i.fa.fa-plus

    .box-body

      .form-group
        label.col-sm-2.control-label for="search_room_id"
          |施設
          span.require ＊
        .col-sm-3
          = f.select :search_room_id, options_for_select( room_select_options(form.show_all_rooms), form.search_room_id ), {}, {class: "form-control select2", style: "width:100%;", tabindex: 1}

        label.col-sm-2.control-label for="search_check_in_month"
          |対象月
          span.require ＊

        .col-sm-2
          .input-group
            = f.text_field :search_check_in_month, class: "form-control year_month"
            = f.hidden_field :search_prev_next_month
            span.input-group-addon
              i.fa.fa-calendar

    .box-footer style=("display: block;")
      / | 検索条件を指定してください。宿泊者氏名は部分一致させる方法で検索できます。（あいまい検索）
      | 検索条件を指定してください。
      .pull-right
        button.btn.btn-default type="submit" style="margin-left: 20px;" tabindex="3"
          i.fa.fa-search
          | 検索

