- breadcrumb :monthly_list
- provide(:title, t("title.monthly_list"))

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 月間の予約情報を施設別で検索できます。
        p 前月や来月を跨ぐ連泊の予約情報があるときは一覧に含めて表示されます。

#message
  = render 'shared/error_messages', obj: @form

/ 検索条件
#search
  = render 'search', form: @form

#monthly_list
  = render 'list', form: @form