$('#monthly_list').html('<%= j(render "list", form: @form) %>');

// 検索条件対象月の値のみ更新
$('#reservation_management_monthly_list_form_search_check_in_month').val('<%= @form.search_check_in_month %>')

// メッセージがあれば削除
$('#message').html('');

// Ajaxでのパーシャル更新時は明示的ローディングを停止させる
stopSpin($('#monthly_list_form'));