<% provide(:title, t("title.registration.edit")) %>

<div class="login-box-body" style="width: 450px;">
  <!-- ユーザー情報編集フォーム -->
  <p class="login-box-msg">アカウント情報を編集できます。</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render 'shared/error_messages', obj: resource %>

    <div class="form-group has-feedback">
      <label for="user_account">アカウント（コード）</label><br>
      <input type="text" class="form-control" value="<%= resource.account %>" disabled="disabled">
      <input type="hidden" name="user[account]" disabled="disabled" value="<%= resource.account %>" />
    </div>

    <div class="form-group has-feedback">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "氏名" %>
      <span class="form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :tel %><br />
      <%= f.text_field :tel, class: "form-control", placeholder: "TEL" %>
      <span class="fa fa-phone form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "off", class: "form-control", placeholder: "メールアドレス" %>
      <span class="fa fa-envelope-o form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <label for="password">新しいパスワード（変更しない場合は空欄のまま）</label><br>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "" %>
      <span class="fa fa-key form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <label for="password_confirmation">新しいパスワード（確認）</label><br>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "" %>
      <span class="fa fa-key form-control-feedback"></span>
    </div>

<% if false %>
    <div class="form-group has-feedback">
      <label for="current_password">現在のパスワード</label><br>
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "" %>
      <span class="fa fa-key form-control-feedback"></span>
    </div>
<% end %>

    <div class="form-group text-right">
      <%= f.submit("更新" , class: "btn btn-primary input-sm") %>
    </div>
    <p><a href="javascript:window.open('about:blank','_self').close();">このウィンドウを閉じる</a></p>
  <% end %>

</div>
