<div class="login-box-body">
  <!-- ログインフォーム -->
  <p class="login-box-msg">アカウントとパスワードを<br/>登録してください。</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <!-- get_alert(flash) -->

    <div class="form-group has-feedback">
      <%= f.text_field :account, autofocus: true, class: "form-control", placeholder: "アカウント" %>
      <span class="fa fa-user form-control-feedback"></span>
    </div>

    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上で入力してください)</em>
    <% end %>
    <div class="form-group has-feedback">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
      <span class="fa fa-key form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワードの確認" %>
      <span class="fa fa-key form-control-feedback"></span>
    </div>

    <div class="row">
      <div class="col-xs-8"></div>
      <div class="col-xs-4">
        <%= f.submit "登録", class: "btn btn-primary btn-block btn-flat" %>
      </div>
    </div>

  <% end %>

  <%= render "devise/shared/links" %>
</div>









<!-- 
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->
