.col-sm-12
  .box.box-success
    .box-header.with-border
      label 基本情報
      - if form.is_available
        .box-tools.pull-right style="margin-top: 2px;"
          = remote_link_btn_tag(label: '基本情報の編集',
                                path: reservation_management_whole_reservation_edit_basic_path(form.id),
                                icon_class: 'glyphicon-pencil',
                                button_class: 'btn-success')
    / 更新メッセージ
    .row
      .col-sm-12 style="z-index:2; height:0px;"
        #fadeout

    .box-body
      .panel.panel-default
        table.table.table-bordered.show_whole_reservation
          tr
            th.success ステータス
            td.status
              = reservation_status_badge(status: form.status)
              span.badge.bg-purple = '一棟貸'
            th.success データ登録方法
            td
              / TODO データなくておちるのなんとかせい
              = Settings.RESERVATION.REGISTRATION_TYPE_LABEL[@form.try(:registration_type)]
          tr
            th.success 施設
            td = form.building_name
            th.success 予約部屋数
            td = form.reservations.size
          tr
            th.success 予約日
            td colspan="3" = l(form.reserve_date, format: :long)
          tr
            th.success 宿泊日
            td = l(form.check_in_date, format: :long)
            th.success 泊数
            td = "#{form.number_of_nights}泊"
          tr
            th.success 予定CI時刻
            td colspan="3"
              = l(form.scheduled_check_in_time, format: :time) if form.scheduled_check_in_time

      .panel.panel-default
        table.table.table-bordered.show_whole_reservation
          tr
            th.success ゲスト名
            td = form.visitor_name
            th.success ゲスト名（カナ）
            td = form.visitor_name_kana
          tr
            th.success 国籍
            td = form.nationality_name
            th.success TEL
            td = form.tel
          tr
            th.success メールアドレス
            td colspan="3" = form.mail_address
          tr
            th.success 備考
            td colspan="3" = form.note

javascript:
  $(function(){
    // 4秒間表示
    setTimeout(function(){
      $("#fadeout").fadeOut(2000);
    },4000);
  });
