= form_for form, url: reservation_management_whole_reservation_cancel_path(@callback), html: {class: 'form-horizontal', id: 'whole_reservation_show_form', method: 'post'} do |f|
  = f.hidden_field :id
  = f.hidden_field :status
  = f.hidden_field :link_reservation_id

  / ▼ 左寄せ
  .col-sm-9.button-area-left
    / コールバック変数から一覧画面へのパスを取得
    - list_link = callback_path
    - if list_link.present?
      = link_btn_tag '一覧に戻る',
                     list_link,
                     icon_class: 'glyphicon-list-alt'

    = link_btn_tag '元の予約情報詳細画面に戻る',
                   reservation_management_show_path(form.link_reservation_id, @callback),
                   is_disabled: form.link_reservation_id.blank?

  - if form.is_available
    .col-sm-3.text-right.button-area-right
      button.btn.btn-danger.input-sm type='button' data-toggle='modal' data-target='#cancel_status'
        i.glyphicon.glyphicon-remove-circle.icon-right-label キャンセル