.col-sm-8
  .box.box-danger
    .box-header.with-border
      label 請求情報
      - if form.is_available
        .box-tools.pull-right style="margin-top: 2px;"
          = remote_link_btn_tag(label: '請求情報の編集',
                                path: reservation_management_whole_reservation_edit_payment_path(form.id),
                                icon_class: 'glyphicon-pencil',
                                button_class: 'btn-success')
    / 更新メッセージ
    .row
      .col-sm-12 style="z-index:2; height:0px;"
        #fadeout_payment

    .box-body
      .panel.panel-default
        table.table.table-bordered.show_whole_reservation
          tr
            th.success 宿泊料
            td.amount-label = form.room_charge.to_s(:delimited)
            th.success 人数
            td = "#{form.total_count}人（大人:#{form.adult_count} / 子供:#{form.child_count}）"
          tr
            th.success 清掃費
            td.amount-label = form.cleaning_fee.to_s(:delimited)
            th.success 予約サイト
            td = site_name(site_code: form.site_code)
          tr
            th.success 食事代
            td.amount-label = form.meal_fee.to_s(:delimited)
            th.success 宿泊税
            td.amount-label = form.accommodation_tax.to_s(:delimited)
          tr
            th.success 合計
            td.amount-label.bold = form.total.to_s(:delimited)
            th.success
            td

javascript:
  $(function(){
    // 4秒間表示
    setTimeout(function(){
      $("#fadeout_payment").fadeOut(2000);
    },4000);
  });
