.col-sm-12
  .box.box-warning
    .box-header.with-border
      label 各部屋毎の予約情報
      span style="font-size: 11px;"　※ 部屋名をクリックすると各部屋の詳細画面へ移動します
      - if form.is_available
        .box-tools.pull-right style="margin-top: 2px;"
          = remote_link_btn_tag(label: '各部屋毎の予約情報の編集（人数・金額の再分配）',
                                path: reservation_management_whole_reservation_edit_room_reservations_path(form.id, @callback),
                                icon_class: 'glyphicon-pencil',
                                button_class: 'btn-success')
    / 更新メッセージ
    .row
      .col-sm-12 style="z-index:2; height:0px;"
        #fadeout_room_reservations

    .box-body
      .panel.panel-default
        table.table.table-bordered#reservations
          thead
            tr
              th.success width="15%" 部屋
              th.success width="10%" ステータス
              th.success width="15%" 人数（大人 / 子供）
              th.success width="15%" 宿泊料
              th.success width="15%" 清掃費
              th.success width="15%" 食事代
              th.success width="15%" 合計
          tbody
            - form.reservations.each do |res|
              tr
                td = link_to form.room_names[res.room_id].name, reservation_management_show_path(res.id, @callback)
                td = reservation_status_badge(status: res.status)
                td
                  span.total_count = "#{res.total_count}人"
                  span.sub_count = "（#{res.adult_count} / #{res.child_count}）"
                td.amount-label = res.room_charge.to_s(:delimited)
                td.amount-label = res.cleaning_fee.to_s(:delimited)
                td.amount-label = res.meal_fee.to_s(:delimited)
                td.amount-label.bold = res.total.to_s(:delimited)

javascript:
  $(function(){
    // 5秒間表示
    setTimeout(function(){
      $("#fadeout_room_reservations").fadeOut(2000);
    },5000);
  });
