.settlement {

  .left-index {
    .row {
      margin-bottom: 15px;
    }
  }

  #title {
    margin: 0 1rem 3rem 1rem;
  }

  .owner_name,
  .company_name {
    font-size: 1.2em;
    margin-bottom: 2rem;
  }

  #reservations table th,
  #form_reservations table th {
    font-size: 0.9em;
  }

  #form_reservations table td {
    font-size: 0.9em;

    input {
      font-size: 0.8em;
    }
  }

  .analysis_info {

    #analysis_title_area #analysis_title {
      height: 50px;
    }

    .sub_title {
      margin: 20px 0;
      padding: 10px;
    }

    #form_analysis_title table.help_table {
      th.format {
        width: 10%;
      }
    }

    table.analysis_table  td {
      width: 50%;
    }
  }

  #note_area {
    min-height: 150px;
  }

  // ------------------------
  // マウスオーバー
  // ------------------------
  .hovered {
    background-color: #ecf3ff !important;
    cursor: pointer;
    // z-index: 999;
  }

  .hovered table th,
  .hovered table td, {
    background-color: #ecf3ff !important;
  }

  .settlement_form {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    // border: solid 2px #95ccff;
    border: solid 2px #d2dde6;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  }

  .settlement_form .box_title {
    position: absolute;
    display: inline-block;
    top: -9px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 15px;
    background: #FFF;
    color: #588cb7;
  }
}
