table#user_list {

  td.delete {
    text-align: center;
    vertical-align: middle;
  }

  td.tel {
    span.item {
      margin-right: 5px;
    }
  }

  .sub_info {
    font-size: 1.4rem;
    margin: 5px 0 0 10px;
  }
}