- submit_label = t "button.#{action}"
- url = send("master_areas_#{action}_path")

= form_with url: url, model: area, method: :post, local: true, class: "form-horizontal" do |f|

  = f.hidden_field :id if action == 'update'

  .form-group
    .col-sm-11.text-right
      = f.submit(submit_label , class: "btn btn-primary input-sm", tabindex: 999)

  .form-group
    label.col-sm-2.control-label
      div
        |コード
        span.require ＊
      div.small（表示順）
    .col-sm-2
      = f.text_field :area_cd, class: "form-control maxlength", maxlength: 6

    label.col-sm-2.control-label
      |表示状態
      span.require ＊
    .col-sm-3
      .radio
        label
          = f.radio_button :is_visible, true, {}
          |表示
        label style="margin-left: 15px;"
          = f.radio_button :is_visible, false, {}
          |非表示

  .form-group
    label.col-sm-2.control-label
      |名称
      span.require ＊
    .col-sm-3
      = f.text_field :name, class: "form-control maxlength", maxlength: 10

  - if action == 'update'

    hr

    label.col-sm-2.control-label 施設の設定
    .col-sm-9
      table.table.table-bordered#table_area_building_select_list
        thead
          tr.info
            th width="5%"
            th width="12%"
              small コード
            th
              small 施設名称
            th width="10%"
              small
            th width="30%"
              small 所属（紐付け）エリア
        tbody
          - building_list.each do |b|
            tr class = ("deletion" unless b.is_visible)
              td.text-center
                = check_box_tag 'area[building_ids][]', b.id, b.area_id == area.id, id: "building_ids_#{b.id}", class: 'icheck form-control'

              td = link_to(b.code, master_buildings_show_path(b.id), target: '_blank')
              td.name
                = '【非表示】' unless b.is_visible
                = b.name
              td.text-center = has_area_tag b.area.present?
              td
                = b.area.name if b.area


  .form-group
    .col-sm-11.text-right
      = f.submit(submit_label , class: "btn btn-primary input-sm")


- if action == 'update'

  = render 'list_edit_js'

  javascript:

    $(document).ready(function(){

      // icheckの装飾
      $('input.icheck').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
      });

      // 行クリックでチェック切り替え
      // $('tr').click(function(event) {
      //   $(this).iCheck('toggle');
      // });
    });



