<script>
  $(function () {
    $('#table_area_building_select_list').DataTable({
      <%= data_table_options not_sort: '[0]', order: [[1, "asc"]], paging: false, searching: false %>
    });
  });

</script>