.row
  .col-xs-12
    .box.box-success
      .box-body
        table.table.table-bordered.table-striped#table_area_list
          thead
            tr.success
              th width="8%"
                small コード
              th width="6%"
                small 公開
              th width="20%"
                small 名称
              th
                small 施設

          tbody.disp-vline
            - areas.each do |area|
              / tr class = ("deletion" unless area.is_visible)
              tr
                td = link_to area.area_cd, master_areas_edit_path(area.id)
                td.text-center = is_visible_tag area.is_visible
                td = area.name
                td = area.buildings.pluck(:name).join(' / ')

= render 'list_js'
