- breadcrumb :area_edit
- provide(:title, t("title.areas.edit"))
- action = controller.action_name

.row
  .col-sm-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p エリアを編集します。
        ul
          li コード（表示順）は文字列としてソートに利用されます。
          li 「2」と「11」では「11」が先に表示されます。数値以外の文字から始める、桁数を揃える等の採番方法を採用してください。
          li 施設一覧のチェックボックスのON／OFF切り替えて更新することにより、このエリアに紐付ける施設を設定することが出来ます。
          li 既に他のエリアに紐付け済みのエリアにチェックを入れて更新した場合、これまでの紐付きを解除して新たにこのエリアと紐付きが設定されます。
.row
  = render 'button_edit'

#messages
  = render 'shared/error_messages', obj: @area

.row
  .col-sm-12
    .box.box-success
      .box-body
        = render 'form', area: @area, action: 'update', building_list: @building_list

.row
  = render 'button_edit'