- breadcrumb :building_list
- provide(:title, t("title.areas.list"))

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 施設を分類するためのエリアを一覧で表示します。
        ul
          li 各列のヘッダーをクリックすることでデータをソートできます。

#message
  = render 'shared/error_messages', obj: @form

= render 'button_index'

/ 一覧
#area_list
  = render 'list', areas: @areas

= render 'button_index'