- breadcrumb :area_new
- provide(:title, t("title.areas.new"))
- action = controller.action_name

.row
  .col-sm-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p エリアを登録します。
        ul
          li コード（表示順）は文字列としてソートに利用されます。
          li 「2」と「11」では「11」が先に表示されます。数値以外の文字から始める、桁数を揃える等の採番方法を採用してください。

.row
  = render 'button_edit', parking: @area

#messages
  = render 'shared/error_messages', obj: @area

.row
  .col-sm-12
    .box.box-success
      .box-body
        = render 'form', area: @area, action: 'create'

.row
  = render 'button_edit', area: @area