/ ▼ 左寄せ
.col-sm-6.button-area-left
  = link_btn_tag '一覧に戻る',
                 summary_sales_list_transition_search_path,
                 icon_class: 'glyphicon-list-alt'

  - if @settlement
    button.btn.btn-danger.input-sm type='button' data-toggle='modal' data-target='#delete'
      i.fa.fa-trash
      |&nbsp;この精算書を削除

/ ▼ 右寄せ
.col-sm-6.text-right.button-area-right

  - if @settlement
    a target="_blank" href="#{summary_settlement_print_path(@settlement.id, format: :pdf)}"
      button.btn.btn-success
        i.fa.fa-file-pdf-o
        |&nbsp;PDFダウンロード

    / a target="_blank" href="#{summary_settlement_excel_path(@settlement.id, format: :xlsx)}"
    a target="_blank" href="#{summary_settlement_xlsx_path(@settlement.id, format: :xlsx)}"
      button.btn.btn-success
        i.fa.fa-file-pdf-o
        |&nbsp;エクセルダウンロード