/ ------------------------------------
/ CSSは app/assets/stylesheets/master/settlement_template.scss を利用
/ ------------------------------------
- breadcrumb :settlement_edit
- provide(:title, t("title.settlement.edit"))

.row
  .col-sm-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 精算書を編集します。
        ul
          li 各セクションにマウスオーバーし、背景色が変わる箇所をクリックすると編集モードとなります。(Escキーでキャンセル)
          li 宿泊情報はここでは編集できません。
          li 「この精算書を削除」ボタンでデータを削除すると、再度精算書データを作成することが出来ます。
        p 報酬率による清掃費の扱いについて
        ul
          li パターン１
          ul
            li 報酬率が50%に設定されている場合は、清掃費を含めた総売上に報酬率を掛けます。
          li パターン２
          ul
            li 報酬率が50%以外に設定されている場合は、総売上から清掃費を除いた宿泊料売上に報酬率を掛けます。加えて、そこから清掃費を費用項目として差し引きします。
            li このケースの場合は精算書データの作成時に、「その他費用」の項目に「清掃費」を自動で追加します。
          li 計算式: 入金額 =（売上合計 x 報酬率）+ その他収入 - その他費用

      .box-body
        .col-sm-12
          table.table.table-bordered
            tr
              th.success.col-sm-2 施設名称
              td = @settlement.room.building_name
              th.success.col-sm-2 エリア
              td = @settlement.room.building.area&.name || "未設定"
            tr
              th.success 対象月
              td = @year_month_label
              th.success オーナー名
              td = @owner.name || "未設定"
            tr
              th.success 精算書作成日時
              td = @settlement.created_at.to_s(:datetime)
              th.success 設定言語
              td = @owner.language_label
.row
  .col-sm-12
    = render 'shared/error_messages'

.row
  = render 'button_show', form: @form

.row.settlement
  .col-sm-2.left-index
    .box.box-info
      .box-body
        .col-sm-12
          .row.hover.hover_title data-target="title" １．タイトル
          .row.hover.hover_owner data-target="owner" ２．オーナー情報
          .row.hover.hover_company data-target="company" ３．自社情報
          .row.hover.hover_analysis_left data-target="analysis_left" ４．集計情報（左側）
          .row.hover.hover_other_income data-target="other_income" ５．#{@settlement.label_other_income}
          .row.hover.hover_other_cost data-target="other_cost" ６．#{@settlement.label_other_cost}
          .row.hover.hover_note data-target="note" ７．備考

  .col-sm-10
    .box.box-success
      .box-body
        #title_area
          = render 'summary/settlement/form/title', settlement: @settlement

        .row
          / 左半分
          .col-sm-6
            #owner_area
              = render 'summary/settlement/form/owner', settlement: @settlement
          / 右半分
          .col-sm-6
            #company_area
              = render 'summary/settlement/form/company', settlement: @settlement

        / 宿泊情報一覧
        .row
          .col-sm-12
            #reservations_area
              = render 'summary/settlement/form/reservations', settlement: @settlement

        .row.analysis_info.mt-4.mb-2
          .col-sm-12
            / 集計情報タイトル（編集モードなし）
            #analysis_title_area
              #analysis_title
                h4.text-center.sub_title
                  = convert_year_month_format_title(@settlement.settlement_template.analysis_title, @settlement.year_month)

          .col-sm-12
            / 右半分の左側
            .col-sm-6
              #analysis_left_area
                = render 'summary/settlement/form/analysis_left', settlement: @settlement

            / 右半分の右側
            .col-sm-6
              #other_income_area
                = render 'summary/settlement/form/other_income', settlement: @settlement

              #other_cost_area
                = render 'summary/settlement/form/other_cost', settlement: @settlement

              #note_area
                = render 'summary/settlement/form/note', settlement: @settlement

              .peyee
                - if @settlement.jp?
                  - if @owner.bank_label_jp.present?
                    .col-sm-2 振込先
                    .col-sm-10
                      p = @owner.bank_label_jp
                      p = @owner.account_name
                - else
                  - if @owner.bank_name.present? || @owner.account_number.present? || @owner.account_name.present?
                    .row.mb-2
                      .col-sm-4 Bank Name
                      .col-sm-8 = @owner.bank_name
                    .row.mb-2
                      .col-sm-4 Account Number
                      .col-sm-8 = @owner.account_number
                    - if @owner.address1.present? || @owner.address2.present?
                      .row.mb-2
                        .col-sm-4 Address
                        .col-sm-8 = @owner.full_address
                    - if @owner.swift_code.present?
                      .row.mb-2
                        .col-sm-4 Swift Code
                        .col-sm-8 = @owner.swift_code
                    - if @owner.account_name.present?
                      .row.mb-2
                        .col-sm-4 Account Name
                        .col-sm-8 = @owner.account_name

/ 削除ボタンクリック時の確認モーダル
= render 'modal/common/confirm', modal_id: 'delete',
                                modal_class: 'modal-default',
                                callback: "location.href = '#{summary_settlement_delete_path(@settlement.id)}';",
                                title: '精算書の削除',
                                body: 'この精算書を削除してよろしいですか？<br>※売上一覧画面から再作成することが可能です。'

/ JSの処理はupdateの都度再読み込みするためここに記載
#from_js
  = render 'form_js'
