- breadcrumb :settlement_new
- provide(:title, t("title.settlement.new"))

.row
  .col-sm-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 精算書を作成します。
        ul
          li オーナーマスタの言語設定から精算書テンプレートを参照し、項目名をコピーして精算書データを作成します。
          li 精算書データの作成後、収入や費用項目を個別に追加、編集することが可能です。

      .box-body
        .col-sm-12
          table.table.table-bordered
            tr
              th.success.col-sm-2 施設名称
              td = @room.building_name
              th.success.col-sm-2 エリア
              td = @room.building.area&.name || "未設定"
            tr
              th.success 対象月
              td = @year_month_label
              th.success オーナー名
              td = @room.building&.owner&.name || "未設定"
            tr
              th.success -
              td
              th.success 設定言語
              td = @room.building&.owner&.language_label
.row
  .col-sm-12
    = render 'shared/error_messages'

.row
  = render 'button_show', form: @form

.row
  .col-sm-12
    .box.box-danger
      .box-header.with-border
      .box-body
        .col-sm-12
          h4 #{@year_month_label} 「#{@room.building_name}」 の精算書を作成します

        = form_with url: summary_settlement_create_path, scope: :settlement, method: :post, local: true, class: 'form-horizontal' do |f|
          = f.hidden_field :room_id, value: @room.id
          = f.hidden_field :year_month, value: @year_month
          - template_class = flash[:error] ? 'disabled' : ''

          .form-group
            .col-sm-3
              = f.submit 'テンプレートの内容を元に作成する', name: 'settlement[template]', class: "btn btn-sm btn-info col-sm-12 #{template_class}"
            .col-sm-9
              .desc.small オーナーの精算書言語設定に合致する精算書テンプレートの項目で作成します。

          .form-group
            .col-sm-3
              - is_disabeled = (flash[:error].blank? && @is_prev_data_exists) ? '' : 'disabled'
              = f.submit '前月の内容を元に作成する', name: 'settlement[prev_data]', class: "btn btn-sm btn-info col-sm-12 #{is_disabeled}"
              / = f.submit '前月の内容を元に作成する', name: 'settlement[prev_data]', class: 'btn btn-info col-sm-12'
            .col-sm-8
              .small
                |この施設の前月に作成した精算書がある場合は、その項目名称を引き継いで（コピーして）作成します。
                br
                |この施設に毎回独自に追加する収入、費用項目がある場合に利用します。※金額は引き継ぎません。
