<% if @is_error %>
  alert('予期せぬエラーが発生しました。画面をリロードします。');
  location.reload()
<% else %>

  $('#<%= @target %>_area').html('<%= j(render "summary/settlement/form/#{@target}", settlement: @settlement) %>');
  $('#from_js').html('<%= j(render "form_js") %>');

  // 入金額を更新
  $('#owner_reward').text('<%= @settlement.analysis1.owner_reward %>');

  // Ajaxでのパーシャル更新時は明示的ローディングを停止させる
  stopSpin($('.settlement-form'));
<% end %>
