- template = settlement.settlement_template

#analysis_left.hover data-target="analysis_left"
  table.table.table-bordered.analysis_table
    tr
      td.text-center = settlement.label_sales
      td.amount = settlement.analysis1.total.to_s(:delimited)
    tr
      td.text-center = settlement.label_target_days
      td.amount = settlement.analysis1.target_days
    tr
      td.text-center = settlement.label_working_days
      td.amount = settlement.analysis1.working_days
    tr
      td.text-center = settlement.label_guest_count
      td.amount = settlement.analysis1.guest_count
    tr
      td.text-center = settlement.label_occ
      td.amount
        = settlement.analysis1.occ if settlement.analysis1.occ
    tr
      td.text-center = settlement.label_adr
      td.amount
        = settlement.analysis1.adr if settlement.analysis1.adr
    tr
      td.text-center = settlement.label_rev_par
      td.amount
        = settlement.analysis1.rev_par if settlement.analysis1.rev_par

  table.table.table-bordered.analysis_table
    tr
      td.text-center = settlement.label_owner_sales
      td.amount = settlement.analysis1.owner_total.to_i.to_s(:delimited)
    tr
      td.text-center = settlement.label_other_income_total
      td.amount
        span#total_income_label = settlement.total_income.to_s(:delimited)
    tr
      td.text-center = settlement.label_other_cost_total
      td.amount
        span#total_fee_label = settlement.total_fee.to_s(:delimited)

  table.table.table-bordered.analysis_table
    tr
      td.text-center = settlement.label_reward_rate
      td.amount = "#{settlement.reward_rate}%"
    tr.danger
      td.text-center = settlement.label_payment_amount
      td.amount
        span#owner_reward= settlement.analysis1.owner_reward

  / 施設に設定されている報酬率が変更されている場合
  - if settlement.reward_rate_changed?
    .attention.text-right
      small 施設に設定されている最新の報酬率が変更されています。
      - btn_tag = bts_btn_tag("報酬率を再設定する", icon_class: "glyphicon-refresh", button_class: 'btn-default input-xs')
      = link_to btn_tag, summary_settlement_refresh_reward_rate_path(settlement.id),
                      data: {confirm: "この精算書に報酬率を最新の設定で更新してもよろしいですか？"}
      br
      br

  h4 = convert_year_month_format_title(template.next_month_title, settlement.year_month, true)

  table.table.table-bordered.analysis_table
    tr
      td.text-center = settlement.label_sales
      td.amount = settlement.analysis2&.total&.to_s(:delimited).presence || 0
    tr
      td.text-center = settlement.label_target_days
      td.amount = settlement.analysis2.target_days
    tr
      td.text-center = settlement.label_working_days
      td.amount = settlement.analysis2.working_days
    tr
      td.text-center = settlement.label_guest_count
      td.amount = settlement.analysis2.guest_count
    tr
      td.text-center = settlement.label_occ
      td.amount
        = settlement.analysis2.occ if settlement.analysis2.occ
    tr
      td.text-center = settlement.label_adr
      td.amount
        = settlement.analysis2.adr if settlement.analysis2.adr
    tr
      td.text-center = settlement.label_rev_par
      td.amount
        = settlement.analysis2.rev_par if settlement.analysis2.rev_par

#form_analysis_left.row.settlement_form.hidden
  span.box_title 集計情報（項目名のみ変更可）

  = form_with model: settlement, url: summary_settlement_update_path, class: "settlement-form form-horizontal mt-4" do |f|
    / ビュー更新時のターゲット、フォーマットキャンセル時も利用
    = f.hidden_field :target, value: 'analysis_left'
    = f.hidden_field :id

    .form-group
      .col-sm-6.text-center
        b 項目名
      .col-sm-6.text-center
        b 金額

    .form-group
      .col-sm-7
        = f.text_field :label_sales, class: "form-control maxlength", maxlength: 15
      .col-sm-5
        = text_field_tag :total, settlement.analysis1.total.to_s(:delimited), {class: 'form-control amount', disabled: true}

    .form-group
      .col-sm-7
        = f.text_field :label_target_days, class: "form-control maxlength", maxlength: 15
      .col-sm-5
        = text_field_tag :target_days, settlement.analysis1.target_days, {class: 'form-control amount', disabled: true}

    .form-group
      .col-sm-7
        = f.text_field :label_working_days, class: "form-control maxlength", maxlength: 15
      .col-sm-5
        = text_field_tag :working_days, settlement.analysis1.working_days, {class: 'form-control amount', disabled: true}

    .form-group
      .col-sm-7
        = f.text_field :label_guest_count, class: "form-control maxlength", maxlength: 15
      .col-sm-5
        = text_field_tag :guest_count, settlement.analysis1.guest_count, {class: 'form-control amount', disabled: true}

    .form-group
      .col-sm-7
        = f.text_field :label_occ, class: "form-control maxlength", maxlength: 15
      .col-sm-5
        = text_field_tag :occ, settlement.analysis1.occ, {class: 'form-control amount', disabled: true}

    .form-group
      .col-sm-7
        = f.text_field :label_adr, class: "form-control maxlength", maxlength: 15
      .col-sm-5
        = text_field_tag :adr, settlement.analysis1.adr, {class: 'form-control amount', disabled: true}

    .form-group
      .col-sm-7
        = f.text_field :label_rev_par, class: "form-control maxlength", maxlength: 15
      .col-sm-5
        = text_field_tag :rev_par, settlement.analysis1.rev_par, {class: 'form-control amount', disabled: true}

    hr

    .form-group
      .col-sm-7
        = f.text_field :label_owner_sales, class: "form-control maxlength", maxlength: 15
      .col-sm-5
        = text_field_tag :owner_total, settlement.analysis1.owner_total.to_i.to_s(:delimited), {class: 'form-control amount', disabled: true}

    .form-group
      .col-sm-7
        = f.text_field :label_other_income_total, class: "form-control maxlength", maxlength: 15
      .col-sm-5
        = text_field_tag :total_income, settlement.total_income.to_s(:delimited), {class: 'form-control amount', disabled: true}

    .form-group
      .col-sm-7
        = f.text_field :label_other_cost_total, class: "form-control maxlength", maxlength: 15
      .col-sm-5
        = text_field_tag :total_fee, settlement.total_fee.to_s(:delimited), {class: 'form-control amount', disabled: true}

    .form-group
      .col-sm-7
        = f.text_field :label_reward_rate, class: "form-control maxlength", maxlength: 15
      .col-sm-5
        = text_field_tag :reward_rate, settlement.reward_rate, {class: 'form-control amount', disabled: true}

    .form-group
      .col-sm-7
        = f.text_field :label_payment_amount, class: "form-control maxlength", maxlength: 15
      .col-sm-5
        = text_field_tag :payment_amount, settlement.analysis1.owner_reward, {class: 'form-control amount', disabled: true}


    .form-group.mb-4
      .col-sm-12.text-right
        = f.submit(t("button.update"), class: "btn btn-primary btn-sm")