- template = settlement.settlement_template

#company.hover data-target="company"
  .company_name = settlement.company_name
  .mb-2 = settlement.company_info1
  .mb-2 = settlement.company_info2
  .mb-4 = settlement.company_info3

#form_company.row.settlement_form.hidden
  span.box_title 自社情報
  = form_with model: settlement, url: summary_settlement_update_path, class: "settlement-form form-horizontal mt-4" do |f|
    / ビュー更新時のターゲット、フォーマットキャンセル時も利用
    = f.hidden_field :target, value: 'company'
    = f.hidden_field :id

    .form-group
      label.col-sm-3.control-label.small 社名
      .col-sm-9
        = f.text_field :company_name, class: "form-control maxlength", maxlength: 50

    .form-group
      label.col-sm-3.control-label.small 会社情報１
      .col-sm-9
        = f.text_field :company_info1, class: "form-control maxlength", maxlength: 50

    .form-group
      label.col-sm-3.control-label.small 会社情報２
      .col-sm-9
        = f.text_field :company_info2, class: "form-control maxlength", maxlength: 50

    .form-group
      label.col-sm-3.control-label.small 会社情報３
      .col-sm-9
        = f.text_field :company_info3, class: "form-control maxlength", maxlength: 50

    .form-group
      .col-sm-12.text-right
        = f.submit(t("button.update"), class: "btn btn-primary btn-sm")
