#note.hover data-target="note"
  - if settlement.note1.present?
    p = settlement.note1
  - if settlement.note2.present?
    p = settlement.note2
  - if settlement.note3.present?
    p = settlement.note3
  - if settlement.note4.present?
    p = settlement.note4

  - if settlement.note1.blank? && settlement.note2.blank? && settlement.note3.blank? && settlement.note4.blank?
    p ※備考は設定されていません。

#form_note.row.settlement_form.hidden
  span.box_title 備考エリア
  = form_with model: settlement, url: summary_settlement_update_path, class: "settlement-form form-horizontal mt-4" do |f|
    / ビュー更新時のターゲット、フォーマットキャンセル時も利用
    = f.hidden_field :target, value: 'note'
    = f.hidden_field :id

    .form-group
      label.col-sm-2.small 備考１
      .col-sm-10
        = f.text_field :note1, class: "form-control maxlength", maxlength: 100

    .form-group
      label.col-sm-2.small 備考２
      .col-sm-10
        = f.text_field :note2, class: "form-control maxlength", maxlength: 100

    .form-group
      label.col-sm-2.small 備考３
      .col-sm-10
        = f.text_field :note3, class: "form-control maxlength", maxlength: 100

    .form-group
      label.col-sm-2.small 備考４
      .col-sm-10
        = f.text_field :note4, class: "form-control maxlength", maxlength: 100

    .form-group
      .col-sm-12.text-right
        = f.submit(t("button.update"), class: "btn btn-primary btn-sm")
