- template = settlement.settlement_template
- is_include_cleaning_fee = settlement.reward_include_cleaning_fee?

#other_cost.hover data-target="other_cost"
  p = settlement.label_other_cost

  table.table.table-bordered.analysis_table
    tr
      td.text-center = settlement.label_site_fee
      td.amount
        = settlement.site_fee.to_s(:delimited) if settlement.site_fee
    tr
      td.text-center = settlement.label_electrical_fee
      td.amount
        = settlement.electrical_fee.to_s(:delimited) if settlement.electrical_fee
    tr
      td.text-center = settlement.label_gas_fee
      td.amount
        = settlement.gas_fee.to_s(:delimited) if settlement.gas_fee
    tr
      td.text-center = settlement.label_water_fee
      td.amount
        = settlement.water_fee.to_s(:delimited) if settlement.water_fee
    tr
      td.text-center = settlement.label_internet_fee
      td.amount
        = settlement.internet_fee.to_s(:delimited) if settlement.internet_fee
    tr
      td.text-center = settlement.label_site_controller_fee
      td.amount
        = settlement.site_controller_fee.to_s(:delimited) if settlement.site_controller_fee

    - if !is_include_cleaning_fee && settlement.label_system_fee1.present?
      tr
        td.text-center = settlement.label_system_fee1
        td.amount
          = settlement.system_fee1.to_s(:delimited) if settlement.system_fee1

    - if settlement.label_free_fee1.present? || settlement.free_fee1
      tr
        td.text-center = settlement.label_free_fee1
        td.amount
          = settlement.free_fee1.to_s(:delimited) if settlement.free_fee1

    - if settlement.label_free_fee2.present? || settlement.free_fee2
      tr
        td.text-center = settlement.label_free_fee2
        td.amount
          = settlement.free_fee2.to_s(:delimited) if settlement.free_fee2

    - if settlement.label_free_fee3.present? || settlement.free_fee3
      tr
        td.text-center = settlement.label_free_fee3
        td.amount
          = settlement.free_fee3.to_s(:delimited) if settlement.free_fee3

    - if settlement.label_free_fee4.present? || settlement.free_fee4
      tr
        td.text-center = settlement.label_free_fee4
        td.amount
          = settlement.free_fee4.to_s(:delimited) if settlement.free_fee4

    - if settlement.label_free_fee5.present? || settlement.free_fee5
      tr
        td.text-center = settlement.label_free_fee5
        td.amount
          = settlement.free_fee5.to_s(:delimited) if settlement.free_fee5

    tr
      td.text-center = settlement.label_total_fee
      td.amount = settlement.total_fee.to_s(:delimited)

#form_other_cost.row.settlement_form.hidden
  span.box_title = settlement.label_other_cost
  = form_with model: settlement, url: summary_settlement_update_path, class: "settlement-form form-horizontal mt-4" do |f|
    / ビュー更新時のターゲット、フォーマットキャンセル時も利用
    = f.hidden_field :target, value: 'other_cost'
    = f.hidden_field :id

    .form-group
      .col-sm-7.text-center
        b 項目名
      .col-sm-5.text-center
        b 金額

    .form-group
      .col-sm-7
        = text_field_tag :label_site_fee, settlement.label_site_fee, {class: 'form-control', disabled: true}
      .col-sm-5
        = f.number_field :site_fee, class: "form-control maxlength amount calc_fee", maxlength: 7, min: 0

    .form-group
      .col-sm-7
        = text_field_tag :label_electrical_fee, settlement.label_electrical_fee, {class: 'form-control', disabled: true}
      .col-sm-5
        = f.number_field :electrical_fee, class: "form-control maxlength amount calc_fee", maxlength: 7, min: 0

    .form-group
      .col-sm-7
        = text_field_tag :label_gas_fee, settlement.label_gas_fee, {class: 'form-control', disabled: true}
      .col-sm-5
        = f.number_field :gas_fee, class: "form-control maxlength amount calc_fee", maxlength: 7, min: 0

    .form-group
      .col-sm-7
        = text_field_tag :label_water_fee, settlement.label_water_fee, {class: 'form-control', disabled: true}
      .col-sm-5
        = f.number_field :water_fee, class: "form-control maxlength amount calc_fee", maxlength: 7, min: 0

    .form-group
      .col-sm-7
        = text_field_tag :label_internet_fee, settlement.label_internet_fee, {class: 'form-control', disabled: true}
      .col-sm-5
        = f.number_field :internet_fee, class: "form-control maxlength amount calc_fee", maxlength: 7, min: 0

    .form-group
      .col-sm-7
        = text_field_tag :label_site_controller_fee, settlement.label_site_controller_fee, {class: 'form-control', disabled: true}
      .col-sm-5
        = f.number_field :site_controller_fee, class: "form-control maxlength amount calc_fee", maxlength: 7, min: 0

    - if !is_include_cleaning_fee
      .form-group
        .col-sm-7
          = f.text_field :label_system_fee1, class: "form-control maxlength", maxlength: 15, placeholder: 'システム自動追加項目'
        .col-sm-5
          = f.number_field :system_fee1, class: "form-control maxlength amount calc_fee", maxlength: 7, min: 0

    .form-group
      .col-sm-7
        = f.text_field :label_free_fee1, class: "form-control maxlength", maxlength: 15, placeholder: 'フリー入力'
      .col-sm-5
        = f.number_field :free_fee1, class: "form-control maxlength amount calc_fee", maxlength: 7, min: 0

    .form-group
      .col-sm-7
        = f.text_field :label_free_fee2, class: "form-control maxlength", maxlength: 15, placeholder: 'フリー入力'
      .col-sm-5
        = f.number_field :free_fee2, class: "form-control maxlength amount calc_fee", maxlength: 7, min: 0

    .form-group
      .col-sm-7
        = f.text_field :label_free_fee3, class: "form-control maxlength", maxlength: 15, placeholder: 'フリー入力'
      .col-sm-5
        = f.number_field :free_fee3, class: "form-control maxlength amount calc_fee", maxlength: 7, min: 0

    .form-group
      .col-sm-7
        = f.text_field :label_free_fee4, class: "form-control maxlength", maxlength: 15, placeholder: 'フリー入力'
      .col-sm-5
        = f.number_field :free_fee4, class: "form-control maxlength amount calc_fee", maxlength: 7, min: 0

    .form-group
      .col-sm-7
        = f.text_field :label_free_fee5, class: "form-control maxlength", maxlength: 15, placeholder: 'フリー入力'
      .col-sm-5
        = f.number_field :free_fee5, class: "form-control maxlength amount calc_fee", maxlength: 7, min: 0

    .form-group
      / label.col-sm-7.control-label.text-right 合計
      .col-sm-7
        = f.text_field :label_total_fee, class: "form-control maxlength", maxlength: 15, placeholder: '合計ラベル'
      .col-sm-5
        = text_field_tag :total_fee, settlement.total_fee, {class: 'form-control amount', disabled: true}

    .form-group.mb-4
      .col-sm-12.text-right
        = f.submit(t("button.update"), class: "btn btn-primary btn-sm")
