- template = settlement.settlement_template

#other_income.hover data-target="other_income"
  p = settlement.label_other_income

  table.table.table-bordered.analysis_table
    tr
      td.text-center = settlement.label_internet_income
      td.amount
        = settlement.internet_income.to_s(:delimited) if settlement.internet_income

    - if settlement.label_free_income1.present? || settlement.free_income1
      tr
        td.text-center = settlement.label_free_income1
        td.amount
          = settlement.free_income1.to_s(:delimited) if settlement.free_income1

    - if settlement.label_free_income2.present? || settlement.free_income2
      tr
        td.text-center = settlement.label_free_income2
        td.amount
          = settlement.free_income2.to_s(:delimited) if settlement.free_income2

    - if settlement.label_free_income3.present? || settlement.free_income3
      tr
        td.text-center = settlement.label_free_income3
        td.amount
          = settlement.free_income3.to_s(:delimited) if settlement.free_income3

    - if settlement.label_free_income4.present? || settlement.free_income4
      tr
        td.text-center = settlement.label_free_income4
        td.amount
          = settlement.free_income4.to_s(:delimited) if settlement.free_income4

    - if settlement.label_free_income5.present? || settlement.free_income5
      tr
        td.text-center = settlement.label_free_income5
        td.amount
          = settlement.free_income5.to_s(:delimited) if settlement.free_income5

    tr
      td.text-center = settlement.label_total_income
      td.amount = settlement.total_income.to_s(:delimited)

#form_other_income.row.settlement_form.hidden
  span.box_title = settlement.label_other_income
  = form_with model: settlement, url: summary_settlement_update_path, class: "settlement-form form-horizontal mt-4" do |f|
    / ビュー更新時のターゲット、フォーマットキャンセル時も利用
    = f.hidden_field :target, value: 'other_income'
    = f.hidden_field :id

    .form-group
      .col-sm-6.text-center
        b 項目名
      .col-sm-6.text-center
        b 金額

    .form-group
      .col-sm-7
        = text_field_tag :label_internet_income, settlement.label_internet_income, {class: 'form-control', disabled: true}
      .col-sm-5
        = f.number_field :internet_income, class: "form-control maxlength amount calc_income", maxlength: 7, min: 0

    .form-group
      .col-sm-7
        = f.text_field :label_free_income1, class: "form-control maxlength", maxlength: 15, placeholder: 'フリー入力'
      .col-sm-5
        = f.number_field :free_income1, class: "form-control maxlength amount calc_income", maxlength: 7, min: 0

    .form-group
      .col-sm-7
        = f.text_field :label_free_income2, class: "form-control maxlength", maxlength: 15, placeholder: 'フリー入力'
      .col-sm-5
        = f.number_field :free_income2, class: "form-control maxlength amount calc_income", maxlength: 7, min: 0

    .form-group
      .col-sm-7
        = f.text_field :label_free_income3, class: "form-control maxlength", maxlength: 15, placeholder: 'フリー入力'
      .col-sm-5
        = f.number_field :free_income3, class: "form-control maxlength amount calc_income", maxlength: 7, min: 0

    .form-group
      .col-sm-7
        = f.text_field :label_free_income4, class: "form-control maxlength", maxlength: 15, placeholder: 'フリー入力'
      .col-sm-5
        = f.number_field :free_income4, class: "form-control maxlength amount calc_income", maxlength: 7, min: 0

    .form-group
      .col-sm-7
        = f.text_field :label_free_income5, class: "form-control maxlength", maxlength: 15, placeholder: 'フリー入力'
      .col-sm-5
        = f.number_field :free_income5, class: "form-control maxlength amount calc_income", maxlength: 7, min: 0

    .form-group
      / label.col-sm-7.control-label.text-right 合計
      .col-sm-7
        = f.text_field :label_total_income, class: "form-control maxlength", maxlength: 15, placeholder: '合計ラベル'
      .col-sm-5
        = text_field_tag :total_income, settlement.total_income, {class: 'form-control amount', disabled: true}

    .form-group.mb-4
      .col-sm-12.text-right
        = f.submit(t("button.update"), class: "btn btn-primary btn-sm")

      / .col-sm-12
        .small.attention ※金額の項目が未入力の場合は合計に加算されません。
