- template = settlement.settlement_template

#owner.hover data-target="owner"
  .owner_name #{settlement.owner_name}　#{template.honorific}
  .mb-2 #{template.building}　#{settlement.building}
  .mb-4 #{template.address}　#{settlement.address}

#form_owner.row.settlement_form.hidden
  span.box_title オーナー情報
  = form_with model: settlement, url: summary_settlement_update_path, class: "settlement-form form-horizontal mt-4" do |f|
    / ビュー更新時のターゲット、フォーマットキャンセル時も利用
    = f.hidden_field :target, value: 'owner'
    = f.hidden_field :id

    .form-group
      label.col-sm-2.control-label.small 名称
      .col-sm-10
        = f.text_field :owner_name, class: "form-control maxlength", maxlength: 20

    .form-group
      label.col-sm-2.control-label.small = template.building
      .col-sm-10
        = f.text_field :building, class: "form-control maxlength", maxlength: 20

    .form-group
      label.col-sm-2.control-label.small = template.address
      .col-sm-10
        = f.text_field :address, class: "form-control maxlength", maxlength: 100

    .form-group
      .col-sm-12.text-right
        = f.submit(t("button.update"), class: "btn btn-primary btn-sm")
