/ -------------------------------------------------
/ テンプレート設定とは異なり、このセクションは編集フォームなし
/ -------------------------------------------------

- template = settlement.settlement_template

#reservations.header_fix_table_wrapper
  table.table.table-bordered.reservation_table
    thead
      tr.success.small
        th
        th = template.visitor_name
        th = template.nationality
        th = template.number_of_nights
        th = template.total_count
        th = template.adult_count
        th = template.child_count
        th = template.room_charge
        th = template.cleaning_fee
        th = template.total
        th = template.site
        th = template.handling_charge
        th = template.reservation_date

    tbody
      - if settlement.reservation_list.blank?
        tr
          td.text-center colspan="13" 宿泊情報がありません。
      - else
        - sum_list = Hash.new(0)
        - settlement.reservation_list.each do |row|
          tr
            td.text-center
              p.date = row.date
            td
              = row.visitor_name + '様' if row.visitor_name
            td = row.nationality_name
            td.total = row.number_of_nights
            td.total
              = row.total_count if row.total_count.to_i > 0
            td.total
              = row.adult_count if row.adult_count.to_i > 0
            td.total
              = row.child_count if row.child_count.to_i > 0
            td.total
              = row.room_charge.to_s(:delimited) if row.room_charge.to_i > 0
            td.total
              = row.cleaning_fee.to_s(:delimited) if row.cleaning_fee.to_i > 0
            td.total
              = row.total.to_s(:delimited) if row.total.to_i > 0
            td.text-center = row.site
            td.total
              = row.handling_charge.to_s(:delimited) if row.handling_charge.to_i > 0
            td.text-center = row.reserve_date.to_s(:slash) if row.reserve_date

            / 合計計算
            - sum_list[:number_of_nights] += row.number_of_nights.to_i
            - sum_list[:total_count]      += row.total_count.to_i
            - sum_list[:adult_count]      += row.adult_count.to_i
            - sum_list[:child_count]      += row.child_count.to_i
            - sum_list[:room_charge]      += row.room_charge.to_i
            - sum_list[:cleaning_fee]     += row.cleaning_fee.to_i
            - sum_list[:total]            += row.total.to_i
            - sum_list[:handling_charge]  += row.handling_charge.to_i

        / ループの外で合計行を出力
        tr
          td
          td
          td
          td.total = sum_list[:number_of_nights]
          td.total = sum_list[:total_count]
          td.total = sum_list[:adult_count]
          td.total = sum_list[:child_count]
          td.total = sum_list[:room_charge].to_s(:delimited)
          td.total = sum_list[:cleaning_fee].to_s(:delimited)
          td.total = sum_list[:total].to_s(:delimited)
          td
          td.total = sum_list[:handling_charge].to_s(:delimited)
          td


