#title.row.hover data-target="title"
  h3.text-center = settlement.title

#form_title.row.settlement_form.hidden
  span.box_title タイトル
  = form_with model: settlement, url: summary_settlement_update_path, class: "settlement-form form-horizontal mt-4" do |f|
    / ビュー更新時のターゲット、フォーマットキャンセル時も利用
    = f.hidden_field :target, value: 'title'
    = f.hidden_field :id
    .form-group
      .col-sm-6
        = f.text_field :title, class: "form-control maxlength", maxlength: 20
      .col-sm-2
        = f.submit(t("button.update"), class: "btn btn-primary btn-sm mt-2")
