= form_for form, url: reservation_management_edit_path(@callback), html: {class: 'form-horizontal', id: 'reservation_show_form', method: 'post'} do |f|
  = f.hidden_field :id
  = f.hidden_field :status

  / ▼ 左寄せ
  .col-sm-10.button-area-left
    / コールバック変数から一覧画面へのパスを取得
    - list_link = callback_path
    - if list_link.present?
      = link_btn_tag '一覧に戻る',
                     list_link,
                     icon_class: 'glyphicon-list-alt'

    - if role_member?

      - if form.is_available
        = link_btn_tag '編集',
                      reservation_management_edit_path(form.id, @callback),
                      icon_class: 'glyphicon-pencil',
                      button_class: 'btn-success input-sm'

      / ステータス更新ボタン(CO済、キャンセル以外のステータスの場合のみ表示)
      = forward_status_btn(id: form.id, status: form.status)

      - if form.is_whole
        / ステータス一括更新ボタン(CO済、キャンセル以外のステータスの場合のみ表示)
        = bulk_forward_status_btn(id: form.id, status: form.status)

        = link_btn_tag '一棟貸情報の詳細を確認する',
                      reservation_management_whole_reservation_show_path(form.whole_reservation_id, form.id, @callback),
                      button_class: 'btn btn-info input-sm'

  - if form.is_available && role_member?
    .col-sm-2.text-right.button-area-right
      - unless form.is_whole
        / キャンセルボタン -> 確認モーダル起動
        button.btn.btn-danger.input-sm type='button' data-toggle='modal' data-target='#cancel_status'
          i.glyphicon.glyphicon-remove-circle.icon-right-label キャンセル
      - else
        = link_btn_tag 'キャンセル',
          '#',
          icon_class: 'glyphicon-remove-circle',
          button_class: 'btn btn-danger input-sm',
          is_disabled: true
