/ - submit_label = t "button.#{action}"

.col-sm-9.button-area-left
  / コールバック変数から一覧画面へのパスを取得
  - list_link = callback_path
  - if list_link.present?
    = link_btn_tag '一覧に戻る',
                   list_link,
                   icon_class: 'glyphicon-list-alt',
                   button_class: 'btn-default input-sm',
                   tabindex: 997

  / = link_btn_tag '詳細画面に戻る', reservation_management_show_path(form.reservation_id, @callback), tabindex: 998 if action == 'update'

/ .col-sm-3.text-right.button-area-right
/   = f.submit(submit_label , class: "btn btn-primary input-sm", tabindex: 999)