- is_whole = form.whole_reservation_id.present?
- submit_label = t "button.#{action}"
- url = action == 'update' ? reservation_management_update_path(@callback) : reservation_management_create_path(@callback)

= form_for form, url: url, html: {class: "form-horizontal", id: "reservation_entry_form"} do |f|
  = render 'shared/error_messages', obj: form

  = f.hidden_field :reservation_id

  .form-group
    .col-sm-12.text-right
      = link_btn_tag '詳細画面に戻る', reservation_management_show_path(form.reservation_id, @callback), tabindex: 998 if action == 'update'
      = ' '
      = f.submit(submit_label , class: "btn btn-primary", tabindex: 999)

  .form-group
    label.col-sm-2.control-label
      |予約日
      span.require ＊
    .col-sm-3
      .input-group.date
        = f.text_field :reserve_date, class: "form-control", maxlength: 10, tabindex: 1
        span.input-group-addon
          i.fa.fa-calendar

    - if action == 'update'
      - if is_whole
        label.col-sm-2.control-label
          |ステータス
        .col-sm-3
          div style="margin-top:5px;"
            = reservation_status_badge(status: form.status)
            = content_tag(:span, '一棟貸', class: 'badge bg-purple', style: 'margin-left:5px;')

      - else
        label.col-sm-2.control-label
          |ステータス
          span.require ＊
        .col-sm-3
          = f.select :status, options_for_select( status_select_options, form.status ), {}, {class: "form-control select2", tabindex: 2}

  .form-group
    label.col-sm-2.control-label for="room_id"
      |施設
      span.require ＊
    .col-sm-4
      = f.select :room_id, options_for_select( room_select_options, form.room_id ), {}, {class: "form-control select2", tabindex: 3, disabled: is_whole}
      - if is_whole
        row
          span style="color:red;"
            |※ この予約情報は一棟貸のため、変更可能な項目が制限されています。「#{t('title.whole_reservations.show')}」画面から一括で変更してください。

  .form-group
    label.col-sm-2.control-label
      |宿泊日
      span.require ＊
    .col-sm-3
      .input-group.date
        = f.text_field :check_in_date, class: "form-control", maxlength: 10, tabindex: 4, disabled: is_whole
        span.input-group-addon
          i.fa.fa-calendar

    label.col-sm-2.control-label for="number_of_nights"
      |泊数
      span.require ＊
    .col-sm-1
      = f.number_field :number_of_nights, class: "form-control maxlength", min: 1, max: 31, maxlength: 2, tabindex: 5, disabled: is_whole
    - unless is_whole
      .col-sm-2
        button.btn.btn-block.btn-warning.btn-sm type="button" id="previous_reservation" tabindex=6 予約可否チェック

  .form-group
    label.col-sm-2.control-label for="display_check_in_time"
      |予定CI時刻
    .col-sm-3
      .input-group.bootstrap-timepicker.timepicker
        / input.form-control.timepicker#display_check_in_time type="text"
        = f.text_field :display_check_in_time, class: "form-control", tabindex: 7
        span.input-group-addon
          i.fa.fa-clock-o
      button.btn.btn-block.btn-default.btn-xs.time_clear type="button" id="time_clear" 予定CI時刻をクリア

  .form-group
    label.col-sm-2.control-label for="visitor_name"
      |ゲスト名
      span.require ＊
    .col-sm-3
      = f.text_field :visitor_name, class: "form-control maxlength", maxlength: 50, tabindex: 8

    label.col-sm-2.control-label for="visitor_name"
      |ゲスト名（カナ）
    .col-sm-3
      = f.text_field :visitor_name_kana, class: "form-control maxlength", maxlength: 50, tabindex: 8, placeholder: "※全角カタカナのみ"

  .form-group
    label.col-sm-2.control-label for="nationality_id"
      |国籍
      span.require ＊
    .col-sm-3
      = f.select :nationality_id, options_for_select( nationality_select_options, form.nationality_id ), {}, {class: "form-control select2", tabindex: 9}

    label.col-sm-2.control-label TEL
    .col-sm-3
      = f.telephone_field :tel, class: "form-control maxlength", maxlength: 20, tabindex: 10, placeholder: "※半角数字、記号（ + - ）のみ"

  .form-group
    label.col-sm-2.control-label メールアドレス
    .col-sm-3
      = f.text_field :mail_address, class: "form-control maxlength", maxlength: 120, tabindex: 11

  .form-group style="margin-bottom: 5px;"
    label.col-sm-2.control-label
      |人数
      span.require style="margin-right:10px;" ＊
      |大人
    .col-sm-1 style="text-align:left;"
      = f.number_field :adult_count, class: "form-control maxlength", min: 1, max: 99, maxlength: 2, disabled: is_whole, tabindex: 12

    .col-sm-2
    .col-sm-5
      - if is_whole
        span style="color:red;"
          |※ この予約情報は一棟貸のため、変更可能な項目が制限されています。「#{t('title.whole_reservations.show')}」画面から一括で変更してください。

  .form-group
    label.col-sm-2.control-label 子供
    .col-sm-1 style="text-align:left;"
      = f.number_field :child_count, class: "form-control maxlength", min: 0, max: 99, maxlength: 2, disabled: is_whole, tabindex: 13

    label.col-sm-1.control-label 合計
    .col-sm-1
      = f.number_field :total_count, class: "form-control", disabled: true

  .form-group
    label.col-sm-2.control-label
      |宿泊料
      span.require ＊
    .col-sm-3
      = f.text_field :room_charge, class: "form-control maxlength", maxlength: 12, disabled: is_whole, tabindex: 14

    label.col-sm-2.control-label
      |ポイント利用
      i.fa.fa-fw.fa-question-circle data-toggle="tooltip" data-placement="top" title="ポイントの金額は宿泊料および合計金額の計算に含まれません。"
    .col-sm-3
      = f.text_field :point_use, class: "form-control maxlength", maxlength: 12, tabindex: 15

  .form-group
    label.col-sm-2.control-label
      |清掃費
      span.require ＊
    .col-sm-3
      = f.text_field :cleaning_fee, class: "form-control maxlength", maxlength: 12, disabled: is_whole, tabindex: 16

  .form-group
    label.col-sm-2.control-label
      |食事代
    .col-sm-3
      = f.text_field :meal_fee, class: "form-control maxlength", maxlength: 12, disabled: is_whole, tabindex: 17

    label.col-sm-2.control-label
      |予約サイト
      span.require ＊
    .col-sm-3
      = f.select :site_code, options_for_select( site_select_options, form.site_code ), {}, {class: "form-control select2", tabindex: 18}

  .form-group
    label.col-sm-2.control-label 合計
    .col-sm-3
      = f.text_field :total, class: "form-control", disabled: true

  .form-group
    label.col-sm-2.control-label 備考
    .col-sm-8
      = f.text_area :note, row: 4, class: "form-control maxlength", maxlength: 500, placeholder: "５００文字まで入力可能です。", tabindex: 19

  .form-group
    label.col-sm-2.control-label
      |予約メモ
      i.fa.fa-fw.fa-question-circle data-toggle="tooltip" data-placement="top" title="suitebook連携データの場合に、「オーナー向けドキュメント」の内容が自動で入力されます。"
    .col-sm-8
      = f.text_area :owner_note, class: "form-control maxlength", maxlength: 1000, placeholder: "１０００文字まで入力可能です。", tabindex: 20, style: 'height:150px;'
      .attention.small ※「備考」「予約メモ」はフォーム内で入力された改行をそのまま詳細画面に表示します。

  .form-group
    .col-sm-12.text-right
      = link_btn_tag '詳細画面に戻る', reservation_management_show_path(form.reservation_id, @callback), tabindex: 998 if action == 'update'
      = ' '
      = f.submit(submit_label , class: "btn btn-primary", tabindex: 999)

/ 予約可否チェックモーダル
.previous_reservation_modal

javascript:

  // 予約可否チェックボタン押下時Ajax送信後モーダル起動
  $('#previous_reservation').click(function() {
    var check_in_date = $('#reservation_management_reservations_entry_form_check_in_date').val();
    if(check_in_date === "") {
      alert("宿泊日を入力してください！");
      $('#reservation_management_reservations_entry_form_check_in_date').focus();
      return false;
    }
    var number_of_nights = $('#reservation_management_reservations_entry_form_number_of_nights').val();
    if(number_of_nights === "" || number_of_nights === "0") {
      alert("泊数を１以上で入力してください！");
      $('#reservation_management_reservations_entry_form_number_of_nights').focus();
      return false;
    }
    $('#reservation_entry_form').spin();
    var room_id = $('#reservation_management_reservations_entry_form_room_id').val();
    var reservation_id = $('#reservation_management_reservations_entry_form_reservation_id').val();
    var path = '#{raw modal_search_reservation_previous_reservation_path}';
    var data = 'check_in_day=' + check_in_date;
    data    += '&number_of_nights=' + number_of_nights;
    data    += '&room_id=' + room_id;
    data    += '&reservation_id=' + reservation_id;
    $.post( path, data );
  })
