= form_for form, url: {action: 'update_reservation_date'}, html: {class: "form-horizontal", id: "reservation_date_form", method: "post"}, remote: true do |f|
  = f.hidden_field :reservation_id

  .modal.fade.reservation_date#reservationModal tabindex="-1"
    .modal-dialog style="width:800px;"
      .modal-content
        .modal-header
          button.close type="button" data-dismiss="modal"
            span ×
          h4.modal-title
            strong 請求内訳編集

        .modal-body style="height:450px;"
          .row
            .col-xs-12
              .box.box-success
                .box-header.with-border
                  p 「更新」ボタンで金額の内訳を更新します。
                  p.attention ※各内訳の合計が請求情報の金額と同じになるようにしてください。
            .col-xs-2

          / FLASHメッセージの表示（フェードアウト）
          / .row
          /   = render 'shared/error_messages', obj: @form

          / エラーメッセージの表示
          .row
            .col-sm-12#error_messages

          .col-xs-12
            .panel.panel-default
              table.table.table-bordered.edit_reservation_date
                body
                  tr.success
                    th width="20%" 日付
                    th width="15%" 宿泊料
                    th width="15%" 清掃費
                    th width="15%" 食事代
                    th width="15%" 合計
                    / th width="15%" 手数料
                  - form.reservation.reservation_dates.each do |rd|
                    tr data-reservation-date-id=rd.id
                      td.check_in_day
                        = l(rd.check_in_day, format: :long)
                        = hidden_field_tag 'reservation_dates[][reservation_date_id]', rd.id
                      td = number_field_tag "reservation_dates[][room_charge]", rd.room_charge, id: "room_charge_#{rd.id}", class: "form-control amount", maxlength: 6, min: 0, max: 999999
                      td = number_field_tag "reservation_dates[][cleaning_fee]", rd.cleaning_fee, id: "cleaning_fee_#{rd.id}", class: "form-control amount", maxlength: 6, min: 0, max: 999999
                      td = number_field_tag "reservation_dates[][meal_fee]", rd.cleaning_fee, id: "meal_fee_#{rd.id}", class: "form-control amount", maxlength: 6, min: 0, max: 999999
                      td.amount.day_total id="day_total_#{rd.id}" = rd.total.to_s(:delimited)
                  tr.subtotal
                    td 合計
                    td.amount#column_total_room_charge = form.reservation.room_charge.to_s(:delimited)
                    td.amount#column_total_cleaning_fee = form.reservation.cleaning_fee.to_s(:delimited)
                    td.amount#column_total_meal_fee = form.reservation.meal_fee.to_s(:delimited)
                    td.amount#column_total_total = form.reservation.total.to_s(:delimited)
                    / td#subtotal_handling_charge
                  tr.info.reservation
                    td 予約情報の金額
                    td.amount = form.reservation.room_charge.to_s(:delimited)
                    td.amount = form.reservation.cleaning_fee.to_s(:delimited)
                    td.amount = form.reservation.meal_fee.to_s(:delimited)
                    td.amount = form.reservation.total.to_s(:delimited)

        .modal-footer
          button.btn.btn-default data-dismiss="modal" キャンセル
          button.btn.btn-primary type="submit" 更新


javascript:

  // 請求内訳編集モーダルで金額が変更された際の各合計研鑽処理
  $('#reservation_date_form input[type="number"]').change(function() {
    if(this.value == '' || isNaN(this.value) || this.value < 0){
      alert("金額を半角数字で入力してください。");
      this.focus();
      return;
    }
    calcAmount('room_charge');
    calcAmount('cleaning_fee');
    calcAmount('meal_fee');
    calcTotal();
  });

  // 各列の合計を計算
  // @param name [String] 各列のフォームの名称
  function calcAmount(name){
    var subtotal = 0;
    $("[name^='reservation_dates[][" + name + "']").each(function(index, element){
      subtotal += parseInt(element.value);
    });
    $("#column_total_" + name).html(Number(subtotal).toLocaleString());
  }

  // 合計の計算
  function calcTotal(){
    var subtotal_total = 0;
    $("[id^='day_total_']").each(function(index, element){
      // element(TD)から親要素のTRのカスタムデータ属性からreservation_date_idを抽出
      var id = $(element).parent().data("reservation-date-id");
      var total = 0;
      total += parseInt($("#room_charge_" + id).val());
      total += parseInt($("#cleaning_fee_" + id).val());
      total += parseInt($("#meal_fee_" + id).val());
      $(element).html(Number(total).toLocaleString());
      subtotal_total += total;
    });
    // 合計の合計をセット
    $('#column_total_total').html(Number(subtotal_total).toLocaleString());
  }