.box.box-warning
  .box-header.with-border
    label 請求内訳
    / .text-right
    .box-tools.pull-right style="margin-top: 2px;"
      - if form.is_available && role_member?
        = edit_reservation_date_link_tag(form.id, form.reservation_dates.size) if form.reservation_dates.size > 1

  .row style="z-index:2; height:0px;"
    #fadeout

  .box-body
    .row
      .col-sm-12 二泊以上の場合に表示されます。
    .row
      .col-sm-12
        #billing
          table.table.table-bordered.show_reservation_date
            tr
              th.info width="25%" 日付
              th.info width="15%" 宿泊料
              th.info width="15%" 清掃費
              th.info width="15%" 食事代
              th.info width="15%" 合計
              th.info width="15%" 手数料
              / th.info width="15%" 手数料
            - if form.reservation_dates.size > 1
              - form.reservation_dates.each do |obj|
                tr
                  td = l(obj.check_in_day, format: :long)
                  td.amount-label = obj.room_charge.to_s(:delimited)
                  td.amount-label = obj.cleaning_fee.to_s(:delimited)
                  td.amount-label = obj.meal_fee.to_s(:delimited)
                  td.amount-label = obj.total.to_s(:delimited)
                  td.amount-label = obj.handling_charge.to_s(:delimited)

javascript:
  // Form部品の非同期再読込処理で動作するようにassetsではなくviewに記述
  // $(function(){
  //   // 4秒間表示
  //   $.wait(4000)
  //     .done(function(){
  //       // id="fadeout"の要素を 2秒（2000ミリ秒）でゆっくりと非表示にする
  //       $("#fadeout").fadeOut(2000);
  //     });
  // });

  $(function(){
    // 4秒間表示
    setTimeout(function(){
      $("#fadeout").fadeOut(2000);
    },4000);
  });
