- breadcrumb :reservations_entry_edit, @form.reservation_id, @callback
- provide(:title, t("title.reservations.entry.edit"))

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 予約情報を更新します。
        p ・「予約可否チェック」ボタンは、<b style='color:red;'>施設・宿泊日・泊数</b>で予約可能かを確認します。別の画面や他のユーザーが先に予約情報を登録した場合、この予約情報は登録できません。
        p 　※ 予約情報を変更した場合、請求内訳は自動的に上書き更新されますので、必ず確認の上、必要に応じて詳細画面から修正を行ってください。

.row
  = render 'button_form'

.row
  .col-xs-12
    .box.box-warning
      .box-body
        = render 'form', form: @form, action: 'update'

.row
  = render 'button_form'
