- breadcrumb :reservations_entry_new, @callback
- action = controller.action_name
- provide(:title, t("title.reservations.entry.#{action}"))

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 予約情報を登録します。
        p ・「予約可否チェック」ボタンは、<b style='color:red;'>施設・宿泊日・泊数</b>で予約可能かを確認します。別の画面や他のユーザーが先に予約情報を登録した場合、この予約情報は登録できません。

.row
  = render 'button_form'

.row
  .col-xs-12
    .box.box-warning
      .box-body
        = render 'form', form: @form, action: 'create'

.row
  = render 'button_form'
