- breadcrumb :reservations_entry_show, @form.id, @callback
- provide :title, t("title.reservations.entry.show")

.row
  .col-xs-12
    = render 'shared/error_messages', obj: @form

/ キャンセル以外
- if @form.is_available
  .row
    .col-xs-12
      .box.box-primary
        .box-tools.pull-right
          button.btn.btn-box-tool type="button" data-widget="remove"
            i.fa.fa-remove
        .box-body
          p
            |予約情報の詳細を確認します。
            span.attention ※以下の機能はログインしているユーザーの権限により使用可否が異なります。
          p ・「編集」ボタンで、新規登録時の情報を編集できます。
          p ・「請求内訳の編集」ボタンで、宿泊日ごとの金額内訳を変更するための編集ウィンドウが開きます。
          - if @form.is_whole
            p.attention 　※ 一棟貸の場合、個別のキャンセル処理はできません。
- else
  .row
    .col-xs-12
      = render 'shared/alert_bar', css: 'danger', attention_text: 'この予約情報はキャンセル済みです。'

.row
  = render 'button_show', form: @form

.row
  .col-xs-12
    .box.box-success
      .box-header.with-border
        label 基本情報
      .box-body
        .panel.panel-default
          table.table.table-bordered.show_reservation
            tr
              th.info ステータス
              td.status
                = reservation_status_badge(status: @form.status)
                span.badge.bg-purple = '一棟貸' if @form.whole_reservation_id.present?
              th.info データ登録方法
              td
                = Settings.RESERVATION.REGISTRATION_TYPE_LABEL[@form.registration_type]
            tr
              th.info 施設
              td colspan="3" = @form.room_name
            tr
              th.info 予約日
              td colspan="3" = l(@form.reserve_date, format: :long)
            tr
              th.info 宿泊日
              td = l(@form.check_in_date, format: :long)
              th.info 泊数
              td = "#{@form.number_of_nights}泊"
            tr
              th.info 予定CI時刻
              td colspan="3"
                = l(@form.scheduled_check_in_time, format: :time) if @form.scheduled_check_in_time

        .panel.panel-default
          table.table.table-bordered.show_reservation
            tr
              th.info ゲスト名
              td = @form.visitor_name
              th.info ゲスト名（カナ）
              td = @form.visitor_name_kana
            tr
              th.info 国籍
              td = @form.nationality_name
              th.info TEL
              td = @form.tel
            tr
              th.info メールアドレス
              td colspan="3" = @form.mail_address
            tr
              th.info 備考
              td colspan="3" = simple_format_ex(@form.note)
            tr
              th.info
                |予約メモ
                i.fa.fa-fw.fa-question-circle data-toggle="tooltip" data-placement="top" title="suitebook連携データの場合に、「オーナー向けドキュメント」の内容が自動で入力されます。"
              td colspan="3" = simple_format_ex(@form.owner_note)

.row
  .col-xs-7
    .box.box-danger
      .box-header.with-border
        label 請求情報
      .box-body
        .panel.panel-default
          table.table.table-bordered.show_reservation
            tr
              th.info 宿泊料
              td.amount-label = @form.room_charge.to_s(:delimited)
              th.info 人数
              td = "#{@form.total_count}人（大人:#{@form.adult_count} / 子供:#{@form.child_count}）"
            tr
              th.info 清掃費
              td.amount-label = @form.cleaning_fee.to_s(:delimited)
              th.info 予約サイト
              td = site_name(site_code: @form.site_code)
            tr
              th.info 食事代
              td.amount-label = @form.meal_fee.to_s(:delimited)
              th.info
                |ポイント利用
                i.fa.fa-fw.fa-question-circle data-toggle="tooltip" data-placement="top" title="ポイントの金額は宿泊料および合計金額の計算に含まれません。"
              td.amount-label = @form.point_use.try(:to_s, :delimited)
            tr
              th.info rowspan="2" 合計
              td.amount-label.bold rowspan="2" = @form.total.to_s(:delimited)
              th.info 手数料
              td.amount-label = @form.total_handling_charge.to_s(:delimited)
            tr
              th.info 宿泊税
              td.amount-label = @form.accommodation_tax.to_s(:delimited) if @form.accommodation_tax

          .col-xs-12.text-right style="margin-top: 5px; font-size: 12px;" ※ 一棟貸の場合、宿泊税はここでは表示されません。

.row
  .col-xs-7
    #reservation_date
      = render 'reservation_date', form: @form

.row
  = render 'button_show', form: @form

/ キャンセル以外
- if @form.is_available

  / 請求内訳編集モーダル
  .reservation_date_modal

  - unless @form.is_whole
    .update_whole_status_modal
      / キャンセルボタン
      = render 'modal/common/confirm', modal_id: 'cancel_status',
                                modal_class: 'modal-default',
                                callback: "cancel('#{@callback}');",
                                title: t("title.modal.cancel_reservation"),
                                body: t("messages.comfirm_cancel_reservation")

- else
  .row
    .col-xs-12
      = render 'shared/alert_bar', css: 'danger', attention_text: 'この予約情報はキャンセル済みです。'
