<% if @edit_form.errors.empty? %>
  $('#reservationModal').modal('hide');
  $('#reservation_date').html('<%= j(render "reservation_date", form: @form) %>');
  $('#fadeout').html('<%= j(render "shared/error_messages", obj: @edit_form) %>');
<% else %>
  $('#error_messages').html('<%= j(render "shared/error_messages", obj: @edit_form) %>');
<% end %>