- breadcrumb :summary_reports
- provide(:title, t("title.summary.reports"))

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 個別に画面が用意されていない月間のレポートをダウンロードできます。

/ 検索条件
#search
  / = #render 'search', form: @form
  .box
    .box-header.with-border
      .box-title 検索条件
      .box-tools.pull-right
    .box-body
      .form-group
        label.col-sm-2.control-label
          |対象月
          / span.require ＊

        .col-sm-2
          .input-group
            = text_field_tag :search_month, @form.search_month, class: "form-control year_month"
            span.input-group-addon
              i.fa.fa-calendar

  .box
    .box-body
      .row
        = form_tag(summary_reports_accommodation_tax_path(format: :csv), method: :post, id: :accommodation_tax_csv)
          .form-group
            .col-sm-3
              = hidden_field_tag 'accommodation_tax_csv[search_month]'
              button.btn.btn-default.col-sm-12.accommodation_tax_csv_download type="button" 宿泊税CSVダウンロード（日別）
            .col-sm-9
              .desc 日別で全施設トータルの宿泊税を集計したCSVファイルをダウンロードします。
      .row
        = form_tag(summary_reports_accommodation_tax_for_room_path(format: :csv), method: :post, id: :accommodation_tax_csv_for_room)
          .form-group
            .col-sm-3
              = hidden_field_tag 'accommodation_tax_csv_for_room[search_month]'
              button.btn.btn-default.col-sm-12.accommodation_tax_csv_download_for_room type="button" 宿泊税CSVダウンロード（部屋別）
            .col-sm-9
              .desc 部屋別に宿泊税を集計したCSVファイルをダウンロードします。
      .row
        = form_tag(summary_reports_accommodation_tax_for_building_path(format: :csv), method: :post, id: :accommodation_tax_csv_for_building)
          .form-group
            .col-sm-3
              = hidden_field_tag 'accommodation_tax_csv_for_building[search_month]'
              button.btn.btn-default.col-sm-12.accommodation_tax_csv_download_for_building type="button" 宿泊税CSVダウンロード（施設別）
            .col-sm-9
              .desc 施設別に宿泊税を集計したCSVファイルをダウンロードします。

javascript:
  $('.accommodation_tax_csv_download').click(function() {
    search_month = $('#search_month').val();
    $('#accommodation_tax_csv_search_month').val(search_month);
    var form = $('#accommodation_tax_csv');
    form.submit();
    stopSpin(form);
  });

  $('.accommodation_tax_csv_download_for_room').click(function() {
    search_month = $('#search_month').val();
    $('#accommodation_tax_csv_for_room_search_month').val(search_month);
    var form = $('#accommodation_tax_csv_for_room');
    form.submit();
    stopSpin(form);
  });

  $('.accommodation_tax_csv_download_for_building').click(function() {
    search_month = $('#search_month').val();
    $('#accommodation_tax_csv_for_building_search_month').val(search_month);
    var form = $('#accommodation_tax_csv_for_building');
    form.submit();
    stopSpin(form);
  });
