/ TODO: 一覧項目の精査 その他、ツールチップを利用する等を検討する
.row
  .col-sm-12
    .box.box-info
      .box-header
        h3.box-title
          |検索結果
          - if @message
            span.small.over_count = @message
      .box-body
        table.table.table-bordered.table-striped#table_reservation_list
          thead
            tr.success
              th.small width="10%" CI
              th.small width="12%" CO
              th.small width="15%" 施設名
              th.small width="10%" 予約サイト
              th.small 国籍 / ゲスト名
              th.small width="8%"
                div 人数
                div 泊数
              th.small width="13%"
                div 予約日
                div 登録経路
              th.small
              th.small

          tbody.disp-vline
            - reservations.each do |res|
              tr
                td = l(res.check_in_date, format: :middle_h)
                td
                  = l(res.check_out_date, format: :middle_h)
                td
                  div = res.room.building.name
                  div = reservation_status_badge(status: res.status)

                td
                  div = res.site_name

                td
                  div = res.nationality_name
                  div = res.display_visitor_name
                td
                  div = "#{res.total_count}人"
                  div = "#{res.number_of_nights}泊"
                td
                  div = l(res.reserve_date, format: :middle_h)
                  small = Settings.RESERVATION.REGISTRATION_TYPE_LABEL[res.registration_type]
                td
                  - if res.note.present?
                    span.badge.bg-red data-toggle="tooltip" data-placement="top" title="#{res.note}" 備考あり
                td = link_btn_tag '詳細', reservation_management_show_path(res.id, @callback), button_class: 'btn-success btn-xs'

      / .box-footer
        = render 'button_list', form: form
        - if form.monthly_list.present?
          h4 = "#{form.search_check_in_month} 【#{form.room_full_code_name}】"

= render 'list_js'
