<script>
  $(function () {
    $('[data-toggle=tooltip]').tooltip();

    $('#table_reservation_list').DataTable({
      <%# data_table_options not_sort: [-1], searching: true, lengthMenu: '[100]', lengthChange: false %>
      <%= data_table_options lengthMenu: [25, 50, 100], not_sort: [-0], searching: true, order: [[0, "desc"]] %>
    });
  });
</script>