/ TODO: ツールチップによる、各検索項目の説明

= search_form_for search, url: reservation_management_reservations_search_path, method: :post, remote: true, class: 'form-horizontal', id: 'reservation_search_form' do |f|
  .box.box-danger
    .box-header.with-border
      h3.box-title 検索条件
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"
          |検索条件ウィンドウを開閉する&nbsp;
          i.fa.fa-minus
          / i.fa.fa-plus

    .box-body
      / エラーメッセージの表示
      .col-md-12#search_error_messages

      .form-group
        label.col-md-2.control-label for="search_check_in_date" 宿泊日
        .col-md-4
          .input-group.date.col-md-5 style="float: left;"
            = f.text_field :check_in_date_gteq, class: "form-control", maxlength: 10, tabindex: 1, placeholder: 'CI日'
            span.input-group-addon
              i.fa.fa-calendar
          .form-control-static.col-md-2.text-center 〜
          .input-group.date.col-md-5
            = f.text_field :check_out_date_lteq, class: "form-control", maxlength: 10, tabindex: 2, placeholder: 'CO日'
            span.input-group-addon
              i.fa.fa-calendar
          / .input-group.input-daterange
            / = f.text_field :check_in_date_gteq, class: "form-control", placeholder: 'CI日'
            / span.input-group-addon to
            / = f.text_field :check_out_date_lteq, class: "form-control", placeholder: 'CO日'


        label.col-md-1.control-label for="search_check_in_date" 予約日
        .col-md-4
          .input-group.date.col-md-5 style="float: left;"
            = f.text_field :reserve_date_gteq, class: "form-control", maxlength: 10, tabindex: 3
            span.input-group-addon
              i.fa.fa-calendar
          .form-control-static.col-md-2.text-center 〜
          .input-group.date.col-md-5
            = f.text_field :reserve_date_lteq, class: "form-control", maxlength: 10, tabindex: 4
            span.input-group-addon
              i.fa.fa-calendar
        / .col-md-3
        /   .input-group.input-daterange
        /     = f.text_field :reserve_date_gteq, class: "form-control", placeholder: ''
        /     span.input-group-addon to
        /     = f.text_field :reserve_date_lteq, class: "form-control", placeholder: ''

      .form-group
        label.col-md-2.control-label ステータス
        .col-md-3.status-select
          = f.select :status_in, options_for_select(all_status_select_options), {selected: @search.status_in}, {class: "form-control select2-multi", multiple: "multiple", tabindex: 5}
        label.col-md-2.control-label サイト
        .col-md-3
          = f.select :site_code_eq, options_for_select(site_select_options), {include_blank: true}, {class: "form-control select2-include-blank", tabindex: 6}

      .form-group
        label.col-md-2.control-label ゲスト名
        .col-md-3
          = f.text_field :visitor_name_or_visitor_name_kana_cont, class: "form-control", placeholder: '部分一致（ゲスト名 OR カナ）', tabindex: 7
        label.col-md-2.control-label 国籍
        .col-md-3
          = f.select :nationality_id_eq, options_for_select(nationality_select_options), {include_blank: true}, {class: "form-control select2-include-blank", tabindex: 8}

      .form-group
        label.col-md-2.control-label メール / TEL
        .col-md-3.col-xs-12
          = f.text_field :mail_address_or_tel_cont, class: "form-control", placeholder: '部分一致（メール OR TEL）', tabindex: 9
        label.col-md-2.col-xs-2.control-label.number_of_nigths 泊数
        .col-md-1.col-xs-2.number_of_nigths
          = f.number_field :number_of_nights_gteq, class: "form-control maxlength", min: 1, max: 99, maxlength: 2, tabindex: 10
        .col-md-1.col-xs-1.form-control-static.number_of_nigths.text-center 〜
        .col-md-1.col-xs-2.number_of_nigths
          = f.number_field :number_of_nights_lteq, class: "form-control maxlength", min: 1, max: 99, maxlength: 2, tabindex: 11

      .form-group
        label.col-md-2.control-label
          |エリア
          i.fa.fa-fw.fa-question-circle data-toggle="tooltip" data-placement="top" title="施設の自動選択を行います。選択したエリア自体は検索条件に含まれません。"
        .col-md-3
          - area_select_options = Area.visible.map { |a| [ a.name, a.id, data: { children_path: select_room_options_by_area_path(a) } ] }
          - area_select_options = [[data: { children_path: select_room_options_by_area_path(0) }]] + area_select_options
          = f.select :room_building_area_id_eq, area_select_options, {include_blank: true}, class: "form-control select-parent select2-include-blank", tabindex: 12
        label.col-md-2.control-label 登録経路
        .col-md-3
          = f.select :registration_type_eq, options_for_select(registration_type_select_options), {include_blank: true}, {class: "form-control select2-include-blank", tabindex: 13}

      .form-group
        label.col-md-2.control-label for="search_room_id" 施設
        .col-md-9.room-select
          = f.select :room_id_in, options_for_select(room_select_options(true)), {}, {class: "form-control select2-multi select-children", multiple: "multiple", tabindex: 14}

      .form-group
        label.col-md-2.control-label 備考 / 予約メモ
        .col-md-9
          = f.text_field :note_or_owner_note_cont, class: "form-control", placeholder: '部分一致（備考 OR 予約メモ）', tabindex: 15

      .form-group
        label.col-md-2.control-label その他
        .col-md-4
          label.small.form-control-static style="margin-right: 20px;"
            |備考有のみ&nbsp;
            = f.check_box :note_present, {class: "icheck form-control", tabindex: 16}, true, nil
          label.small.form-control-static
            |ポイント利用のみ&nbsp;
            = f.check_box :point_use_gt, {class: "icheck form-control", tabindex: 17}, 0, nil
        .col-md-6.text-right
          = link_to reservation_management_reservations_path do
            button.btn.btn-default.clear-btn type="button" tabindex="18" クリア
          button.btn.btn-default.search-btn type="submit" tabindex="19"
            i.fa.fa-search 検索

/ 連動セレクト（団地選択時に部屋情報のセレクトオプションタグを自動生成）
= render 'shared/replace_select_option_js'


/ TODO: Select２のマルチセレクトがセッションから取得した検索条件を再現できないので、自前でセットする

javascript:
  $(document).ready(function(){
    $('input.icheck').iCheck({
      checkboxClass: 'icheckbox_minimal-green',
    });
  });

  // コントローラ側（transition_search アクション）でgonが設定されている場合にselect2の値を明示的にセット
  if (typeof gon !== 'undefined') {
    console.log(gon.search_conditions)
    $('#q_site_code_eq').val(gon.search_conditions.site_code_eq).trigger('change');
    $('#q_nationality_id_eq').val(gon.search_conditions.nationality_id_eq).trigger('change');
    $('#q_registration_type_eq').val(gon.search_conditions.registration_type_eq).trigger('change');
    $('#q_status_in').val(gon.search_conditions.status_in).trigger('change');
    $('#q_room_id_in').val(gon.search_conditions.room_id_in).trigger('change');
  }
