- breadcrumb :reservations_search
- provide(:title, t("title.reservations.search"))

.reservation_search
  .row
    .col-xs-12
      .box.box-primary
        .box-tools.pull-right
          button.btn.btn-box-tool type="button" data-widget="remove"
            i.fa.fa-remove
        .box-body
          p 予約情報の詳細検索を行うことができます。
          ul
            li 非表示の施設やキャンセル済の予約情報も含めた全てのデータを検索可能です。
            li
              |一覧に表示される
              span.badge.bg-red 備考あり
              |マークはマウスオーバー（タブレット等の場合はタップ）することで内容を確認できます。

  / #message
  /   = render 'shared/error_messages', obj: @form

  / 検索条件
  #search
    = render 'search', search: @search

  / 一覧
  #reservation_list
    = render 'list', reservations: @reservations
