/* 検索条件 */

#prev_day {
  vertical-align: -8px;
}

#today {
  vertical-align: -8px;
  margin-left: 10px;
}

#next_day {
  vertical-align: -8px;
  margin-left: 10px;
}

.search_inout_radio input,
.search_inout_radio label {
  vertical-align: -0.5em;
}

.search_inout_radio input {
  margin-right: 5px;
}

.search_inout_radio label {
  margin-right: 10px;
}

/* リスト */
table#table_daily_list {
  /* 中央寄せカラム */
  td.check_in_date,
  td.check_in_time,
  td.site,
  td.check_out_date,
  td.etc_column {
    text-align: center;
  }

  td {
    vertical-align: middle;
  }

  /* 右寄せカラム */
  td.number_of_nights,
  td.count {
    text-align: right;

    // 数字の強調表示
    font-size: 1.2em;
    font-weight: bold;
  }

}