@import "./variables";

// 登録・編集フォーム
#reservation_entry_form {
  // 時刻クリアボタン
  .time_clear {
    margin-top: 5px;
  }
}

// 詳細画面
#reservation_show_form {
  .button-area {
    margin-bottom: 30px;

    button {
      margin-right: 10px;
    }
  }
}

// 予約詳細テーブル
table.show_reservation {
  th {
    width: 18%;
    /*background-color: $table-bgcolor;*/
  }

  td {
    width: 32%;
  }

  td.status span.badge {
    font-size: 15px;
    margin-right: 10px;
  }
}

// 請求内訳テーブル
table.show_reservation_date {
  th {
    /*background-color: $table-bgcolor;*/
  }
}

// 請求内訳編集モーダル
#reservation_date_form {

  table.edit_reservation_date td {
    /*text-align: right;*/
    vertical-align: middle;
  }

  table.edit_reservation_date td.check_in_day {
    font-size: 17px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  table.edit_reservation_date tr.reservation {
    border-top: 2px solid darkgrey;
  }

  // ラベルの金額表示をテキストボックス内の金額の表示位置に合わせる
  table.edit_reservation_date td.day_total,
  table.edit_reservation_date tr.subtotal td,
  table.edit_reservation_date tr.reservation td {
    padding-right: 20px;
  }

}


