@import "./variables";

/* 検索条件 */
.prev_month {
  vertical-align: -8px;
  margin: 0 10px;
  /*float: right;*/
}

.next_month {
  vertical-align: -8px;
}

/* リスト */
table#table_reservation_list {

  thead th div.month,
  thead th div.room, {
    margin-bottom: 10px;
    font-size: 1.3em;
    /*color: blue;*/
  }

  tr.today {
    border: 3px solid #9493a0;
    /*background-color: darkturquoise;*/
  }

  td {
    vertical-align: middle;
  }

  td p.date {
    margin: 5px 0;
  }

  /* 中央寄せカラム */
  td.date,
  td.nationality_name,
  td.site_name,
  td.reserve_date {
    /*text-align: center !important;*/
    text-align: center;
  }

  /* 右寄せカラム */
  td.number_of_nights,
  td.adult_count,
  td.child_count,
  td.total_count,
  td.room_charge,
  td.cleaning_fee,
  td.meal_feemeal_feemeal_fee,
  td.total,
  td.handling_charge {
    text-align: right;
  }

  td p.total_count,
  td p.total {
    font-size: 1.2em;
    font-weight: bold;
  }

  td p.sub_count,
  td p.subtotal {
    font-size: 0.9em;
  }

  /* （大人/子供）の人数表示 */
  td p.sub_count {
    margin: -10px;
  }

  /* （大人/子供）の人数表示 */
  td p.subtotal,
  td p.total {
    margin-bottom: 1px;
  }

  td div.status {
    margin: 0 5px 10px 0;
  }
}