@import "./variables";

/* 検索条件 */

#reservation_search_form {
  /* select2 のボックスサイズ変更 */
  .room-select {
    .select2-selection--multiple {
      min-height: 120px !important;
      overflow-y: scroll !important;
      font-size: 11px;
    }
  }

  .status-select {
    .select2-selection--multiple {
      // min-height: 120px !important;
      // overflow-y: scroll !important;
      font-size: 11px;
    }
  }
}

.reservation_search {
  // リスト
  .over_count {
    color: red;
    margin-left: 20px;
  }

  // 検索条件
  #search {
    @media (max-width: 991px) {
      .number_of_nigths {
        margin-top: 20px;
      }

      label.number_of_nigths {
        text-align: left;
      }
    }

    .clear-btn {
      width: 100px;
    }
    .search-btn {
      margin-left: 10px;
      width: 100px;
    }
  }

}