@import "./variables";

// 登録・編集フォーム
.suitebook_reservation_entry {
  // 時刻クリアボタン
  .time_clear {
    margin-top: 5px;
  }
}

table.csv_table {
  th {
    width: 250px;
  }
}

// 検索条件
#search.search_suitebook {
  .clear-btn {
    width: 100px;
  }
  .search-btn {
    margin-left: 10px;
    width: 100px;
  }
}