// 登録・編集フォーム
#whole_reservation_form {
  // 時刻クリアボタン
  .time_clear {
    margin-top: 5px;
  }
}

// 予約詳細テーブル
table.show_whole_reservation {
  th {
    width: 18%;
  }

  td {
    width: 32%;
  }

  td.status span.badge {
    font-size: 15px;
    margin-right: 10px;
  }
}

table#reservations {
  th {
    text-align: center;
  }

  td span.sub_count {
    font-size: 0.9em;
  }
}

// 一棟貸 予約情報編集

// 各部屋毎の予約情報の編集（人数・金額の再分配）モーダル
#editRoomReservationsModal {

  table td {
    vertical-align: middle;
  }

  td.room_name {
    font-size: 17px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  table.edit_room_reservations tr.whole_reservationwhole_reservationwhole_reservation {
    border-top: 2px solid darkgrey;
  }

  // ラベルの金額表示をテキストボックス内の金額の表示位置に合わせる
  table.edit_room_reservations td.room_total,
  table.edit_room_reservations tr.input_total td,
  table.edit_room_reservations tr.whole_reservation td {
    padding-right: 20px;
  }

  // 各部屋毎の予約情報
}