<% obj ||= nil %>
<% if obj&.errors&.any? %>
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      入力した値にエラーがあります。
    <ul>
    <% msg_list = [] %>
    <% obj.errors.full_messages.each do |msg| %>
      <% unless msg_list.index(msg) %>
        <% msg_list.push msg %>
        <li><%= msg %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
<% end %>
<% get_alert(flash) %>
