<%# 参考 [Ajaxでセレクトボックスの中身が動的に変わるRailsアプリの作り方 - Qiita](https://qiita.com/jnchito/items/59a5f6bea3d7be84b839) %>
<%# エリア選択時に該当する施設のセレクトオプションタグを生成 %>
<%# Ajax先のコントローラのアクションでは必ず id, name という項目を持つオブジェクトを返す e.g.) Room.select(:id, 'room_no AS name') %>

<script>

$(function() {
  return (function() {
    var replaceChildrenOptions, replaceSelectOptions;
    replaceSelectOptions = function($select, results) {
      $select.html($('<option>'));
      return $.each(results, function() {
        var option;
        // option = $('<option>').val(this.id).text(this.name);
        option = $('<option>').val(this.id).text(this.name).prop('selected', true);
        return $select.append(option);
      });
    };
    replaceChildrenOptions = function() {
      var $selectChildren, childrenPath;
      childrenPath = $(this).find('option:selected').data().childrenPath;
      $selectChildren = $(this).closest('form').find('.select-children');
      if (childrenPath != null) {
        return $.ajax({
          url: childrenPath,
          dataType: "json",
          success: function(results) {
            return replaceSelectOptions($selectChildren, results);
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.error("Error occurred in replaceChildrenOptions");
            console.log("XMLHttpRequest: " + XMLHttpRequest.status);
            console.log("textStatus: " + textStatus);
            return console.log("errorThrown: " + errorThrown);
          }
        });
      } else {
        return replaceSelectOptions($selectChildren, []);
      }
    };
    return $('.select-parent').on({
      'change': replaceChildrenOptions
    });
  })();
});

</script>