/ ▼ 左寄せ
.col-sm-6.button-area-left
  = link_btn_tag '一覧に戻る',
                 master_buildings_path,
                 icon_class: 'glyphicon-list-alt'
  = link_btn_tag '編集',
                 master_buildings_edit_path(form.building_id),
                 icon_class: 'glyphicon-pencil',
                 button_class: 'btn-success input-sm'

/ ▼ 右寄せ
.col-sm-6.text-right.button-area-right
  - if form.is_visible
    - btn_tag = bts_btn_tag("非表示", icon_class: "glyphicon-remove", button_class: 'btn-danger input-sm')
    = link_to btn_tag, master_buildings_invisible_path(form.building_id),
                      data: {confirm: "施設【#{form.code}】#{form.name} を「非表示」にしてよろしいですか？"}
  - else
    - btn_tag = bts_btn_tag("表示", icon_class: "glyphicon-retweet", button_class: 'btn-info input-sm')
    = link_to btn_tag, master_buildings_visible_path(form.building_id),
                      data: {confirm: "施設【#{form.code}】#{form.name} を「表示」にしてよろしいですか？"}
