.col-sm-9.button-area-left
  = link_btn_tag '一覧に戻る',
                 master_buildings_path,
                 icon_class: 'glyphicon-list-alt',
                 button_class: 'btn-default input-sm',
                 tabindex: 998

  - if form.id
    = link_btn_tag '詳細画面に戻る',
                  master_buildings_show_path(form.id),
                  icon_class: 'glyphicon-list-alt',
                  button_class: 'btn-default input-sm',
                  tabindex: 999

