- submit_label = t "button.#{action}"

.box.box-warning
  .box-body style="padding-top: 25px;"

    = form_for form, url: {action: action}, html: {class: "form-horizontal"} do |f|
      = render 'shared/error_messages', obj: form

      = f.hidden_field :id

      .form-group
        label.col-sm-2.control-label
          = form_label :building, :code
          span.require ＊
        .col-sm-2
          .input-group
            = f.text_field :code, class: "form-control maxlength", maxlength: 10, tabindex: 1
        .col-sm-7.text-right.button-area-right
          = f.submit(submit_label , class: "btn btn-primary input-sm", tabindex: 998)

      .form-group
        label.col-sm-2.control-label
          = form_label :building, :owner_id
          / span.require ＊
        .col-sm-5
          - owners = action == 'new' ? Owner.visible.pluck(:name, :id) : Owner.pluck(:name, :id)
          = f.select :owner_id, owners, {include_blank: '設定なし'}, class: "form-control select2", style: "font-size: 10px;", tabindex: 2

      .form-group
        label.col-sm-2.control-label
          = form_label :building, :name
          span.require ＊
        .col-sm-8
          .input-group
            = f.text_field :name, class: "form-control maxlength", maxlength: 20, size: 100, tabindex: 3

      .form-group
        label.col-sm-2.control-label
          = form_label :building, :reward_rate
          span.small （%）
          span.require ＊
        .col-sm-2
          .input-group
            = f.number_field :reward_rate, class: "form-control maxlength", maxlength: 4, step: '0.1', tabindex: 4
        .col-sm-4
          small.attention ※小数点以下第一位までの入力が可能です。

      .form-group
        label.col-sm-2.control-label = form_label :building, :postal_code
        .col-sm-2
          .input-group
            = f.text_field :postal_code, class: "form-control maxlength", maxlength: 8, size: 10, tabindex: 4

      .form-group
        label.col-sm-2.control-label = form_label :building, :address
        .col-sm-8
          .input-group
            = f.text_field :address, class: "form-control maxlength", maxlength: 256, tabindex: 5

      .form-group
        label.col-sm-2.control-label = form_label :profile, :total_floor_area
        .col-sm-1
          .input-group
            = f.number_field :total_floor_area, class: "form-control maxlength", maxlength: 3, min: 0, tabindex: 6
        .col-sm-1 style="margin: 15px 0 0 -20px;" ㎡

      .form-group
        label.col-sm-2.control-label = form_label :profile, :standard_people
        .col-sm-1
          .input-group
            = f.number_field :standard_people, class: "form-control maxlength", maxlength: 3, min: 0, tabindex: 7

        label.col-sm-2.control-label = form_label :profile, :max_people
        .col-sm-1
          .input-group
            = f.number_field :max_people, class: "form-control maxlength", maxlength: 3, min: 0, tabindex: 8

      .form-group
        label.col-sm-2.control-label = form_label :profile, :bath_count
        .col-sm-1
          .input-group
            = f.number_field :bath_count, class: "form-control maxlength", maxlength: 3, min: 0, tabindex: 9

        label.col-sm-2.control-label = form_label :profile, :toilet_count
        .col-sm-1
          .input-group
            = f.number_field :toilet_count, class: "form-control maxlength", maxlength: 3, min: 0, tabindex: 10

      .form-group
        label.col-sm-2.control-label = form_label :profile, :secret_number
        .col-sm-2
          .input-group
            = f.text_field :secret_number, class: "form-control maxlength", maxlength: 25, size: 10, tabindex: 11

      .form-group
        label.col-sm-2.control-label 備考
        .col-sm-8
          .input-group
            = f.text_area :note, row: 5, cols: 100, class: "form-control maxlength", maxlength: 500, placeholder: "５００文字まで入力可能です。", tabindex: 12

      .form-group
        .col-sm-11.text-right.button-area-right
          = f.submit(submit_label , class: "btn btn-primary input-sm", tabindex: 997)

