.row
  .col-xs-12
    .box
      .box-body
        table.table.table-bordered.table-striped#table_building_list
          thead
            tr
              th.small width="7%" コード
              th width="25%" 施設名称
              th width="12%" エリア
              th width="18%" オーナー
              th.small width="5%" 部屋数
              th.small width="7%"
                div 部屋
                div 表示順
              th 部屋

          tbody.disp-vline
            - list.each do |building|
              tr class= (building.is_visible ? "" : "deletion")
                td.code = link_to(building.code, master_buildings_show_path(building.id))
                td.name = building.name
                td.area = building&.area&.name
                td.area = building&.owner&.name
                td.room_count = building.room_count
                td.room_no
                  - room_no_tags(building)
                td.room
                  - room_name_tags(building)

= render 'javascript'
