= form_for form, url: {action: action}, html: {class: "form-horizontal", method: "post"}, remote: true do |f|
  = f.hidden_field :room_id
  = f.hidden_field :building_id

  .modal.fade.room#roomModal tabindex="-1"
    .modal-dialog style="width:800px;"
      .modal-content
        .modal-header
          button.close type="button" data-dismiss="modal"
            span ×
          h4.modal-title
            strong = t("title.buildings.#{action_name}")

        .modal-body style="height: 500px; overflow-y: scroll;"
          .row
            .col-xs-12
              .box.box-success
                .box-header.with-border
                  p = form.building.name + "の部屋情報を#{label}します。"
            .col-xs-2

          / エラーメッセージの表示
          .row
            .col-sm-12#error_messages

          .form-group
            label.col-sm-2.control-label
              |名称
              / - if form.room_id.blank? || form.building.room_count > 1
                span.require ＊
            .col-sm-6
              .input-group
                = f.text_field :name, class: "form-control maxlength", maxlength: 20, size: 60

          .form-group
            label.col-sm-2.control-label
              |表示順
              span.require ＊
            .col-sm-2
              .input-group
                = f.number_field :room_no, class: "form-control maxlength", maxlength: 3, min: 0
            label.col-sm-2.control-label 延床面積
            .col-sm-2
              .input-group
                = f.number_field :total_floor_area, class: "form-control maxlength", maxlength: 3, min: 0

          .form-group
            label.col-sm-2.control-label 標準人数
            .col-sm-2
              .input-group
                = f.number_field :standard_people, class: "form-control maxlength", maxlength: 3, min: 0
            label.col-sm-2.control-label 最大人数
            .col-sm-2
              .input-group
                = f.number_field :max_people, class: "form-control maxlength", maxlength: 3, min: 0

          .form-group
            label.col-sm-2.control-label 風呂数
            .col-sm-2
              .input-group
                = f.number_field :bath_count, class: "form-control maxlength", maxlength: 3, min: 0

            label.col-sm-2.control-label トイレ数
            .col-sm-2
              .input-group
                = f.number_field :toilet_count, class: "form-control maxlength", maxlength: 3, min: 0

          .form-group
            label.col-sm-2.control-label 暗証番号
            .col-sm-2
              .input-group
                = f.text_field :secret_number, class: "form-control maxlength", maxlength: 25, size: 10
            label.col-sm-2.control-label suitebook<br>物件ID
            .col-sm-2
              .input-group
                = f.text_field :suitebook_room_idnum, class: "form-control maxlength", maxlength: 25, size: 10

          .form-group
            label.col-sm-2.control-label 備考
            .col-sm-9
              .input-group
                = f.text_area :note, row: 5, cols: 100, class: "form-control maxlength", maxlength: 500, placeholder: "５００文字まで入力可能です。"



          .modal-footer
            button.btn.btn-default data-dismiss="modal" キャンセル
            button.btn.btn-primary type="submit" = label


javascript:
  $('.maxlength').maxlength({
    alwaysShow: true,
    warningClass: "label label-success",
    limitReachedClass: "label label-danger",
    validate: true
  });