.box.box-warning
  .box-header.with-border
    label 部屋情報
    span style="font-size: 11px;"　※ 表示順、または部屋名をクリックすると各部屋の編集ウィンドウが起動します
    .box-tools.pull-right style="margin-top: 2px;"
      = remote_link_btn_tag(label: '部屋を追加する',
                     path: master_buildings_new_room_path(form.building_id),
                     icon_class: 'glyphicon-plus-sign',
                     button_class: 'btn-success input-sm')

  .row
    .col-sm-12 style="z-index:2; height:0px;"
      #fadeout

  .box-body
    .panel.panel-default
      table.table.table-bordered.show_rooms
        tr
          th style="width: 5%;" 表示順
          th style="width: 15%;" 名称
          th style="width: 5%;" 延床<br>面積
          th style="width: 5%;" 標準<br>人数
          th style="width: 5%;" 最大<br>人数
          th style="width: 5%;" 風呂数
          th style="width: 5%;" トイレ<br>数
          th style="width: 8%;" 暗証<br>番号
          th style="width: 8%;" suitebook<br>物件ID
          th style="width: 20%;" 備考
          th style="width: 5%;"

        - @form.room_list.each do |room|
          tr class="#{room.is_visible ? '' : 'deletion'}"
            td.amount-label = link_to room.room_no, master_buildings_edit_room_path(room.id), remote: true
            td = link_to room.name, master_buildings_edit_room_path(room.id), remote: true
            td.amount-label = room.profile.total_floor_area
            td.amount-label = room.profile.standard_people
            td.amount-label = room.profile.max_people
            td.amount-label = room.profile.bath_count
            td.amount-label = room.profile.toilet_count
            td = room.profile.secret_number
            td = room.suitebook_room_idnum
            td = room.note
            td.text-center
              - if room.is_visible
                - btn_tag = bts_btn_tag("非表示", icon_class: "glyphicon-remove", button_class: 'btn-danger btn-xs')
                = link_to btn_tag, master_buildings_invisible_room_path(room.building_id, room.id),
                                  data: {confirm: "部屋情報 #{room.name} を「非表示」にしてよろしいですか？"}
              - else
                - btn_tag = bts_btn_tag("表示", icon_class: "glyphicon-retweet", button_class: 'btn-info btn-xs')
                = link_to btn_tag, master_buildings_visible_room_path(room.building_id, room.id),
                                  data: {confirm: "部屋情報 #{room.name} を「表示」にしてよろしいですか？"}


javascript:

  $(function(){
    // 4秒間表示
    setTimeout(function(){
      $("#fadeout").fadeOut(2000);
    },4000);
  });