<% if @form.errors.empty? %>
  $('#roomModal').modal('hide');
  $('#rooms').html('<%= j(render "rooms", form: @form) %>');

  // 部屋数の更新
  $('#room_count').text('<%= @form.room_list.size %>');

  $('#fadeout').html('<%= j(render "shared/error_messages", obj: @form) %>');
<% else %>
  $('#error_messages').html('<%= j(render "shared/error_messages", obj: @form) %>');
<% end %>