- breadcrumb :building_new
- action = controller.action_name
- provide(:title, t("title.buildings.#{action}"))

.row
  .col-sm-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 施設を編集します。

.row
  = render 'button_form', form: @form

.row
  .col-sm-12
    # = render 'form', form: @form, action: 'update'

.row
  = render 'button_form', form: @form
