<%
  if action_name == 'new_room'
    label = '登録'
    action = 'create_room'
  else
    label = '更新'
    action = 'update_room'
  end
%>
$('.room_modal').html('<%= j(render "room_modal", form: @form, label: label, action: action) %>');
$('#roomModal').modal('show');