- breadcrumb :building_list
- provide(:title, t("title.buildings.list"))

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 施設の一覧を表示します。
        ul
          li 各列のヘッダーをクリックすることでデータをソートできます。
          li 一覧の背景がグレーの行は「非表示」状態の施設です。
          li コードのリンクから施設詳細画面へ遷移します。

#message
  = render 'shared/error_messages', obj: @form

= render 'button_list', form: @form

/ 一覧
#building_list
  = render 'list', list: @form.list

= render 'button_list', form: @form