- breadcrumb :building_show, @form.building_id
- provide :title, t("title.buildings.show")

.row
  .col-sm-12
    = render 'shared/error_messages', obj: @form
    - if @error_ids
      .alert.alert-danger
        p この施設を非表示にするには、以下の予約情報のステータスを確認して「CO済」、「キャンセル」のいずれかに変更してください。
        p URLをクリックすると別ウィンドウで予約詳細画面が開きます。
        ul
          - @error_ids.each do |id|
            - url = reservation_management_show_path id
            li = link_to url, url, target: '_blank'

    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 施設の詳細を確認します。
        ul
          li「編集」ボタンで、施設情報を編集できます。
          li「非表示」ボタンで施設を非表示にすると、各画面の施設セレクトでこの施設が表示されなくなります。※データ自体は削除されません。
          li 「部屋情報」セクションでは、部屋の追加、編集、表示・非表示の切り替えを行うことができます。

        - unless @form.is_visible
          .alert.alert-danger.alert-dismissible
            |この施設は現在「非表示」の状態です。

.row
  = render 'button_show', form: @form

.row
  .col-sm-12
    .box.box-success
      .box-header.with-border
        label 施設情報
      .box-body
        .panel.panel-default
          table.table.table-bordered.show_reservation
            tr
              th.info コード
              td = @form.code
              th.info オーナー
              td = @form.owner_name
            tr
              th.info 施設名称
              td = @form.name
              th.info エリア
              td = @form.area_name
            tr
              th.info 報酬比率
              td colspan="3" = "#{@form.reward_rate} %"
            tr
              th.info 郵便番号
              td colspan="3" = @form.postal_code
            tr
              th.info 住所
              td colspan="3" = @form.address
            tr
              th.info 部屋数
              td
                span#room_count
                  = @form.room_count
              th.info 延床面積
              td = @form.total_floor_area
            tr
              th.info 標準人数
              td = @form.standard_people
              th.info 最大人数
              td = @form.max_people
            tr
              th.info 風呂数
              td = @form.bath_count
              th.info トイレ数
              td = @form.toilet_count
            tr
              th.info 暗証番号
              td colspan="3" = @form.secret_number
            tr
              th.info 備考
              td colspan="3" = @form.note

.row
  .col-sm-12
    #rooms
      = render 'rooms', form: @form

.row
  = render 'button_show', form: @form

.room_modal