.row style="margin-top: 10px;"

  / ▼ 左寄せ
  / .col-sm-6

  / ▼ 右寄せ
  .col-sm-12.text-right
    / ボタン押下時のJSの処理は _list.html.slimに記述
    button.btn.btn-default.prev_week type="submit" style="margin-left: 2px;" tabindex="5"
      i.fa.fa-fw.fa-arrow-left
      | ７日前を検索
    button.btn.btn-default.next_week type="submit" style="margin-left: 2px;" tabindex="4"
      | ７日後を検索
      i.fa.fa-fw.fa-arrow-right
