= hidden_field_tag :reservation_id
= hidden_field_tag :current_status

/ ヘッダー・フッターに表示する期間
- title = l(form.search_date_start, format: :long) + " 〜 " + l(form.search_date_end, format: :long)

.row
  .col-sm-12
    .box.box-warning
      .box-header
        .col-sm-6
          h3.box-title
            = title
        .col-sm-6.text-right
          span.info-attention ※検索期間の開始日を７日前後させてそこから一週間を検索します。

        = render 'button_list', form: form

      .box-body.no-padding.weekly_task_list
        table.table.table-bordered#table_weekly_task_list
          thead
            tr
              th.top.col-xs-3.col-ms-3 rowspan=2
                p 部屋 / 日付
                - if Date.today.between?(form.search_date_start, form.search_date_end)
                  p.cleaning_count
                    |本日の未清掃件数
                    span.label.label-warning = form.today_preparing_count
                    |件
              - (form.search_date_start..form.search_date_end).each do |date|
                td colspan=2
                  span.date = l date, format: :middle_h
                  / if date == form.search_date_start
                  - if date.today?
                    span.today【本日】

            tr
              - (form.search_date_start..form.search_date_end).each do |date|
                td.out
                  |OUT
                  span.label.label-danger = form.out_count_by_date[date]
                td.in
                  |IN
                  span.label.label-info = form.in_count_by_date[date]

          tbody.disp-vline
            - form.room_id_hash.each do |room_id, room|
              - td_class = cycle('odd', 'even')
              tr.room_reservations
                th.col-xs-3.col-ms-3 rowspan=2 class= td_class
                  div = room.full_code_name_with_underscore
                == td_reservation_tag(row: form.room_reservation_hash[room_id], td_class: td_class)

              tr.arrow
                == td_arrow_tag(row: form.room_reservation_hash[room_id], td_class: td_class)

      .box-footer style="border-top: medium solid #f5eded;"
        .col-sm-6
          h4 = title

javascript:
  $(function(){
    $('[data-toggle=tooltip]').tooltip();
  });

  // JSからsubmit()を呼ぶとremote: trueにならない（Ajaxにならない）
  // https://blog.rista.jp/entry/2017/09/04/100006
  $('.prev_week').click(function() {
    var search_date_start = '#{l(form.search_date_start - 7.days, format: :default_h)}';
    var search_date_end   = '#{l(form.search_date_start - 1.days, format: :default_h)}';
    searchWeekData(search_date_start, search_date_end);
  });

  $('.next_week').click(function() {
    var search_date_start = '#{l(form.search_date_start + 7.days, format: :default_h)}';
    var search_date_end   = '#{l(form.search_date_start + 13.days, format: :default_h)}';
    searchWeekData(search_date_start, search_date_end);
  });

  function searchWeekData(search_date_start, search_date_end) {
    $('#work_daily_tasks_form_search_date_start').val(search_date_start);
    $('#work_daily_tasks_form_search_date_end').val(search_date_end);
    Rails.fire($('#daily_tasks_form')[0], 'submit');
  }