sass:
  .select2-container--default .select2-selection--multiple .select2-selection__choice
    color: black

  .select2-container--default
    width: 100%
    border-radius: 0

  .content-wrapper
    min-height: 200px

= form_for form, url: {action: :search}, html: {class: 'form-horizontal', id: 'daily_tasks_form'}, remote: true do |f|
  / .box.box-default.collapsed-box

  .box
    .box-header.with-border
      .box-title 検索条件
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"
          |検索条件ウィンドウを開閉する&nbsp;
          i.fa.fa-minus
          / i.fa.fa-plus

    .box-body
      / エラーメッセージの表示
      .col-sm-12#search_error_messages

      .form-group
        label.col-sm-2.control-label for="search_check_in_date"
          |期間
          span.require ＊
        .col-sm-6
          .input-group.input-daterange
            = f.text_field :search_date_start, class: "form-control"
            span.input-group-addon to
            = f.text_field :search_date_end, class: "form-control"

      .form-group
        label.col-sm-2.control-label
          |エリア
          i.fa.fa-fw.fa-question-circle data-toggle="tooltip" data-placement="top" title="施設の自動選択を行います。選択したエリア自体は検索条件に含まれません。"
        .col-sm-3
          - area_select_options = Area.visible.map { |a| [ a.name, a.id, data: { children_path: select_room_options_by_area_path(a) } ] }
          - area_select_options = [['全て', 0, data: { children_path: select_room_options_by_area_path(0) }]] + area_select_options
          = f.select :search_area_id, area_select_options, {include_blank: false}, class: "form-control select-parent select2", style: "font-size: 10px;"

      .form-group
        label.col-sm-2.control-label for="search_room_id"
          |施設
          span.require ＊
        .col-sm-9
          = f.select :search_room_ids, options_for_select( room_select_options, form.search_room_ids ), {}, {class: "form-control select2-multi select-children", multiple: "multiple", style: "width: 100%; height: 400px;", tabindex: 1}

    .box-footer style=("display: block;")
      | 検索条件を指定してください。
      .pull-right
        button.btn.btn-default type="submit" style="margin-left: 20px;" tabindex="3"
          i.fa.fa-search
          | 検索


/ 連動セレクト（団地選択時に部屋情報のセレクトオプションタグを自動生成）
= render 'shared/replace_select_option_js'
