$('#daily_tasks_form').spin();

$('#daily_task_list').html('<%= j(render "list", form: @form) %>');

// Ajaxでのパーシャル更新時は明示的ローディングを停止させる
stopSpin($('#daily_tasks_form'));

doNotification('<%= j(@message) %>');
