- breadcrumb :daily_tasks
- provide(:title, t("title.work.daily_tasks"))

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 現在の各部屋の状況を確認できます。
        ul
          li 検索期間のIN/OUTの予定を取得します。（※期間は最長で３１日まで指定可能です。）
          li 検索期間に今日の日付が含まれる場合のみ、『本日の未清掃件数』が表示されます。


#message
  = render 'shared/error_messages', obj: @form

/ 検索条件
#search
  = render 'search', form: @form

#daily_task_list
  = render 'list', form: @form