<% if @form.errors.empty? %>
  $('#search_error_messages').html('');
  $('#daily_task_list').html('<%= j(render "list", form: @form) %>');
<% else %>
  $('#search_error_messages').html('<%= j(render "shared/error_messages", obj: @form) %>');
<% end %>

// Ajaxでのパーシャル更新時は明示的ローディングを停止させる
stopSpin($('#daily_tasks_form'));
