#analysis_title.hover data-target="analysis_title"
  h4.text-center.sub_title
    = Date.current.strftime(convert_year_month_format(template['jp'].analysis_title))

#form_analysis_title.row.settlement_form.hidden
  span.box_title 集計情報タイトル
  .col-sm-6
    = form_with scope: :template, url: master_settlement_template_update_path, class: "template-form form-horizontal mt-4" do |f|
      / ビュー更新時のターゲット、フォーマットキャンセル時も利用
      = f.hidden_field :target, value: 'analysis_title'
      - SettlementTemplate::LANGUAGE_LIST.each.with_index(1) do |lang, i|
        .form-group
          label.control-label.col-sm-2 = Settings.SETTLEMENT_LANGUAGE_LABEL[lang]
          .col-sm-10
            = f.text_field "#{lang}_analysis_title", value: template[lang].analysis_title, class: "form-control maxlength", maxlength: 30
            - if i == SettlementTemplate::LANGUAGE_LIST.size
              = f.submit(t("button.update"), class: "btn btn-primary btn-sm mt-2")
  .col-sm-6
    .row
      small.attention ※年・月の表示は以下のプレースホルダを利用できます。
    .row
      table.table.table-bordered.small.help_table
        tr
          th.info.format 書式
          th.info 説明
          th.info 例
        tr
          td ${Y}
          td 西暦を4桁の数で表示
          td "${Y}年" >> "2021年"
        tr
          td ${M}
          td 月を必ず2桁の数で表示
          td "${M}月" >> "04月"
        tr
          td ${m}
          td 月を1桁か2桁の数で表示
          td "${Y}年${m}月分" >> "2021年5月分"
