#analysis_left.hover data-target="analysis_left"
  table.table.table-bordered.analysis_table
    tr
      td.text-center = template['jp'].sales
      td
    tr
      td.text-center = template['jp'].target_days
      td
    tr
      td.text-center = template['jp'].working_days
      td
    tr
      td.text-center = template['jp'].guest_count
      td
    tr
      td.text-center = template['jp'].occ
      td
    tr
      td.text-center = template['jp'].adr
      td
    tr
      td.text-center = template['jp'].rev_par
      td

  table.table.table-bordered.analysis_table
    tr
      td.text-center = template['jp'].sales
      td
    tr
      td.text-center = template['jp'].other_income
      td
    tr
      td.text-center = template['jp'].other_cost
      td

  table.table.table-bordered.analysis_table
    tr
      td.text-center = template['jp'].reward_rate
      td
    tr.danger
      td.text-center = template['jp'].payment_amount
      td

  h4 = Date.current.next_month.strftime(convert_year_month_format(template['jp'].next_month_title))

  table.table.table-bordered.analysis_table
    tr
      td.text-center = template['jp'].sales
      td
    tr
      td.text-center = template['jp'].target_days
      td
    tr
      td.text-center = template['jp'].working_days
      td
    tr
      td.text-center = template['jp'].guest_count
      td
    tr
      td.text-center = template['jp'].occ
      td
    tr
      td.text-center = template['jp'].adr
      td
    tr
      td.text-center = template['jp'].rev_par
      td

#form_analysis_left.row.settlement_form.small.hidden
  span.box_title 集計情報（左側）
  = form_with scope: :template, url: master_settlement_template_update_path, class: "template-form form-horizontal mt-4" do |f|
    / ビュー更新時のターゲット、フォーマットキャンセル時も利用
    = f.hidden_field :target, value: 'analysis_left'
    - SettlementTemplate::LANGUAGE_LIST.each.with_index(1) do |lang, i|
      .col-sm-6
        label.col-sm-12.text-center = Settings.SETTLEMENT_LANGUAGE_LABEL[lang]
        .form-group.mb-4
          label.col-sm-12 売上
          = f.text_field "#{lang}_sales", value: template[lang].sales, class: "form-control maxlength", maxlength: 20
        .form-group.mb-4
          label.col-sm-12 日数
          = f.text_field "#{lang}_target_days", value: template[lang].target_days, class: "form-control maxlength", maxlength: 20
        .form-group.mb-4
          label.col-sm-12 稼働日数
          = f.text_field "#{lang}_working_days", value: template[lang].working_days, class: "form-control maxlength", maxlength: 20
        .form-group.mb-4
          label.col-sm-12 宿泊人数
          = f.text_field "#{lang}_guest_count", value: template[lang].guest_count, class: "form-control maxlength", maxlength: 20
        .form-group.mb-4
          label.col-sm-12 OCC
          = f.text_field "#{lang}_occ", value: template[lang].occ, class: "form-control maxlength", maxlength: 20
        .form-group.mb-4
          label.col-sm-12 ADR
          = f.text_field "#{lang}_adr", value: template[lang].adr, class: "form-control maxlength", maxlength: 20
        .form-group.mb-4
          label.col-sm-12 RevPAR
          = f.text_field "#{lang}_rev_par", value: template[lang].rev_par, class: "form-control maxlength", maxlength: 20
        .form-group.mb-4
          label.col-sm-12 報酬率
          = f.text_field "#{lang}_reward_rate", value: template[lang].reward_rate, class: "form-control maxlength", maxlength: 20
        .form-group.mb-4
          label.col-sm-12 入金額
          = f.text_field "#{lang}_payment_amount", value: template[lang].payment_amount, class: "form-control maxlength", maxlength: 20
        .form-group.mb-4
          label.col-sm-12 次月情報タイトル
          = f.text_field "#{lang}_next_month_title", value: template[lang].next_month_title, class: "form-control maxlength", maxlength: 20

    .col-sm-12.text-right.mb-4
      = f.submit(t("button.update"), class: "btn btn-primary btn-sm mt-2")

  .col-sm-12
    .attention ※次月情報タイトルには精算月の翌月を表示するプレースホルダが利用可能です。
    .attention ※「売上」や次月情報の項目名等、重複して表示されるラベルは１つの設定で各所に反映されます。
