#company.hover data-target="company"
  .company_name = template['jp'].company_name
  .mb-2 = template['jp'].company_info1
  .mb-2 = template['jp'].company_info2
  .mb-4 = template['jp'].company_info3

#form_company.row.settlement_form.hidden
  span.box_title 自社情報
  = form_with scope: :template, url: master_settlement_template_update_path, class: "template-form mt-4" do |f|
    / ビュー更新時のターゲット、フォーマットキャンセル時も利用
    = f.hidden_field :target, value: 'company'
    - SettlementTemplate::LANGUAGE_LIST.each.with_index(1) do |lang, i|

      label.col-sm-12.mb-4 = Settings.SETTLEMENT_LANGUAGE_LABEL[lang]

      label.col-sm-11.col-sm-offset-1 社名
      .col-sm-11.col-sm-offset-1.mb-4
        = f.text_field "#{lang}_company_name", value: template[lang].company_name, class: "form-control maxlength", maxlength: 50

      label.col-sm-11.col-sm-offset-1 会社情報１
      .col-sm-11.col-sm-offset-1.mb-4
        = f.text_field "#{lang}_company_info1", value: template[lang].company_info1, class: "form-control maxlength", maxlength: 50

      label.col-sm-11.col-sm-offset-1 会社情報２
      .col-sm-11.col-sm-offset-1.mb-4
        = f.text_field "#{lang}_company_info2", value: template[lang].company_info2, class: "form-control maxlength", maxlength: 50

      label.col-sm-11.col-sm-offset-1 会社情報３
      .col-sm-11.col-sm-offset-1.mb-4
        = f.text_field "#{lang}_company_info3", value: template[lang].company_info3, class: "form-control maxlength", maxlength: 50

      - if i == SettlementTemplate::LANGUAGE_LIST.size
        .col-sm-12.text-right
          = f.submit(t("button.update"), class: "btn btn-primary btn-sm")
