#note.hover data-target="note"
  - if template['jp'].note1.present?
    p = template['jp'].note1
  - if template['jp'].note2.present?
    p = template['jp'].note2
  - if template['jp'].note3.present?
    p = template['jp'].note3
  - if template['jp'].note4.present?
    p = template['jp'].note4

  - if template['jp'].note1.blank? && template['jp'].note2.blank? && template['jp'].note3.blank? && template['jp'].note4.blank?
    p ※備考は設定されていません。

#form_note.row.settlement_form.hidden
  span.box_title 備考エリア
  = form_with scope: :template, url: master_settlement_template_update_path, class: "template-form form-horizontal mt-4" do |f|
    / ビュー更新時のターゲット、フォーマットキャンセル時も利用
    = f.hidden_field :target, value: 'note'
    - SettlementTemplate::LANGUAGE_LIST.each.with_index(1) do |lang, i|
      .col-sm-12
        label.col-sm-3 = Settings.SETTLEMENT_LANGUAGE_LABEL[lang]
      .form-group
        label.col-sm-2.small.col-sm-offset-1 備考１
        .col-sm-9
          = f.text_field "#{lang}_note1", value: template[lang].note1, class: "form-control maxlength", maxlength: 100
      .form-group
        label.col-sm-2.small.col-sm-offset-1 備考２
        .col-sm-9
          = f.text_field "#{lang}_note2", value: template[lang].note2, class: "form-control maxlength", maxlength: 100
      .form-group
        label.col-sm-2.small.col-sm-offset-1 備考３
        .col-sm-9
          = f.text_field "#{lang}_note3", value: template[lang].note3, class: "form-control maxlength", maxlength: 100
      .form-group
        label.col-sm-2.small.col-sm-offset-1 備考４
        .col-sm-9
          = f.text_field "#{lang}_note4", value: template[lang].note4, class: "form-control maxlength", maxlength: 100

      - if i == SettlementTemplate::LANGUAGE_LIST.size
        .col-sm-12.text-right
          = f.submit(t("button.update"), class: "btn btn-primary btn-sm")
