#other_income.hover data-target="other_income"
  p = template['jp'].other_income

  table.table.table-bordered.analysis_table
    tr
      td.text-center = template['jp'].internet_income
      td
    - if template['jp'].free_income1.present?
      tr
        td.text-center = template['jp'].free_income1
        td
    - if template['jp'].free_income2.present?
      tr
        td.text-center = template['jp'].free_income2
        td
    - if template['jp'].free_income3.present?
      tr
        td.text-center = template['jp'].free_income3
        td
    - if template['jp'].free_income4.present?
      tr
        td.text-center = template['jp'].free_income4
        td
    - if template['jp'].free_income5.present?
      tr
        td.text-center = template['jp'].free_income5
        td
    tr
      td.text-center 合計
      td

#form_other_income.row.settlement_form.small.hidden
  span.box_title その他収入
  = form_with scope: :template, url: master_settlement_template_update_path, class: "template-form form-horizontal mt-4" do |f|
    / ビュー更新時のターゲット、フォーマットキャンセル時も利用
    = f.hidden_field :target, value: 'other_income'
    - SettlementTemplate::LANGUAGE_LIST.each.with_index(1) do |lang, i|
      .col-sm-6

        label.col-sm-12.text-center = Settings.SETTLEMENT_LANGUAGE_LABEL[lang]
        .form-group.mb-4
          label.col-sm-12 その他収入タイトル
          = f.text_field "#{lang}_other_income", value: template[lang].other_income, class: "form-control maxlength", maxlength: 20

        .form-group.mb-4
          label.col-sm-12 インターネット代
          = f.text_field "#{lang}_internet_income", value: template[lang].internet_income, class: "form-control maxlength", maxlength: 10

        .form-group.mb-4
          label.col-sm-12 収入フリー項目１
          = f.text_field "#{lang}_free_income1", value: template[lang].free_income1, class: "form-control maxlength", maxlength: 10

        .form-group.mb-4
          label.col-sm-12 収入フリー項目２
          = f.text_field "#{lang}_free_income2", value: template[lang].free_income2, class: "form-control maxlength", maxlength: 10

        .form-group.mb-4
          label.col-sm-12 収入フリー項目３
          = f.text_field "#{lang}_free_income3", value: template[lang].free_income3, class: "form-control maxlength", maxlength: 10

        .form-group.mb-4
          label.col-sm-12 収入フリー項目４
          = f.text_field "#{lang}_free_income4", value: template[lang].free_income4, class: "form-control maxlength", maxlength: 10

        .form-group.mb-4
          label.col-sm-12 収入フリー項目５
          = f.text_field "#{lang}_free_income5", value: template[lang].free_income5, class: "form-control maxlength", maxlength: 10

        .form-group.mb-4
          label.col-sm-12 合計
          = f.text_field "#{lang}_total_income", value: template[lang].total_income, class: "form-control maxlength", maxlength: 10

      - if i == SettlementTemplate::LANGUAGE_LIST.size
        .col-sm-12.text-right
          = f.submit(t("button.update"), class: "btn btn-primary btn-sm")
