#other_cost.hover data-target="other_cost"
  p = template['jp'].other_cost
  table.table.table-bordered.analysis_table
    tr
      td.text-center = template['jp'].site_fee
      td
    tr
      td.text-center = template['jp'].electrical_fee
      td
    tr
      td.text-center = template['jp'].gas_fee
      td
    tr
      td.text-center = template['jp'].water_fee
      td
    tr
      td.text-center = template['jp'].internet_fee
      td
    tr
      td.text-center = template['jp'].site_controller_fee
      td

    - if template['jp'].free_fee1.present?
      tr
        td.text-center = template['jp'].free_fee1
        td
    - if template['jp'].free_fee2.present?
      tr
        td.text-center = template['jp'].free_fee2
        td
    - if template['jp'].free_fee3.present?
      tr
        td.text-center = template['jp'].free_fee3
        td
    - if template['jp'].free_fee4.present?
      tr
        td.text-center = template['jp'].free_fee4
        td
    - if template['jp'].free_fee5.present?
      tr
        td.text-center = template['jp'].free_fee5
        td
    tr
      td.text-center = template['jp'].total_fee
      td

#form_other_cost.row.settlement_form.small.hidden
  span.box_title その他費用
  = form_with scope: :template, url: master_settlement_template_update_path, class: "template-form form-horizontal mt-4" do |f|
    / ビュー更新時のターゲット、フォーマットキャンセル時も利用
    = f.hidden_field :target, value: 'other_cost'
    - SettlementTemplate::LANGUAGE_LIST.each.with_index(1) do |lang, i|
      .col-sm-6
        label.col-sm-12.text-center = Settings.SETTLEMENT_LANGUAGE_LABEL[lang]

        .form-group.mb-4
          label.col-sm-12 その他費用タイトル
          = f.text_field "#{lang}_other_cost", value: template[lang].other_cost, class: "form-control maxlength", maxlength: 20

        .form-group.mb-4
          label.col-sm-12 サイト手数料
          = f.text_field "#{lang}_site_fee", value: template[lang].site_fee, class: "form-control maxlength", maxlength: 10

        .form-group.mb-4
          label.col-sm-12 電気代
          = f.text_field "#{lang}_electrical_fee", value: template[lang].electrical_fee, class: "form-control maxlength", maxlength: 10

        .form-group.mb-4
          label.col-sm-12 ガス代
          = f.text_field "#{lang}_gas_fee", value: template[lang].gas_fee, class: "form-control maxlength", maxlength: 10

        .form-group.mb-4
          label.col-sm-12 水道代
          = f.text_field "#{lang}_water_fee", value: template[lang].water_fee, class: "form-control maxlength", maxlength: 10

        .form-group.mb-4
          label.col-sm-12 インターネット費用
          = f.text_field "#{lang}_internet_fee", value: template[lang].internet_fee, class: "form-control maxlength", maxlength: 10
        .form-group.mb-4
          label.col-sm-12 サイトコントローラー
          = f.text_field "#{lang}_site_controller_fee", value: template[lang].site_controller_fee, class: "form-control maxlength", maxlength: 10

        .form-group.mb-4
          label.col-sm-12 費用フリー項目１
          = f.text_field "#{lang}_free_fee1", value: template[lang].free_fee1, class: "form-control maxlength", maxlength: 10

        .form-group.mb-4
          label.col-sm-12 費用フリー項目２
          = f.text_field "#{lang}_free_fee2", value: template[lang].free_fee2, class: "form-control maxlength", maxlength: 10

        .form-group.mb-4
          label.col-sm-12 費用フリー項目３
          = f.text_field "#{lang}_free_fee3", value: template[lang].free_fee3, class: "form-control maxlength", maxlength: 10

        .form-group.mb-4
          label.col-sm-12 費用フリー項目４
          = f.text_field "#{lang}_free_fee4", value: template[lang].free_fee4, class: "form-control maxlength", maxlength: 10

        .form-group.mb-4
          label.col-sm-12 費用フリー項目５
          = f.text_field "#{lang}_free_fee5", value: template[lang].free_fee5, class: "form-control maxlength", maxlength: 10

        .form-group.mb-4
          label.col-sm-12 合計
          = f.text_field "#{lang}_total_fee", value: template[lang].total_fee, class: "form-control maxlength", maxlength: 10

      - if i == SettlementTemplate::LANGUAGE_LIST.size
        .col-sm-12.text-right
          = f.submit(t("button.update"), class: "btn btn-primary btn-sm")
