#owner.hover data-target="owner"
  .owner_name 京都　花子　#{template['jp'].honorific}
  .mb-2 #{template['jp'].building}　紡 松原御幸町
  .mb-4 #{template['jp'].address}　600-8047 京都市下京区石不動之町681-3

#form_owner.row.settlement_form.hidden
  span.box_title オーナー情報
  = form_with scope: :template, url: master_settlement_template_update_path, class: "template-form mt-4" do |f|
    / ビュー更新時のターゲット、フォーマットキャンセル時も利用
    = f.hidden_field :target, value: 'owner'
    - SettlementTemplate::LANGUAGE_LIST.each.with_index(1) do |lang, i|
      small.col-sm-12
        label.col-sm-3 = Settings.SETTLEMENT_LANGUAGE_LABEL[lang]
      small.col-sm-12.small
        label.col-sm-2.col-sm-offset-2 敬称
        label.col-sm-3 施設名ラベル
        label.col-sm-5 施設住所ラベル
      .col-sm-12.mb-4
        .col-sm-3.col-sm-offset-1
          = f.text_field "#{lang}_honorific", value: template[lang].honorific, class: "form-control maxlength", maxlength: 20
        .col-sm-3
          = f.text_field "#{lang}_building", value: template[lang].building, class: "form-control maxlength", maxlength: 20
        .col-sm-5
          = f.text_field "#{lang}_address", value: template[lang].address, class: "form-control maxlength", maxlength: 100

      - if i == SettlementTemplate::LANGUAGE_LIST.size
        .col-sm-12.text-right
          = f.submit(t("button.update"), class: "btn btn-primary btn-sm")
