#reservations.hover data-target="reservations"
  table.table.table-bordered.reservation_table
    thead
      tr.success
        th colspan="2"
        th = template['jp'].visitor_name
        th = template['jp'].nationality
        th = template['jp'].number_of_nights
        th = template['jp'].total_count
        th = template['jp'].adult_count
        th = template['jp'].child_count
        th = template['jp'].room_charge
        th = template['jp'].cleaning_fee
        th = template['jp'].total
        th = template['jp'].site
        th = template['jp'].handling_charge
        th = template['jp'].reservation_date
      tr.success


    tbody
      tr
        td.text-center 1
        td.text-center 月
        td
        td
        td
        td
        td
        td
        td
        td
        td
        td
        td
        td
      tr
        td.text-center 2
        td.text-center 火
        td
        td
        td
        td
        td
        td
        td
        td
        td
        td
        td
        td

/ #form_reservations.row.settlement_form
#form_reservations.row.settlement_form.hidden
  span.box_title 宿泊情報一覧ヘッダー
  = form_with scope: :template, url: master_settlement_template_update_path, class: "template-form form-horizontal mt-4" do |f|
    / ビュー更新時のターゲット、フォーマットキャンセル時も利用
    = f.hidden_field :target, value: 'reservations'
    table.table.table-bordered
      thead
        tr
          th
          th 宿泊者名
          th 国籍
          th 泊数
          th 合計人数
          th 大人
          th 小人
          th 宿泊料
          th 清掃費
          th 合計
          th 予約サイト
          th 手数料
          th 予約日

      tbody
        - SettlementTemplate::LANGUAGE_LIST.each.with_index(1) do |lang, i|
          tr
            td.text-center = Settings.SETTLEMENT_LANGUAGE_LABEL[lang]
            td
              = f.text_field "#{lang}_visitor_name", value: template[lang].visitor_name, class: "form-control maxlength", maxlength: 10
            td
              = f.text_field "#{lang}_nationality", value: template[lang].nationality, class: "form-control maxlength", maxlength: 10
            td
              = f.text_field "#{lang}_number_of_nights", value: template[lang].number_of_nights, class: "form-control maxlength", maxlength: 10
            td
              = f.text_field "#{lang}_total_count", value: template[lang].total_count, class: "form-control maxlength", maxlength: 10
            td
              = f.text_field "#{lang}_adult_count", value: template[lang].adult_count, class: "form-control maxlength", maxlength: 10
            td
              = f.text_field "#{lang}_child_count", value: template[lang].child_count, class: "form-control maxlength", maxlength: 10
            td
              = f.text_field "#{lang}_room_charge", value: template[lang].room_charge, class: "form-control maxlength", maxlength: 10
            td
              = f.text_field "#{lang}_cleaning_fee", value: template[lang].cleaning_fee, class: "form-control maxlength", maxlength: 10
            td
              = f.text_field "#{lang}_total", value: template[lang].total, class: "form-control maxlength", maxlength: 10
            td
              = f.text_field "#{lang}_site", value: template[lang].site, class: "form-control maxlength", maxlength: 10
            td
              = f.text_field "#{lang}_handling_charge", value: template[lang].handling_charge, class: "form-control maxlength", maxlength: 10
            td
              = f.text_field "#{lang}_reservation_date", value: template[lang].reservation_date, class: "form-control maxlength", maxlength: 10

    .col-sm-12.text-right
      = f.submit(t("button.update"), class: "btn btn-primary btn-sm")