#title.row.hover data-target="title"
  h3.text-center = template['jp'].title

#form_title.row.settlement_form.hidden
  span.box_title タイトル
  = form_with scope: :template, url: master_settlement_template_update_path, class: "template-form form-horizontal mt-4" do |f|
    / ビュー更新時のターゲット、フォーマットキャンセル時も利用
    = f.hidden_field :target, value: 'title'
    - SettlementTemplate::LANGUAGE_LIST.each.with_index(1) do |lang, i|
      .form-group
        label.control-label.col-sm-1.col-sm-offset-2 = Settings.SETTLEMENT_LANGUAGE_LABEL[lang]
        .col-sm-6
          = f.text_field "#{lang}_title", value: template[lang].title, class: "form-control maxlength", maxlength: 20

          - if i == SettlementTemplate::LANGUAGE_LIST.size
            = f.submit(t("button.update"), class: "btn btn-primary btn-sm mt-2")
