@import "./variables";

/* 検索条件 */

#cleaning_status_list_form {
  /* select2 のボックスサイズ変更 */
  .select2-selection--multiple {
    min-height: 200px !important;
    overflow-y: scroll !important;
  }
}

// リスト
.cleaning_status_list {
  white-space: nowrap;
  overflow: scroll;
}

// 清掃作業一覧テーブル
#table_cleaning_status_list {

  // ▼ ヘッダー固定テーブル
  // https://qiita.com/shunsuke_i_anotelia/items/14fb4ec2600828a21a22

  // table
  display: block;
  position: relative;
  overflow: scroll;
  width: calc(100vw - 3.0rem);
  height: calc(75vh);
  border-collapse: collapse;
  /*font-size: 0;*/

  // thead, tbodyタグ
  thead,
  tbody {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  tbody tr {
    height: 125px;
  }

  th {
    width: 200px;
  }

  tbody th {
    text-align: left;
  }

  thead td {
    border: 1px #403b3b33 solid;
  }

  // 施設名以外の日付、データ部のセル幅
  thead td,
  tbody td {
    width: 165px;
  }

  thead td {
    text-align: center;
    background-color: #ebf1f0; // commonの設定を上書き
  }

  thead td p.date {
    font-size: 16px;
    font-weight: bold;
  }

  // 未清掃件数
  thead td p.prepearing_count {
    font-size: 12px;
    margin: 10px 0 0 0;

    span {
      margin: 0 3px;
      font-size: 15px;
    }
  }

  // 列ヘッダの固定
  tbody th {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
  }

  // 行ヘッダの固定
  thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  // 左上　行・列ヘッダの交差部分の固定
  thead th.top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;

    vertical-align: top;

    background-color: #d3dada;
  }

  // ▲ ヘッダー固定テーブル

  tbody th div {
    width: 180px;
    word-wrap: break-word;
    white-space: normal;
  }

  // 行の背景色
  .even {
    background-color: $tr-even-bgcolor;
  }

  .odd {
    background-color: $tr-odd-bgcolor;
  }

  // 一棟貸セル
  td.whole {
    background-color: #b1d0f1;
  }

  div.status-in-td {
    // ステータスラベルとボタンの上下マージン
    margin-bottom: 10px;
  }

  div.ci-date,
  div.co-date {
    font-size: 12px;
    margin-bottom: 5px;
    clear: both;
  }

  div.ci-date span.ci-time {
    margin-left: 10px;
  }

  div.date-title {
    margin-right: 10px;
    width: 20px;
    float: left;
  }

  // ステータス変更ボタン
  div.button-in-td span {
    // ボタン内のアイコンとラベルの左右マージン
    margin-right: 5px;
  }

  // 「詳細」ボタンとステータス変更ボタンのマージン
  button.update-status {
    margin-left: 5px;
    background-color: lightgoldenrodyellow;
  }

  // footer
  .under-line {
    border-top: medium solid #CACAC9 !important;
  }

}