@import "./variables";

/* 検索条件 */

#daily_tasks_form {
  /* select2 のボックスサイズ変更 */
  .select2-selection--multiple {
    min-height: 200px !important;
    overflow-y: scroll !important;
  }
}


// リスト
.weekly_task_list {
  white-space: nowrap;
  overflow: scroll;
}

// タスク一覧テーブル
#table_weekly_task_list {
  // table
  display: block;
  position: relative;
  overflow: scroll;
  width: calc(100vw - 3.0rem);
  height: calc(75vh);
  border-collapse: collapse;
  table-layout: fixed;

  // thead, tbodyタグ
  thead,
  tbody {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  // 列ヘッダの固定
  tbody th {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
  }

  // 行ヘッダの固定
  thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;

    font-size: 16px;
    font-weight: bold;
  }

  // 左上　行・列ヘッダの交差部分の固定
  thead th.top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;

    vertical-align: top;

    background-color: #d3dada;
  }
  // ▲ ヘッダー固定テーブル

  thead th p.cleaning_count {
    font-size: 13px;

    span {
      margin: 0 10px;
      font-size: 15px;
    }
  }

  thead td {
    /*border: 1px #403b3b33 solid;*/
    text-align: center;
    background-color: #ebf1f0; // commonの設定を上書き
  }

  thead td span.date {
    margin-right: 10px;
  }

  thead td.in span,
  thead td.out span {
    margin-left: 10px;
    font-size: 13px;
  }

  // 施設名以外の日付、データ部のセル幅
  thead td,
  tbody td {
    width: 138px;
  }

  th {
    width: 200px;
  }

  tbody th {
    text-align: left;
  }

  tbody tr.room_reservations {
    height: 100px;
  }

  tbody tr.arrow {
    height: 30px;
  }

  tbody tr.arrow td {
    padding: 0px;
  }

  tbody th div {
    width: 180px;
    word-wrap: break-word;
    white-space: normal;
  }

  // 行の背景色
  .even {
    background-color: $tr-even-bgcolor;
  }

  .odd {
    background-color: $tr-odd-bgcolor;
  }

  // 一棟貸セル
  td.whole {
    /*background-color: #f2f3c5;*/
    background-color: #f2fbae69;
  }

  // データ表示行と矢印表示行の境目のボーダーを行背景と同色にして隠す
  tbody tr.room_reservations td.even {
    border-bottom-color: $tr-even-bgcolor;
  }

  tbody tr.room_reservations td.odd {
    border-bottom-color: $tr-odd-bgcolor;
  }

  tbody td div.cell-out {
    width: 121px;
    text-align: center;
    overflow: hidden;

    div.out-badge {
      width: 100px;
      margin-top: 70px;
    }
  }

  tbody td div.cell-in {
    width: 121px;
    //word-wrap: break-word; // 折返しできない
    overflow: hidden;

    div.ci-co {
      font-size: 12px;
      margin-top: 5px;
      clear: both;
    }

    div.title {
      margin-right: 5px;
      width: 20px;
      float: left;
    }
  }

  .tooltip {
    width: 100px;
  }

  div.button_area {
    margin: 5px 0;

    // 詳細ボタンとステータス変更ボタンのマージン
    button.update-status {
      margin-left: 3px;
      background-color: lightgoldenrodyellow;
    }
  }

  // DISPLAY_TYPE_OUT:1 始点なし 矢印あり
  .arrow-type1{
    position: relative;
    width: 90%;
    /*width: 50%;*/
    border-top: 8px solid #5bc0de;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .arrow-type1::after{
    content: "";
    position: absolute;
    bottom: -11px;
    right: -4px;
    border-top: 14px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #5bc0de;
  }

  // DISPLAY_TYPE_IN:2 始点あり 矢印なし
  .arrow-type2{
    position: relative;
    width: 92%;
    border-top: 8px solid #5bc0de;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .arrow-type2::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: -6px;
    left: -2px;
    background: #5bc0de;
  }

  // DISPLAY_TYPE_STAY:3 始点なし 矢印なし
  .arrow-type3{
    position: relative;
    width: 100%;
    border-top: 8px solid #5bc0de;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  // 始点あり 矢印あり
  .arrow-type4{
    position: relative;
    width: 80%;
    border-top: 8px solid #5bc0de;
    box-sizing: border-box;
    margin-bottom: 10px;
    /*margin-right: 10px;*/
    margin-left: 10px;
    /*margin: 0 10px 10px 10px;*/
  }
  .arrow-type4::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: -6px;
    left: -2px;
    background: #5bc0de;
  }
  .arrow-type4::after{
    content: "";
    position: absolute;
    bottom: -11px;
    right: -4px;
    border-top: 14px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #5bc0de;
  }
}