= hidden_field_tag :reservation_id
= hidden_field_tag :current_status

/ ヘッダー・フッターに表示する期間
- title = l(form.search_date_from, format: :long) + " 〜 " + l(form.search_date_to, format: :long)

.row
  .col-sm-12
    .box.box-warning
      .box-header
        .col-sm-6
          h3.box-title
            = title
        .col-sm-6.text-right
          span.info-attention ※検索期間の開始日を７日前後させてそこから一週間を検索します。

        = render 'button_list', form: form

      .box-body.no-padding.cleaning_status_list
        table.table.table-bordered#table_cleaning_status_list
          thead
            tr
              / th.top_left 施設 / 日付
              / th.blank &nbsp
              th.top 施設 / 日付
              - (form.search_date_from..form.search_date_to).each do |date|
                td
                  p.date = l date, format: :middle_h
                  p.prepearing_count
                    |未清掃
                    span.label.label-warning = form.prepearing_count_by_check_in_date[date] || 0
                    |件

          tbody.disp-vline
            - form.room_id_hash.each do |room_id, room|
              - td_class = cycle('odd', 'even')
              tr
                th class= td_class
                  div = room.full_code_name_with_underscore
                - (form.search_date_from..form.search_date_to).each do |date|
                  == td_tag_by_presenter(cell: form.room_reservation_hash[room_id][date.to_s], td_class: td_class)

      .box-footer style="border-top: medium solid #f5eded;"
        = render 'button_list', form: form
        h4 = title

javascript:
  $(function(){
    $('[data-toggle=tooltip]').tooltip();
  });

  // JSからsubmit()を呼ぶとremote: trueにならない（Ajaxにならない）
  // https://blog.rista.jp/entry/2017/09/04/100006
  $('.prev_week').click(function() {
    var search_date_from = '#{l(form.search_date_from - 7.days, format: :default_h)}';
    var search_date_to   = '#{l(form.search_date_from - 1.days, format: :default_h)}';
    searchWeekData(search_date_from, search_date_to);
  });

  $('.next_week').click(function() {
    var search_date_from = '#{l(form.search_date_from + 7.days, format: :default_h)}';
    var search_date_to   = '#{l(form.search_date_from + 13.days, format: :default_h)}';
    searchWeekData(search_date_from, search_date_to);
  });

  function searchWeekData(searchDateFrom, searchDateTo) {
    $('#work_cleaning_status_list_form_search_date_from').val(searchDateFrom);
    $('#work_cleaning_status_list_form_search_date_to').val(searchDateTo);
    Rails.fire($('#cleaning_status_list_form')[0], 'submit');
  }