$('#cleaning_status_list_form').spin();

$('#cleaning_status_list').html('<%= j(render "list", form: @form) %>');

// Ajaxでのパーシャル更新時は明示的ローディングを停止させる
stopSpin($('#cleaning_status_list_form'));

doNotification('<%= j(@message) %>');