- breadcrumb :cleaning_status_list
- provide(:title, t("title.work.cleaning_status_list"))

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 予約のステータス、清掃状況を一覧で確認できます。
        ul
          li 検索期間は最長で３１日までです。
          li
            |検索期間以前にチェックインした予約情報も表示されます。
            span.info-attention 例）検索期間: 2020-08-10 〜 の場合、宿泊開始日が 2020-08-09 〜 3泊のデータは２日間表示されます。

          li
            |一覧のヘッダーに表示される未清掃件数は、その日付にチェックインする予約でステータスが未清掃のデータ数を表示しています。
            br
            span.info-attention ※ チェックイン日を過ぎた未清掃のデータがあった場合も、チェックイン日でしかカウントされません。

          li
            |一覧のCIの表示は、チェックイン日が当日、かつステータスが「未清掃」、「CI可」のどちらかの場合、赤色の文字で強調されます。

#message
  = render 'shared/error_messages', obj: @form

/ 検索条件
#search
  = render 'search', form: @form

#cleaning_status_list
  = render 'list', form: @form