/ ▼ 左寄せ
.col-sm-6.button-area-left

/ ▼ 右寄せ
.col-sm-6.text-right.button-area-right

  / 管理者権限以上
  - if role_manager?
    = link_btn_tag '新規アカウントを登録する',
                  master_users_new_path,
                  icon_class: 'glyphicon-pencil',
                  button_class: 'btn-success'