- is_edit = model.id.present?

= form_with url: action, model: model, method: :post, local: true, class: "form-horizontal" do |f|
  .form-group
    .col-sm-8.text-right
      = f.submit(button, class: "btn btn-primary input-sm", tabindex: 999)

      = f.hidden_field :id if is_edit

  .form-group
    label.col-sm-3.control-label
      |アカウント（コード）
      span.require ＊
    .col-sm-4
      = f.text_field :account, class: "form-control maxlength", maxlength: 20, readonly: is_edit, placeholder: "半角英数字4文字以上20文字以内"

  .form-group
    label.col-sm-3.control-label
      |権限
      span.require ＊
    .col-sm-2
      = f.select :role, role_select_options, {include_blank: false}, class: "form-control select2", style: "font-size: 10px;"

  .form-group
    label.col-sm-3.control-label
      |名称
      span.require ＊
    .col-sm-4
      = f.text_field :name, class: "form-control maxlength", maxlength: 30

    / label.col-sm-2.control-label 略称
    / .col-sm-3
    /   = f.text_field :short_name, class: "form-control maxlength", maxlength: 30

  .form-group
    label.col-sm-3.control-label 電話番号
    .col-sm-4
      = f.text_field :tel, class: "form-control maxlength", maxlength: 13

  .form-group
    label.col-sm-3.control-label メールアドレス
    .col-sm-4
      = f.text_field :email, class: "form-control maxlength", maxlength: 256

  .form-group
    label.col-sm-3.control-label
      |パスワード
      span.require #{ is_edit ? '(＊)' : '＊'}
    .col-sm-4
      = f.password_field :password, autocomplete: "off", class: "form-control maxlength", maxlength: 126

  .form-group
    label.col-sm-3.control-label
      |パスワードの確認
      span.require #{ is_edit ? '(＊)' : '＊'}
    .col-sm-4
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control maxlength", maxlength: 126

  .form-group
    .col-sm-8.text-right
      = f.submit(button , class: "btn btn-primary input-sm", tabindex: 999)