- breadcrumb :users_edit
- provide(:title, t("title.users.edit"))

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p アカウントを編集します。
        ul
          li アカウント（コード）は変更できません。
          li パスワードを変更しない場合は空欄のままにしてください。

#message
  = render 'shared/error_messages', obj: @user

.row
  = render 'button_form'

.row
  .col-sm-12
    .box.box-success
      .box-body
        = render 'form', model: @user, button: '更新', action: master_users_update_path
