- breadcrumb :users
- provide(:title, t("title.users.list"))

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p アカウントの一覧を表示します。
        ul
          li.small 各列のヘッダーをクリックすることでデータをソートできます。
          li.small.attention アカウント登録は管理者アカウントのみ可能です。
          li.small パスワードの変更、アカウント情報の変更はログインしているアカウント自身のみ可能です。メニューバー右上のアカウント名をクリックし、アカウントの編集ウィンドウにて変更してください。
          li.small 自身のアカウントより上位の権限のアカウント情報は一覧には表示されません。
          li.small.attention 「無効化」ボタンで対象アカウントをログイン出来ない状態にします。

#message
  = render 'shared/error_messages', obj: @form

.row
  = render 'button_list'

/ 一覧
/ #city_list
  / = render 'list', list: @form.list

.row
  .col-xs-12
    .box
      .box-body
        table.table.table-bordered.table-striped#user_list
          thead
            tr
              th.active width="7%"
                div.small アカウント（コード）
              th.active width="7%" 権限
              th.active width="25%"
                div 名称
                div メールアドレス
              th.active width="12%"
                div.small 登録日時
                div.small 最終更新日時
                div.small 最終ログイン日時
              th.active width="5%"

          tbody.disp-vline
            - @form.list.each do |user|
              tr class= (user.is_visible ? "" : "unuse")
                / td = link_to(user.code, master_buildings_show_path(building.id))
                td
                  / 編集機能はupdateアクションが未実装
                  div = link_to(user.account, master_users_edit_path(user))
                  / div = user.account
                td
                  .small = Settings.USER.ROLES[user.role]
                td
                  div = user.name
                  div.sub_info = user.email
                td
                  div.text-right = l user.created_at
                  div.text-right = l user.updated_at
                  div.text-right = l user.last_sign_in_at if user.last_sign_in_at
                td.delete
                  - if user.id != User.current_user.id
                    - if user.is_visible
                      / 無効化ボタン
                      - btn_tag = bts_btn_tag("無効化", icon_class: "glyphicon-remove", button_class: 'btn-danger btn-xs')
                      = link_to btn_tag,
                                master_users_delete_path(user),
                                data: {confirm: "無効にしてよろしいですか？"}
                    - else
                      / 有効化ボタン
                      - btn_tag = bts_btn_tag("有効化", icon_class: "glyphicon-ok", button_class: 'btn-default btn-xs')
                      = link_to btn_tag,
                                master_users_restore_path(user),
                                data: {confirm: "有効にしてよろしいですか？"}

= render 'index_js'