- breadcrumb :users_new
- provide(:title, t("title.users.new"))

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 新規アカウントを登録します。
        ul
          li 登録後はアカウントとパスワードでログイン可能です。
          li アカウントは半角英数字4文字以上20文字以内で入力してください。
          li パスワードは6文字以上で入力してください。
          li
            |アカウントの新規登録は「管理者」のみが利用可能な機能ですが、ログインしたユーザーは自分のアカウント情報を編集することができます。
            br
            |新規登録時に管理者が仮発行したパスワードをユーザーに通知し、ユーザーはログイン後に変更するといった運用をおこなってください。
            br
            |また、ユーザーがパスワードを忘れた等のケースでは、管理者がアカウント編集画面によりパスワードを再発行することができます。


#message
  = render 'shared/error_messages', obj: @form

.row
  = render 'button_form'

.row
  .col-sm-12
    .box.box-success
      .box-body
        = render 'form', model: @form, button: '登録', action: master_users_create_path