/ ▼ 左寄せ
.col-sm-8.button-area-left
  = link_btn_tag 'オーナー一覧に戻る',
                master_owners_path,
                icon_class: 'glyphicon-list-alt'


/ ▼ 右寄せ
/ .col-sm-6.text-right.button-area-right
