- submit_label = t "button.#{action}"
- url = send("master_owners_#{action}_path")

= form_with url: url, model: owner, scope: :owner, method: :post, local: true, class: "form-horizontal" do |f|

  = f.hidden_field :id if action == 'update'

  .form-group
    label.col-sm-2.control-label
      |ステータス
      span.require ＊
    .col-sm-3
      .radio
        label
          = f.radio_button :is_visible, true, {}
          |稼働中
        label style="margin-left: 15px;"
          = f.radio_button :is_visible, false, {}
          |非稼働

    .col-sm-6.text-right
      = f.submit(submit_label , class: "btn btn-primary input-sm", tabindex: 999)

  .form-group
    label.col-sm-2.control-label
      |氏名
      span.require ＊
    .col-sm-3
      = f.text_field :name, class: "form-control maxlength", maxlength: 50

  .form-group
    label.col-sm-2.control-label 電話番号
    .col-sm-3
      = f.text_field :tel, class: "form-control maxlength", maxlength: 256

  .form-group
    label.col-sm-2.control-label メールアドレス１
    .col-sm-3
      = f.text_field :mail_address, class: "form-control maxlength", maxlength: 255
    .col-sm-5
      = mailer_link(owner.mail_address_was)

  .form-group
    label.col-sm-2.control-label メールアドレス２
    .col-sm-3
      = f.text_field :mail_address2, class: "form-control maxlength", maxlength: 255
    .col-sm-5
      = mailer_link(owner.mail_address2_was)

  .form-group
    label.col-sm-2.control-label メールアドレス３
    .col-sm-3
      = f.text_field :mail_address3, class: "form-control maxlength", maxlength: 255
    .col-sm-5
      = mailer_link(owner.mail_address3_was)

  .form-group
    label.col-sm-2.control-label 郵便番号
    .col-sm-2
      = f.text_field :postal_code, class: "form-control maxlength", maxlength: 8

  .form-group
    label.col-sm-2.control-label 住所１
    .col-sm-8
      = f.text_field :address1, class: "form-control maxlength", maxlength: 100

  .form-group
    label.col-sm-2.control-label 住所２
    .col-sm-8
      = f.text_field :address2, class: "form-control maxlength", maxlength: 100

  .form-group
    label.col-sm-2.control-label 振込先銀行・支店
    .col-sm-3
      = f.text_field :bank_name, class: "form-control maxlength", maxlength: 100, placeholder: '入力例）りそな銀行 京都支店'
    label.col-sm-2.control-label 口座種別
    .col-sm-3
      = f.select :account_type, Settings.BANK_ACCOUNT_TYPE.to_h.invert, {include_blank: '指定なし'}, class: "form-control select2", style: "font-size: 10px;", tabindex: 2
      / = f.select :account_type, options_for_select( Settings.BANK_ACCOUNT_TYPE.to_h.invert, owner.language ), {}, {class: "form-control select2", tabindex: 13}

  .form-group
    label.col-sm-2.control-label 口座番号
    .col-sm-3
      = f.text_field :account_number, class: "form-control maxlength", maxlength: 20
    label.col-sm-2.control-label SWIFTコード
    .col-sm-3
      = f.text_field :swift_code, class: "form-control maxlength", maxlength: 20

  .form-group
    label.col-sm-2.control-label 口座名義
    .col-sm-3
      = f.text_field :account_name, class: "form-control maxlength", maxlength: 50

  .form-group
    label.col-sm-2.control-label
      |精算書言語設定
      span.require ＊
    .col-sm-3
      = f.select :language, options_for_select( Settings.SETTLEMENT_LANGUAGE_LABEL.to_h.invert, owner.language ), {}, {class: "form-control select2", tabindex: 13}

  .form-group
    label.col-sm-2.control-label メモ
    .col-sm-8
      = f.text_area :note, class: "form-control maxlength", maxlength: 1000, placeholder: "１０００文字まで入力可能です。", style: 'height:150px;'

  .form-group
    .col-sm-11.text-right
      = f.submit(submit_label , class: "btn btn-primary input-sm")


