.row
  .col-xs-12
    .box.box-success
      .box-body
        table.table.table-bordered.table-striped#table_owner_list
          thead
            tr.success
              th width="5%"
                small ID
              th width="25%"
                small 氏名 / 住所
              th width="5%"
              th width="6%"
                small 施設数
              th
                small 施設
              th
                small 連絡先
              th
                small 言語設定

          tbody.disp-vline
            - owners.each do |owner|
              / tr class = ("deletion" unless area.is_visible)
              tr
                td.text-right = owner.id
                td
                  div = link_to owner.name, master_owners_edit_path(owner.id)
                  .small
                    div = [owner.postal_code, owner.address1].join(' ')
                    div = owner.address2
                td.text-center = is_visible_owner_tag owner.is_visible
                td.text-right = owner.buildings.size
                td = owner.buildings.pluck(:name).join(' / ')
                td
                  div = owner.tel
                  div = owner.mail_address
                td = Settings.SETTLEMENT_LANGUAGE_LABEL[owner.language]

= render 'list_js'
