- breadcrumb :owner_edit
- provide(:title, t("title.owners.edit"))
- action = controller.action_name

.row
  .col-sm-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p オーナー情報の詳細を確認、および編集を行うことができます。
        ul
          li ステータスを「非稼働」にした場合の機能的な違いは、施設登録時、および精算書作成時に該当のオーナー情報が選択できなくなるだけです。
          li 「精算書言語設定」はこのオーナー用に出力する精算書の言語を指定します。

.row
  = render 'button_edit'

.row
  .col-sm-12
    .box.box-success
      .box-header.with-border
        .box-title ステータス・施設情報
      .box-body
        table.table.table-bordered
          tr
            th.success.col-sm-2 氏名
            td = @owner.name
          tr
            th.success ステータス
            td = is_visible_owner_tag @owner.is_visible
      .box-body
        table.table.table-bordered
          thead
            tr.info
              th コード
              th 施設名称
              th エリア
              th 部屋数

          tbody
            - @building_list.display_order.each do |b|
              tr class= (b.is_visible ? "" : "deletion")
                td.text-center = link_to(b.code, master_buildings_show_path(b.id), target: '_blank')
                td = b.name
                td = b&.area&.name
                td = b.room_count

.row
  / = render 'button_edit'

#messages
  = render 'shared/error_messages', obj: @owner

.row
  .col-sm-12
    .box.box-warning
      .box-body
        = render 'form', owner: @owner, action: 'update', building_list: @building_list


.row
  = render 'button_edit'