- breadcrumb :owner_list
- provide(:title, t("title.owners.list"))

.row
  .col-xs-12
    .box.box-warning
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 施設のオーナー情報を一覧で表示します。
        ul
          li 各列のヘッダーをクリックすることでデータをソートできます。
          li オーナーの氏名のリンクをクリックすると編集画面へ移動します。

#message
  = render 'shared/error_messages', obj: @form

= render 'button_index'

/ 一覧
#owner_list
  = render 'list', owners: @owners

= render 'button_index'