- breadcrumb :owner_new
- provide(:title, t("title.owners.new"))
- action = controller.action_name

.row
  .col-sm-12
    .box.box-danger
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p オーナー情報を登録します。
        ul
          li ステータスを「非稼働」にした場合の機能的な違いは、施設登録時、および精算書作成時に該当のオーナー情報が選択できなくなるだけです。
          li 「精算書言語設定」はこのオーナー用に出力する精算書の言語を指定します。

.row
  = render 'button_edit'

.row
  / = render 'button_edit', parking: @area

#messages
  = render 'shared/error_messages', obj: @owner

.row
  .col-sm-12
    .box.box-success
      .box-body
        = render 'form', owner: @owner, action: 'create'

.row
  = render 'button_edit'