= form_for form, url: {action: 'update_payment'}, html: {class: "form-horizontal", id: "whole_reservation_edit_form", method: "post"}, remote: true do |f|
  = f.hidden_field :id

  .modal.fade#editPaymentModal tabindex="-1"
    .modal-dialog style="width:800px;"
      .modal-content
        .modal-header
          button.close type="button" data-dismiss="modal"
            span ×
          h4.modal-title
            strong = t("title.whole_reservations.edit")

        .modal-body style="height: 400px; overflow-y: scroll;"
          .row
            .col-xs-12
              .box.box-success
                .box-header.with-border
                  p 一棟貸の請求情報を更新します。
                  p.attention 　※ 紐付く各部屋の予約情報の人数、金額を全て再配分して上書きされますので、ご注意ください。
                  p.attention 　※ 更新後に各部屋の請求情報を必ずご確認ください。
            .col-xs-2

          / エラーメッセージの表示
          .row
            .col-sm-12#error_messages

          .row
            .col-sm-12
              .box.box-default.modal-form-box

                / フォーム
                .form-group style="margin-bottom: 5px;"
                  label.col-sm-2.control-label for="adult_count"
                    |人数
                    span.require style="margin-right:10px;" ＊
                    |大人
                  .col-sm-2 style="text-align:left;"
                    = f.number_field :adult_count, class: "form-control maxlength", min: 1, maxlength: 2, tabindex: 1

                .form-group
                  label.col-sm-2.control-label for="child_count"
                    |子供
                  .col-sm-2 style="text-align:left;"
                    = f.number_field :child_count, class: "form-control maxlength", min: 0, maxlength: 2, tabindex: 2

                  label.col-sm-1.col-sm-offset-2.control-label
                    |合計
                  .col-sm-2
                    = f.number_field :total_count, class: "form-control", disabled: true

                .form-group
                  label.col-sm-2.control-label for="room_charge"
                    |宿泊料
                    span.require ＊
                  .col-sm-3
                    = f.text_field :room_charge, class: "form-control maxlength", maxlength: 12, tabindex: 3

                  label.col-sm-2.control-label for="site_code"
                    |予約サイト
                    span.require ＊
                  .col-sm-3
                    = f.select :site_code, options_for_select( site_select_options, form.site_code ), {}, {class: "form-control select2", tabindex: 5}

                .form-group
                  label.col-sm-2.control-label for="cleaning_fee"
                    |清掃費
                    span.require ＊
                  .col-sm-3
                    = f.text_field :cleaning_fee, class: "form-control maxlength", maxlength: 12, tabindex: 4

                .form-group
                  label.col-sm-2.control-label for="meal_fee"
                    |食事代
                    span.require ＊
                  .col-sm-3
                    = f.text_field :meal_fee, class: "form-control maxlength", maxlength: 12, tabindex: 4

        .modal-footer
          button.btn.btn-default data-dismiss="modal" tabindex=6 キャンセル
          button.btn.btn-primary type="submit" tabindex=7 更新

javascript:

  $('.maxlength').maxlength({
    alwaysShow: true,
    warningClass: "label label-success",
    limitReachedClass: "label label-danger",
    validate: true
  });

  // 請求内訳編集モーダルで金額が変更された際の各合計研鑽処理
  $('#whole_reservation_edit_form input[type="number"]').change(function() {
    if(this.value == '' || isNaN(this.value) || this.value < 0){
      alert("人数を半角数字で入力してください。");
      this.focus();
      return;
    }
    getTotalCount();
  });

  // 各列の合計を計算
  // @param name [String] 各列のフォームの名称
  function getTotalCount(){
    // +演算子でint型に変換
    var adult_count, child_count;
    adult_count = +$('#reservation_management_whole_reservations_edit_payment_form_adult_count').val();
    child_count = +$('#reservation_management_whole_reservations_edit_payment_form_child_count').val();
    $('#reservation_management_whole_reservations_edit_payment_form_total_count').val(adult_count + child_count);
  }
