= form_for form, url: {action: 'update_room_reservations'}, html: {class: "form-horizontal", id: "whole_reservation_edit_form", method: "post"}, remote: true do |f|
  = f.hidden_field :id

  .modal.fade#editRoomReservationsModal tabindex="-1"
    .modal-dialog style="width:800px;"
      .modal-content
        .modal-header
          button.close type="button" data-dismiss="modal"
            span ×
          h4.modal-title
            strong = t("title.whole_reservations.edit")

        .modal-body style="height: 400px; overflow-y: scroll;"
          .row
            .col-xs-12
              .box.box-success
                .box-header.with-border
                  p 一棟貸情報に紐付く各部屋毎の予約情報の人数・金額の内訳を変更します。
                  p.attention 　※ 一棟貸情報で登録されている値と、各部屋毎の値の合計は必ず一致させる必要があります。
            .col-xs-2

          / エラーメッセージの表示
          .row
            .col-sm-12#error_messages

          .row
            .col-xs-12
              .panel.panel-default
                table.table.table-bordered.edit_room_reservations
                  body
                    tr.success
                      th width="15%" 部屋
                      th width="10%"
                        div 人数
                        small （大人）
                      th width="10%"
                        div 人数
                        small （子供）
                      th width="15%" 宿泊料
                      th width="15%" 清掃費
                      th width="15%" 食事代
                      th width="15%" 合計金額
                      / th width="15%" 手数料
                    - form.reservations.each do |r|
                      tr data-reservation-id=r.id
                        td.room_name
                           = form.room_names[r.room_id].try(:name)
                           = hidden_field_tag 'room_reservations[][reservation_id]', r.id
                           = hidden_field_tag 'room_reservations[][room_id]', r.room_id
                        td = number_field_tag "room_reservations[][adult_count]", r.adult_count, id: "adult_count_#{r.id}", class: "form-control amount", maxlength: 2, min: 0, max: 99
                        td = number_field_tag "room_reservations[][child_count]", r.child_count, id: "child_count_#{r.id}", class: "form-control amount", maxlength: 2, min: 0, max: 99
                        td = number_field_tag "room_reservations[][room_charge]", r.room_charge, id: "room_charge_#{r.id}", class: "form-control amount", maxlength: 6, min: 0, max: 999999
                        td = number_field_tag "room_reservations[][cleaning_fee]", r.cleaning_fee, id: "cleaning_fee_#{r.id}", class: "form-control amount", maxlength: 6, min: 0, max: 999999
                        td = number_field_tag "room_reservations[][meal_fee]", r.meal_fee, id: "meal_fee_#{r.id}", class: "form-control amount", maxlength: 6, min: 0, max: 999999
                        td.amount.room_total data-room-total= r.total id="room_total_#{r.id}" = r.total.to_s(:delimited)
                    tr.input_total
                      td 入力合計
                      td.amount#input_total_adult_count = form.adult_count
                      td.amount#input_total_child_count = form.child_count
                      td.amount#input_total_room_charge = form.room_charge.to_s(:delimited)
                      td.amount#input_total_cleaning_fee = form.cleaning_fee.to_s(:delimited)
                      td.amount#input_total_meal_fee = form.meal_fee.to_s(:delimited)
                      td.amount#input_grand_total = form.total.to_s(:delimited)
                    tr.info.whole_reservation
                      td 一棟貸情報
                      td.amount#room_charge = form.adult_count
                      td.amount#cleaning_fee = form.child_count
                      td.amount#room_charge = form.room_charge.to_s(:delimited)
                      td.amount#cleaning_fee = form.cleaning_fee.to_s(:delimited)
                      td.amount#meal_fee = form.meal_fee.to_s(:delimited)
                      td.amount#total = form.total.to_s(:delimited)

        .modal-footer
          button.btn.btn-default data-dismiss="modal" tabindex=6 キャンセル
          button.btn.btn-primary tabindex=7 更新

javascript:

  $('#whole_reservation_edit_form input[id^="adult_count_"]').change(function() {
    calcWholeReservationTotal(this, 'adult_count', '人数（大人）');
  });

  $('#whole_reservation_edit_form input[id^="child_count_"]').change(function() {
    calcWholeReservationTotal(this, 'child_count', '人数（子供）');
  });

  $('#whole_reservation_edit_form input[id^="room_charge_"]').change(function() {
    calcWholeReservationTotal(this, 'room_charge', '宿泊料');
    calcRoomTotalPrice(this);
    calcInputGrandTotalPrice();
  });

  $('#whole_reservation_edit_form input[id^="cleaning_fee_"]').change(function() {
    calcWholeReservationTotal(this, 'cleaning_fee', '清掃費');
    calcRoomTotalPrice(this);
    calcInputGrandTotalPrice();
  });

  $('#whole_reservation_edit_form input[id^="meal_fee_"]').change(function() {
    calcWholeReservationTotal(this, 'meal_fee', '食事代');
    calcRoomTotalPrice(this);
    calcInputGrandTotalPrice();
  });

  function calcWholeReservationTotal(obj, name, label){
    if(obj.value == '' || isNaN(obj.value) || obj.value < 0){
      alert(label + "を半角数字で入力してください。");
      obj.focus();
      return false;
    }
    // +演算子でint型に変換
    var count = 0;
    // $('[id^="' + name + '_"]').each(function(index, element){
    $("[id^='" + name + "_']").each(function(index, element){
      count += parseInt(element.value);
    });
    // $('#input_total_' + name).html(count);
    $('#input_total_' + name).html(Number(count).toLocaleString());
  }

  function calcRoomTotalPrice(obj){
    var total = 0;
    var reservationId = $(obj).parent().parent().data("reservationId");
    total += parseInt($('#room_charge_' + reservationId).val());
    total += parseInt($('#cleaning_fee_' + reservationId).val());
    total += parseInt($('#meal_fee_' + reservationId).val());
    if (Number.isNaN(total)) {
      $('#room_total_' + reservationId).text('');
      $('#room_total_' + reservationId).data('roomTotal', '');
    } else {
      $('#room_total_' + reservationId).text(Number(total).toLocaleString());
      $('#room_total_' + reservationId).data('roomTotal', total);
    }
  }

  function calcInputGrandTotalPrice(){
    var grandTotal = 0;
    $("[id^='room_total_']").each(function(index, element){
      grandTotal += parseInt($(element).data('roomTotal'));
    });
    if (Number.isNaN(grandTotal)) {
      $('#input_grand_total').text('');
    } else {
      $('#input_grand_total').text(Number(grandTotal).toLocaleString());
    }
  }
