= form_for form, url: {action: 'update_basic'}, html: {class: "form-horizontal", id: "whole_reservation_edit_form", method: "post"}, remote: true do |f|
  = f.hidden_field :id

  .modal.fade#editBasicModal tabindex="-1"
    .modal-dialog style="width:800px;"
      .modal-content
        .modal-header
          button.close type="button" data-dismiss="modal"
            span ×
          h4.modal-title
            strong = t("title.whole_reservations.edit")

        .modal-body style="height: 600px; overflow-y: scroll;"
          .row
            .col-xs-12
              .box.box-success
                .box-header.with-border
                  p 一棟貸の予約情報を更新します。
                  p 　※ 宿泊日、泊数の変更はできません。キャンセルして再度登録してください。
                  p.attention 　※ この入力フォームの項目で、紐付く各部屋の予約情報が全て上書きされますので、ご注意ください。
            .col-xs-2

          / エラーメッセージの表示
          .row
            .col-sm-12#error_messages

          .row
            .col-sm-12
              .box.box-default.modal-form-box
                / フォーム
                .form-group
                  label.col-sm-3.control-label
                    |予約日
                    span.require ＊
                  .col-sm-3
                    .input-group.date
                      = f.text_field :reserve_date, class: "form-control", maxlength: 10, tabindex: 1
                      span.input-group-addon
                        i.fa.fa-calendar

                .form-group
                  label.col-sm-3.control-label
                    |ステータス
                    span.require ＊
                  .col-sm-3
                    = f.select :status, options_for_select( status_select_options, form.status ), {}, {class: "form-control select2", tabindex: 2}

                .form-group
                  label.col-sm-3.control-label
                    |予定CI時刻
                  .col-sm-3
                    .input-group.bootstrap-timepicker.timepicker
                      / input.form-control.timepicker#display_check_in_time type="text"
                      = f.text_field :display_check_in_time, class: "form-control display_check_in_time", tabindex: 3
                      span.input-group-addon
                        i.fa.fa-clock-o
                  .col-sm-3 style="margin-top: 5px;"
                    button.btn.btn-block.btn-default.btn-xs.time_clear type="button" id="time_clear" 予定CI時刻をクリア

                .form-group
                  label.col-sm-3.control-label for="visitor_name"
                    |ゲスト名
                    span.require ＊
                  .col-sm-5
                    = f.text_field :visitor_name, class: "form-control maxlength", maxlength: 50, tabindex: 4

                .form-group
                  label.col-sm-3.control-label for="visitor_name_kana"
                    |ゲスト名（カナ）
                  .col-sm-5
                    = f.text_field :visitor_name_kana, class: "form-control maxlength", maxlength: 50, tabindex: 4

                .form-group
                  label.col-sm-3.control-label for="nationality_id"
                    |国籍
                    span.require ＊
                  .col-sm-5
                    = f.select :nationality_id, options_for_select( nationality_select_options, form.nationality_id ), {}, {class: "form-control select2", tabindex: 5}

                .form-group
                  label.col-sm-3.control-label for="tel"
                    |TEL
                  .col-sm-5
                    = f.telephone_field :tel, class: "form-control maxlength", maxlength: 20, tabindex: 6, placeholder: "※半角数字、記号（ + - ）のみ"

                .form-group
                  label.col-sm-3.control-label for="mail_address"
                    |メールアドレス
                  .col-sm-5
                    = f.text_field :mail_address, class: "form-control maxlength", maxlength: 120, tabindex: 7

                .form-group
                  label.col-sm-3.control-label for="note"
                    |備考
                  .col-sm-8
                    = f.text_area :note, row: 4, class: "form-control maxlength", maxlength: 500, placeholder: "５００文字まで入力可能です。", tabindex: 8

        .modal-footer
          button.btn.btn-default data-dismiss="modal" tabindex=9 キャンセル
          button.btn.btn-primary type="submit" tabindex=10 更新

javascript:

  $('.input-group.date').datepicker({
    format: 'yyyy-mm-dd',
    weekStart: 1,
    language: 'ja',
    todayHighlight: true,
    orientation: 'bottom left'
  });

  $('.maxlength').maxlength({
    alwaysShow: true,
    warningClass: "label label-success",
    limitReachedClass: "label label-danger",
    validate: true
  });

  // 請求内訳編集モーダルで金額が変更された際の各合計研鑽処理
  $('#whole_reservation_edit_form input[type="number"]').change(function() {
    if(this.value == '' || isNaN(this.value) || this.value < 0){
      alert("人数を半角数字で入力してください。");
      this.focus();
      return;
    }
    getTotalCount();
  });

  // 予定CI時刻タイムピッカー
  $('#reservation_management_whole_reservations_edit_basic_form_display_check_in_time').timepicker({
      minuteStep: 5,
      template: 'dropdown',
      appendWidgetTo: 'body',
      showMeridian: false,
      modalBackdrop: true,
      defaultTime: false
  });

  // 時刻クリアボタン
  $('#time_clear').click(function() {
    $('#reservation_management_whole_reservations_edit_basic_form_display_check_in_time').val('');
  });


  // 各列の合計を計算
  // @param name [String] 各列のフォームの名称
  function getTotalCount(){
    // +演算子でint型に変換
    var adult_count, child_count;
    adult_count = +$('#reservation_whole_reservation_edit_form_adult_count').val();
    child_count = +$('#reservation_whole_reservation_edit_form_child_count').val();
    $('#total_count').val(adult_count + child_count);
  }

