
<div class="login-box-body">
  <!-- ログインフォーム -->
  <p class="login-box-msg">アカウントとパスワードを入力してください。</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <% get_alert(flash) %>

    <div class="form-group has-feedback">
      <%= f.text_field :account, autofocus: true, class: "form-control", placeholder: "アカウント" %>
      <span class="fa fa-user form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
      <span class="fa fa-key form-control-feedback"></span>
    </div>

<%
    # <div class="form-group">
    #   <div class="input-group">
    #     <div class="input-group-addon">
    #       <i class="fa fa-phone"></i>
    #     </div>
    #     <input class="form-control" data-inputmask="'mask': ['999-999-9999 [x99999]', '+099 99 99 9999[9]-9999']" data-mask="" type="text">
    #   </div>
    # </div>
%>

    <div class="row">
      <div class="col-xs-8">
        <% if devise_mapping.rememberable? -%>
        <label>
          <%= f.check_box :remember_me %> <%= f.label :remember_me, "ログイン状態を保存" %>
        </label>
        <% end -%>
      </div>

      <div class="col-xs-4">
        <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-flat" %>
      </div>
    </div>

  <% end %>

  <% #=render "devise/shared/links" %>
</div>

