.col-sm-9.button-area-left
  = link_btn_tag '一覧に戻る',
                  reservation_management_suitebook_transition_search_path,
                  icon_class: 'glyphicon-list-alt',
                  button_class: 'btn-default input-sm'

  = link_btn_tag '詳細に戻る',
                    reservation_management_suitebook_show_path(suitebook_id),
                    button_class: 'btn-default input-sm'

/ .col-sm-3.text-right.button-area-right