- submit_label = '登録'

= form_with model: form, scope: :suitebook_reservation_entry, url: reservation_management_suitebook_create_path, local: true, class: 'form-horizontal' do |f|

  = f.hidden_field :suitebook_reservation_id, value: @suitebook.id

  .form-group
    .col-sm-12.text-right
      = f.submit(submit_label , class: "btn btn-primary input-sm", tabindex: 999)

  .form-group
    label.col-sm-2.control-label
      |予約日
      span.require ＊
    .col-sm-3
      .input-group.date
        = f.text_field :reserve_date, class: "form-control calendar", maxlength: 10, tabindex: 1
        span.input-group-addon
          i.fa.fa-calendar

    label.col-sm-2.control-label
      |施設
      span.require ＊
    .col-sm-4
      = f.select :room_id, options_for_select( {'該当する施設がありませんでした' => ''}.merge(room_select_options), form.room_id ), {}, {class: "form-control select2", tabindex: 2}

  .form-group
    label.col-sm-2.control-label
      |宿泊日
      span.require ＊
    .col-sm-3
      .input-group.date
        = f.text_field :check_in_date, class: "form-control calendar", maxlength: 10, tabindex: 3
        span.input-group-addon
          i.fa.fa-calendar

    label.col-sm-2.control-label
      |泊数
      span.require ＊
    .col-sm-1
      = f.number_field :number_of_nights, class: "form-control maxlength", min: 1, max: 31, maxlength: 2, tabindex: 4
    .col-sm-2
        button.btn.btn-block.btn-warning.btn-sm type="button" id="previous_reservation" tabindex=5 予約可否チェック

  .form-group
    label.col-sm-2.control-label
      |予定CI時刻
    .col-sm-3
      .input-group.bootstrap-timepicker.timepicker
        = f.text_field :display_check_in_time, class: "form-control", tabindex: 6
        span.input-group-addon
          i.fa.fa-clock-o
      button.btn.btn-block.btn-default.btn-xs.time_clear type="button" id="time_clear" 予定CI時刻をクリア

  .form-group
    label.col-sm-2.control-label
      |ゲスト名
      span.require ＊
    .col-sm-3
      = f.text_field :visitor_name, class: "form-control maxlength", maxlength: 50, tabindex: 8

  .form-group
    label.col-sm-2.control-label
      |国籍
      span.require ＊
    .col-sm-3
      = f.select :nationality_id, options_for_select( nationality_select_options, form.nationality_id ), {}, {class: "form-control select2", tabindex: 9}

    label.col-sm-2.control-label TEL
    .col-sm-3
      = f.telephone_field :tel, class: "form-control maxlength", maxlength: 20, tabindex: 10, placeholder: "※半角数字、記号（ + - ）のみ"

  .form-group
    label.col-sm-2.control-label メールアドレス
    .col-sm-3
      = f.text_field :mail_address, class: "form-control maxlength", maxlength: 120, tabindex: 11

  .form-group style="margin-bottom: 5px;"
    label.col-sm-2.control-label
      |人数
      span.require style="margin-right:10px;" ＊
      |大人
    .col-sm-1 style="text-align:left;"
      = f.number_field :adult_count, class: "form-control maxlength", min: 1, maxlength: 2, tabindex: 12

  .form-group
    label.col-sm-2.control-label 子供
    .col-sm-1 style="text-align:left;"
      = f.number_field :child_count, class: "form-control maxlength", min: 0, maxlength: 2, tabindex: 13

    label.col-sm-1.control-label 合計
    .col-sm-1
      = f.number_field :total_count, class: "form-control", disabled: true

  .form-group
    label.col-sm-2.control-label
      |宿泊料
      span.require ＊
    .col-sm-3
      = f.text_field :room_charge, class: "form-control maxlength", maxlength: 12, tabindex: 14

  .form-group
    label.col-sm-2.control-label
      |清掃費
      span.require ＊
    .col-sm-3
      = f.text_field :cleaning_fee, class: "form-control maxlength", maxlength: 12, tabindex: 15

  .form-group
    label.col-sm-2.control-label
      |食事代
      span.require ＊
    .col-sm-3
      = f.text_field :meal_fee, class: "form-control maxlength", maxlength: 12, tabindex: 15

    label.col-sm-2.control-label
      |予約サイト
      span.require ＊
    .col-sm-3
      = f.select :site_code, options_for_select( site_select_options, form.site_code ), {}, {class: "form-control select2", tabindex: 16}

  .form-group
    label.col-sm-2.control-label 合計
    .col-sm-3
      = f.text_field :total, class: "form-control", disabled: true, placeholder: "自動計算"

  .form-group
    label.col-sm-2.control-label 備考
    .col-sm-8
      = f.text_area :note, row: 4, class: "form-control maxlength", maxlength: 500, placeholder: "５００文字まで入力可能です。", tabindex: 17

  .form-group
    .col-sm-12.text-right
      = f.submit(submit_label , class: "btn btn-primary input-sm", tabindex: 999)

/ 予約可否チェックモーダル
.previous_reservation_modal

javascript:

  // 予約可否チェックボタン押下時Ajax送信後モーダル起動
  $('#previous_reservation').click(function() {
    var check_in_date = $('#suitebook_reservation_entry_check_in_date').val();
    if(check_in_date === "") {
      alert("宿泊日を入力してください！");
      $('#suitebook_reservation_entry_check_in_date').focus();
      return false;
    }
    var number_of_nights = $('#suitebook_reservation_entry_number_of_nights').val();
    if(number_of_nights === "" || number_of_nights === "0") {
      alert("泊数を１以上で入力してください！");
      $('#suitebook_reservation_entry_number_of_nights').focus();
      return false;
    }
    $('#reservation_entry_form').spin();
    var room_id = $('#suitebook_reservation_entry_room_id').val();
    var reservation_id = $('#suitebook_reservation_entry_reservation_id').val();
    var path = '#{raw modal_search_reservation_previous_reservation_path}';
    var data = 'check_in_day=' + check_in_date;
    data    += '&number_of_nights=' + number_of_nights;
    data    += '&room_id=' + room_id;
    //data    += '&reservation_id=' + reservation_id;
    $.post( path, data );
  })


