<script>

$(function () {
  $('#table_daily_list').DataTable({
    <%= data_table_options lengthMenu: '[100, 150, 200]', not_sort: '[9]', searching: true %>
  });
});

$(function(){
  $('[data-toggle=tooltip]').tooltip();
});

// JSからsubmit()を呼ぶとremote: trueにならない（Ajaxにならない）
// https://blog.rista.jp/entry/2017/09/04/100006
$('.prev_day').click(function() {
  var day = '<%= l(form.search_check_in_day - 1.day, format: :default_h) %>';
  $('#reservation_management_daily_list_form_search_check_in_day').val(day);
  Rails.fire($('#daily_search_form')[0], 'submit');
});

$('.next_day').click(function() {
  var day = '<%= l((form.search_check_in_day + 1.day), format: :default_h) %>';
  $('#reservation_management_daily_list_form_search_check_in_day').val(day);
  Rails.fire($('#daily_search_form')[0], 'submit');
});

</script>
