.row
  .col-xs-12
    .box.box-info
      .box-header
        .text-left
          - if form.message
            .attention.small = form.message
        .text-right
          = link_btn_tag 'suitebook宿泊情報CSVをインポート',
                  reservation_management_import_suitebook_path,
                  button_class: 'btn-success input-sm'

      .box-body
        table.table.table-bordered.table-striped#table_suitebook_list
          thead
            tr
              th width="8%"
                .small suitebook
                div 予約ID
              th width="8%"
                div データ
                .small 取込日時
              th width="5%"
              th suitebook施設名
              th.small width="8%" suitebook<br>予約<br>サイト名
              th.small width="8%" CI<br>予定時刻
              th width="8%" CO
              th.small width="4%" 泊数
              th width="15%" ゲスト名
              th.small width="4%" 人数

          tbody.disp-vline
            - form.suitebook_reservations.each do |suitebook|
              tr class=(suitebook.cancel? ? 'deletion' : '')
                td.text-center
                  = link_to suitebook.suitebook_idnum, reservation_management_suitebook_show_path(suitebook.id, @callback)
                  / - if suitebook.note.present?
                    i.fa.fa-fw.fa-commenting data-toggle="tooltip" data-placement="top" title= suitebook.note
                td = suitebook.created_at.to_s
                td.text-center = suitebook_status_badge(status: suitebook.status)
                td.small
                  / div = suitebook.room&.building&.name
                  div = suitebook.building_name
                / td
                  / div = suitebook.room&.name
                  / div = suitebook.room_name
                td
                  = suitebook.site_name
                td
                  div = suitebook.check_in_date
                  div = suitebook.scheduled_check_in_time
                td = suitebook.check_out_date
                td = suitebook.number_of_nights
                td = suitebook.visitor_name
                td = suitebook.total_count

      .box-footer
        / h4 = l form.search_check_in_day.to_date, format: :long

= render 'list_js'
