<script>
$(function () {
  $('#table_suitebook_list').DataTable({
    <%= data_table_options lengthMenu: [25, 50, 100], order: '[[0, "desc"]]', searching: true %>
  });

  // [JavaScript - DataTablesのヘッダーとデータがずれる｜teratail](https://teratail.com/questions/156289)
  // datatablesのヘッダーとデータ部がズレるため、マージンの調整
  // $('#table_suitebook_list').css('margin-left','0px');
});
</script>