
= form_with model: form, url: reservation_management_suitebook_search_path, scope: :search_suitebook, class: "form-horizontal" do |f|
  .box.box-danger
    .box-header.with-border
      .box-title 検索条件
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"
          |検索条件ウィンドウを開閉する&nbsp;
          i.fa.fa-minus
          / i.fa.fa-plus

    .box-body

      .form-group
        label.col-sm-2.control-label データ取込日
        .col-sm-6
          .input-group.date.col-sm-4 style="float: left;"
            = f.text_field :search_import_date_from, class: "form-control", maxlength: 10
            span.input-group-addon
              i.fa.fa-calendar

          .form-control-static.col-sm-1.text-center 〜

          .input-group.date.col-sm-4 style="float: left;"
            = f.text_field :search_import_date_to, class: "form-control", maxlength: 10
            span.input-group-addon
              i.fa.fa-calendar

      .form-group
        label.col-sm-2.control-label 宿泊日
        .col-sm-6
          .input-group.date.col-sm-4 style="float: left;"
            = f.text_field :search_check_in_date, class: "form-control", maxlength: 10, placeholder: 'CI日'
            span.input-group-addon
              i.fa.fa-calendar

          .form-control-static.col-sm-1.text-center 〜

          .input-group.date.col-sm-4 style="float: left;"
            = f.text_field :search_check_out_date, class: "form-control", maxlength: 10, placeholder: 'CO日'
            span.input-group-addon
              i.fa.fa-calendar

      .form-group
        label.col-sm-2.control-label ステータス
        .col-sm-2
          = f.select :search_status, options_for_select( suitebook_status_select_options, form.search_status ), {}, {class: "form-control select2"}

      .form-group
        label.col-sm-2.control-label ゲスト名
        .col-sm-5
          = f.text_field :search_visitor_name, class: "form-control maxlength", maxlength: 50

        .col-sm-5.text-right
          = link_to reservation_management_suitebook_path do
            button.btn.btn-default.clear-btn type="button" クリア
          button.btn.btn-default.search-btn type="submit"
            i.fa.fa-search 検索
