- breadcrumb :suitebook_entry_whole, @suitebook_id
- provide(:title, t('title.suitebook.entry_whole'))

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 一棟貸の対象施設を選択してください

.row
  .col-xs-12
    = render 'shared/error_messages', obj: @form

.row
  .col-xs-12
    .box.box-warning
      .box-body
        = form_with url: reservation_management_suitebook_entry_whole_path(@suitebook_id), method: :post, local: true, class: "form-horizontal" do |f|
          .form-group
            label.col-sm-2.control-label
              |施設
              span.require ＊
            .col-sm-4
              = f.select :building_id, options_for_select(building_select_options), {}, {class: "form-control select2", require: true}
            .col-sm-2
              = f.submit('選択', class: "btn btn-primary input-sm")


