- breadcrumb :suitebook_entry, @suitebook.id
- provide(:title, t('title.suitebook.entry'))

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p suitebook連携データを元に予約情報を登録します。
        ul
          li
            |「予約可否チェック」ボタンは、
            b.attention 施設・宿泊日・泊数
            |で予約可能かを確認します。別の画面や他のユーザーが先に予約情報を登録した場合、この予約情報は登録できません。
          li 国籍についてはsuitebookから情報が取得できないため、「その他」が自動的に選択された状態となります。適宜変更してください。


.row
  .col-xs-12
    = render 'shared/error_messages', obj: @form

.row
  = render 'button_entry', suitebook_id: @suitebook.id

.row
  .col-xs-12
    .box.box-warning
      .box-body.suitebook_reservation_entry
        = render 'form', form: @form, action: 'create'

.row
  = render 'button_entry', suitebook_id: @suitebook.id