- breadcrumb :suitebook
- provide(:title, t("title.suitebook.index"))

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        ul
          li suitebookの予約情報を確認できます。
          li システムがsuitebookのCSVを定期的に取得し、当システムのデータベースに保存したデータです。
          li このデータを元に予約情報を登録します。尚、suitebookの予約情報自体は編集不可です。
          li 部屋情報を連携するには、マスタ管理の施設詳細画面から各部屋情報の「suitebook物件ID」を設定してください。
          li ステータスについて
          ul
            li 未処理： システムの定期実行処理による自動登録の対象データです。時間が経つと自動的に「処理済」か「エラー」に変わります。
            li 処理済： システムによる自動登録が完了したデータです。既に予約情報が登録されています。
            li エラー： システムが自動登録に失敗したデータです。一覧から選択し、手動で登録することが可能です。
            li 破棄： エラーとなったデータで、もう登録の必要のないデータです。日々の運用ではエラーデータが無いかを常にチェックし、不要なデータは「破棄」してください。

#message
  = render 'shared/error_messages', obj: @form

/ 検索条件
#search.search_suitebook
  = render 'search', form: @form

#suitebook_list
  = render 'list', form: @form
