- breadcrumb :suitebook_show, @suitebook&.id
- provide :title, t("title.suitebook.show")

- if @suitebook.nil?
  .alert.alert-danger.alert-dismissible
    |データが存在しません。
- else
  .row
    .col-xs-12
      .box.box-primary
        .box-tools.pull-right
          button.btn.btn-box-tool type="button" data-widget="remove"
            i.fa.fa-remove
        .box-body
          p suitebookから取得した宿泊情報CSVの内容を確認します。
          ul
            li この情報を元に自動処理で予約情報を作成します。予約情報の登録に失敗した場合は、エラー内容を表示します。
            li この情報自体は編集できません。

  / ボタンエリア
  .row
    / ▼ 左寄せ
    .col-sm-3.button-area-left
      = link_btn_tag 'suitebook連携データ一覧に戻る',
                    reservation_management_suitebook_transition_search_path,
                    icon_class: 'glyphicon-list-alt',
                    button_class: 'btn-default input-sm'

    / ▼ 右寄せ
    .col-sm-9.text-right.button-area-right
      - if @suitebook.error?
        = link_btn_tag '修正して一棟貸情報を登録する',
                      reservation_management_suitebook_entry_whole_select_building_path(@suitebook.id),
                      button_class: 'btn btn-sm btn-warning'

        = link_btn_tag '修正して予約登録を登録する',
                      reservation_management_suitebook_entry_path(@suitebook.id),
                      button_class: 'btn btn-sm btn-success'

        = link_to bts_btn_tag("破棄", icon_class: "glyphicon-trash", button_class: 'btn-danger btn-sm'),
                              reservation_management_suitebook_cancel_path(@suitebook.id),
                              data: {confirm: "このデータを破棄してよろしいですか？"}

      - if @suitebook.processed?
        - if @suitebook.reservation_id
          / = link_to '登録済予約情報', reservation_management_show_path(@suitebook.reservation_id, @callback)
          = link_btn_tag '登録済予約情報を確認する',
                      reservation_management_show_path(@suitebook.reservation_id, @callback),
                      button_class: 'btn btn-sm btn-default'
        - elsif @suitebook.whole_reservation_id
          / = link_to '登録済一棟貸情報', reservation_management_whole_reservation_show_path(@suitebook.whole_reservation_id, @callback)
          = link_btn_tag '登録済一棟貸情報を確認する',
                      reservation_management_whole_reservation_show_path(@suitebook.whole_reservation_id, @callback),
                      button_class: 'btn btn-sm btn-default'

  .row
    .col-xs-12
      .box.box-success
        .box-header
          .col-sm-12.text-left
            h3.box-title
              |suitebook 宿泊情報&nbsp;
              small ※suitebook 宿泊情報CSV連携データから当システムのマスタを適応させたデータです。
        .box-body
          table.table.table-bordered.table-striped
            tr
              th.info データ取込日時
              th.info ステータス
              th.info 施設
              th.info 部屋
              th.info 予約サイト名
              th.info CI<br>予定時刻
              th.info CO
              th.info ゲスト名
              th.info 人数<br>（大人/子供）
              th.info 泊数
            tr
              td = @suitebook.created_at.to_s
              td.text-center = suitebook_status_badge(status: @suitebook.status)

              td = @suitebook.room&.building&.name
              td = @suitebook.room&.name
              td = Settings.SITE.LABEL[@suitebook.set_site_code]
              td
                div = @suitebook.check_in_date
                div = @suitebook.scheduled_check_in_time
              td = @suitebook.check_out_date
              td = @suitebook.visitor_name
              td.text-center
                = @suitebook.total_count
                |（#{@suitebook.adult_count}/#{@suitebook.child_count}）
              td.text-right = @suitebook.number_of_nights

  / エラーメッセージ
  - if @suitebook.error_message.present?
    .row
      .col-xs-12
        .alert.alert-danger.alert-dismissible
          p
            |suitebookから宿泊情報のインポートを行った際に以下のエラーがありました。
            - if @suitebook.error?
              |「修正して予約登録を登録する」ボタン、「修正して一棟貸情報を登録する」ボタンから編集画面へ移動し、内容を修正の上登録処理を行ってください。
          ul
            - @suitebook.error_message_list.each do |error|
              li = error

  / CSVデータ
  .row
    .col-xs-12
      .box.box-warning
        .box-header
          .col-sm-12.text-left
            h3.box-title
              |suitebook 宿泊情報CSV連携データ&nbsp;
              small ※suitebook から取得した宿泊情報CSVをそのままインポートした情報です。

        .box-body
          table.table.table-bordered.table-striped.csv_table
            - FileObjects::SuitebookReservationCsv::COLUMN_NAME_TO_CSV_HEADER.each do |column, label|
              tr
                th = label
                td = @suitebook.send(column).to_s

          / 横スクロールテーブルサンプル）
          / .table-responsive
            table.table.table-bordered.table-striped.text-nowrap
              tr
              - FileObjects::SuitebookReservationCsv::COLUMN_NAME_TO_CSV_HEADER.values.each do |label|
                th.info = label
              tr
              - FileObjects::SuitebookReservationCsv::COLUMN_NAME_TO_CSV_HEADER.keys.each do |column|
                td = @suitebook.send(column).to_s
          / .attention ※横スクロール可
