.modal.fade#previousReservationModal tabindex="-1"
  .modal-dialog style="width:800px;"
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal"
          span ×
        h4.modal-title
          strong = t("title.modal.search_reservation.previous_reservation")

      .modal-body style="height: 450px; overflow-y: scroll"
        .row
          .col-sm-12
            .box.box-success
              .box-header
                p 入力した条件に該当する他の予約情報を検索しました。
              .box-body
                .panel.panel-default
                  table.table.table-bordered
                    tr
                      th.info width="15%" 宿泊日
                      td width="15%" = l(form.check_in_day)
                      th.info width="15%" 泊数
                      td width="10%" = form.number_of_nights
                    tr
                      th.info width="15%" 施設
                      td colspan="3" width="30%" = form.room_name
        - if form.reservation_date_list.blank?
          .row
            .col-xs-12
              = render 'shared/alert_bar', css: 'info', attention_text: '他の予約はありません。予約可能です。'
        - else
          .row
            .col-xs-12
              = render 'shared/alert_bar', css: 'danger', attention_text: '他の予約存在しているため、予約できません。'
          .row
            .col-sm-12
              .box.box-default
                .box-header
                  p 他の予約を最大５件まで表示
                .box-body
                  table.table.table-bordered#table_reservation_list
                    thead
                      tr
                        th.success width="7%" 日付
                        th.success width="20%" 施設
                        th.success width="20%" ゲスト名
                    tbody
                      - form.reservation_date_list.each do |rd|
                        tr
                          td = l(rd.check_in_day)
                          td = rd.room.full_code_name_with_underscore
                          td = rd.reservation.visitor_name + '様'

      .modal-footer
        button.btn.btn-default data-dismiss="modal" tabindex=1 閉じる
