// リスト
.sales_list {
  white-space: nowrap;
  overflow: scroll;
}

// ▼ ヘッダー固定テーブル
.table_wrapper {
  // overflow-x: hidden;
  overflow-x: auto;
  width: 99%;
}

// テーブル
#table_sales_list {
  td.reservation_count,
  td.sum_room_charge,
  td.sum_cleaning_fee,
  td.sum_meal_fee,
  td.sum_total,
  td.opration_count,
  td.occ,
  td.sum_guest,
  td.dor,
  td.adr,
  td.unit_price,
  td.rev_par {
    text-align: right;
  }
  td.settlement {
    i {
      font-size: 1.2em;
    }
  }
}

.monthly_total {
  font-size: 15px;
  margin-left: 15px;
}

#sales_list_form {
  /* select2 のボックスサイズ変更 */
  .select2-selection--multiple {
    min-height: 200px !important;
    overflow-y: scroll !important;
  }
}


