.settlement {

  .header_fix_table_wrapper {
    white-space: nowrap;
    overflow: scroll;
    max-height: calc(75vh);
  }

  #reservations table.reservation_table{

    // ヘッダー固定
    thead th {
      /* 縦スクロール時に固定する */
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      /* tbody内のセルより手前に表示する */
      z-index: 1;
    }

    td {
      vertical-align: middle;
    }

    td.total,
    td p.total {
      font-size: 1.2em;
      font-weight: bold;
      text-align: right;
    }

    td p.sub_count {
      font-size: 0.9em;
      text-align: right;
    }
  }

}