// 変数定義

// テーブルヘッダー背景
$table-bgcolor: #cdd4d6; // 灰色

// 列背景色
$tr-even-bgcolor: #d9f3fb; // 薄水青

$tr-odd-bgcolor: #fff; // 白

// 金額フォームのフォントサイズ
$amount-form-font-size: 20px;

// 金額ラベルのフォントサイズ
$amount-label-font-size: 16px;

// 背景色付きアラートエリア内のフォントサイズ
$alert-area-font-size: 15px;