<!-- モーダル・ダイアログ -->
<div class="modal fade" id="alertModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <div class="modal-body">
        <%= body %>
      </div>
      <div class="modal-footer">
        <% if @reload %>
          <button type="button" class="btn btn-default" data-dismiss="modal" onClick="location.reload();">閉じる</button>
        <% else %>
          <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <% end %>
      </div>
    </div>
  </div>
</div>