<!-- モーダル・ダイアログ -->
<div class="modal fade <%= modal_class %>" id="<%= modal_id %>" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title"><%= title.html_safe %></h4>
      </div>
      <div class="modal-body">
        <%= body.html_safe %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">いいえ</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onClick="<%= callback %>">はい</button>
      </div>
    </div>
  </div>
</div>