= form_tag reservation_management_import_create_path, html: {class: "form-horizontal"} do
  .col-xs-12
    .box.box-danger
      .box-header.with-border
        label 一時情報
      .box-body
        / .panel.panel-default
        .count 登録可能件数： #{form.success_count}件
        .count エラー件数： #{form.error_count}件

        .result_row style="overflow-x: auto; width: 1200px;"
          table.table.header_table
            tr
              th.info
              th.info 行番号
              th.info 成否
              th.info 宿泊日
              th.info 施設コード
              th.info 部屋番号（表示順）
              th.info 泊数
              th.info ゲスト名
              th.info 国籍
              th.info メールアドレス
              th.info TEL
              th.info 人数（大人）
              th.info 人数（子供）
              th.info 宿泊料
              th.info 清掃費
              th.info 食事代
              th.info 予約サイトコード
              th.info 予約サイト名
              th.info 予約日
              th.info 備考

        - form.import_reservation_list.each.with_index(2) do |row, idx|
          - is_success = row.errors.empty?
          .result_row style="overflow-x: auto; width: 1200px;"
            table.table.body_table
              tr id="tr_#{row.wk_reservation_id}"
                td
                  = check_box_tag 'wk_reservation_ids[]', row.wk_reservation_id, {checked: true}
                  / input type="checkbox" name="wk_reservation_ids[]" checked="checked" value= #row.wk_reservation_id
                td = idx
                td = is_success ? '登録可' : 'エラー'
                td = row.check_in_date.to_s
                td = row.building_code
                td = row.room_no
                td = row.number_of_nights
                td = row.visitor_name
                td = row.nationality
                td = row.mail_address
                td = row.tel
                td = row.adult_count
                td = row.child_count
                td = row.room_charge
                td = row.cleaning_fee
                td = row.meal_fee
                td = row.site_code
                td = row.reserve_date
                td = row.note

              - unless is_success
                tr
                  td colspan="17"
                    - row.errors.full_messages.each do |msg|
                      p = msg

      .box-footer
        .form-group
          .col-sm-12.text-right.button-area-right
            = link_btn_tag('戻る', reservation_management_import_path)
            = submit_tag('登録', class: "btn btn-primary input-sm")