.col-xs-12
  .box.box-danger
    .box-header.with-border
      label 予約情報取込
    .box-body

      .col-xs-12#error_messages

      = form_for form, url: {action: :create}, remote: true, html: {class: "form-horizontal"} do |f|

          / .panel.panel-default
          .form-group
            label.col-sm-2.control-label for="visitor_name"
              |ファイル
              span.require ＊
            .col-sm-8
              = f.file_field :file, class: "form-control", accept: ".xlsx", tabindex: 1

          .form-group
            .col-sm-12.text-right.button-area-right
              = f.submit('インポート開始', class: "btn btn-primary input-sm")

