.col-xs-12
  .box.box-danger
    .box-header.with-border
      label 予約情報取込
    .box-body

      .col-xs-12
        = render 'shared/error_messages', obj: @form

      = form_tag({action: :comfirm}, {multipart: true, class: "form-horizontal"})

          .form-group
            label.col-sm-2.control-label for="visitor_name"
              |ファイル
              span.require ＊
            .col-sm-8
              = file_field :reservation_import_form, :file, class: "form-control", accept: ".xlsx", tabindex: 1
              = hidden_field :reservation_import_form, :temp
              / ↑form_tagでfileが無いときもparams[:reservation_import_form]が送信されるように空で追加

          .form-group
            .col-sm-12.text-right.button-area-right
              = submit_tag "インポート開始", class: "btn btn-primary input-sm"

