- breadcrumb :reservation_import_comfirm
- provide :title, t("title.reservations.import.comfirm")

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p ファイルの解析結果を確認します。
        ul
          li.attention まだ予約情報は登録されていません。
          li 「登録」ボタンクリックで、以下の一時情報の登録処理を行います。
          li この画面から離れたり、他のブラウザやユーザーがインポート処理を行った場合、一時情報は削除されます。

.row
  = render 'comfirm_form', form: @form




/ .row
  = #render 'button_show', form: @form
