<% if @form %>
  $('#result').html('<%= j(render "result", form: @form) %>');
  $('#import_form').html('');
  $('#error_messages').html('');
<% else %>
  $('#error_messages').html('<%= j(render "shared/error_messages", obj: nil) %>');
<% end %>
stopSpin($('form'));