- breadcrumb :reservation_import_edit
- provide :title, t("title.reservations.import.edit")

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p ファイルの解析結果を確認します。
        p.attention ・まだ予約情報は登録されていません。
        p ・「登録」ボタンで登録処理を行います。

= form_for @form, url: {action: :create}, html: {class: "form-horizontal"} do |f|
  = render 'shared/error_messages', obj: @form
  .row
    .col-xs-12
      .box.box-danger
        .box-header.with-border
          label 請求情報
        .box-body
          / .panel.panel-default
          / .form-group
          /   label.col-sm-2.control-label for="visitor_name"
          /     |ファイル
          /     span.require ＊
          /   .col-sm-8
          /     = f.file_field :file, class: "form-control", accept: ".xlsx", tabindex: 1

          .form-group
            .col-sm-12.text-right.button-area-right
              = f.submit('登録', class: "btn btn-primary input-sm")

/ .row
  = #render 'button_show', form: @form
