- breadcrumb :reservation_import
- provide :title, t("title.reservations.import.index")

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 予約情報をインポートします。
        p ・ファイルを選択し、「インポート開始」ボタンを押すとファイルの読み込み処理が実施されます。
        p.attention ・指定できるファイルはExcelファイル（.xlsx）のみです。
        p ・１行目はヘッダー情報として扱い、２行目から取り込みます。
        p ・上の行から順に処理しますので、同じデータが複数行に存在する場合は最初の行を取り込み、重複する行はエラーとなります。

.row#import_form
  = render 'import_form', form: @form

/ .row
  = #render 'button_show', form: @form

.row#result