- breadcrumb :whole_reservations_new, @form.check_in_date, @form.building_id
- provide :title, t("title.whole_reservations.new")

.row
  .col-xs-12
    = render 'shared/alert_bar', css: 'success', attention_text: '【注意】この画面は一棟貸情報の登録画面です。'

.row
  .col-xs-12
    .box.box-primary
      .box-tools.pull-right
        button.btn.btn-box-tool type="button" data-widget="remove"
          i.fa.fa-remove
      .box-body
        p 一棟貸で予約情報を登録します。
        p ・「予約可否チェック」ボタンは、<b style='color:red;'>施設・宿泊日・泊数</b>で予約可能かを確認します。別の画面や他のユーザーが先に予約情報を登録した場合、この予約情報は登録できません。

.row
  .col-xs-12
    = render 'shared/error_messages', obj: @form

.row
  = render 'button_form'

.row
  .col-xs-12
    .box.box-warning
      .box-body
        = render 'form', form: @form, action: 'create', url: reservation_management_whole_reservation_create_path, suitebook_reservation_id: nil

.row
  = render 'button_form'

.row
  .col-xs-12
    = render 'shared/alert_bar', css: 'success', attention_text: '【注意】この画面は一棟貸情報の登録画面です。'