- breadcrumb :whole_reservations_show, @form.id, @form.link_reservation_id, @callback
- provide :title, t("title.whole_reservations.show")

.row
  .col-sm-12
    = render 'shared/error_messages', obj: @form

.row
  .col-sm-12
    = render 'shared/alert_bar', css: 'success', attention_text: '【注意】この画面は一棟貸情報の詳細画面です。'

- if @form.is_available
  .row
    .col-sm-12
      .box.box-primary
        .box-tools.pull-right
          button.btn.btn-box-tool type="button" data-widget="remove"
            i.fa.fa-remove
        .box-body
          p 一棟貸の予約情報の詳細を確認します。各項目別に、部屋毎の予約情報に対して一括変更が可能です。
          p ・「基本情報の編集」ボタンで、紐付く部屋毎の予約情報を一括で変更するための編集ウィンドウが開きます。
          p ・「請求情報の編集」ボタンで、紐付く部屋毎の請求情報を一括で変更するための編集ウィンドウが開きます。
          p 　　※ 請求情報を変更した場合、人数、金額は登録時と同じように、自動的に分配されて上書きされます。
          p ・「各部屋毎の予約情報の編集」ボタンで、分配されている人数、金額を手動で変更するための編集ウィンドウが開きます。
          p ・「キャンセル」ボタンで、一棟貸情報をキャンセルし、紐付く部屋毎の予約情報もすべてキャンセルされます。
- else
  .row
    .col-xs-12
      = render 'shared/alert_bar', css: 'danger', attention_text: 'この予約情報はキャンセル済みです。'

.row
  =render 'reservation_management/whole_reservation/show/button_show', form: @form

.row#base
  =render 'reservation_management/whole_reservation/show/base', form: @form

.row#payment
  =render 'reservation_management/whole_reservation/show/payment', form: @form

.row#reservations
  =render 'reservation_management/whole_reservation/show/reservations', form: @form

.row
  =render 'reservation_management/whole_reservation/show/button_show', form: @form

- unless @form.is_available
  .row
    .col-xs-12
      = render 'shared/alert_bar', css: 'danger', attention_text: 'この予約情報はキャンセル済みです。'

.row
  .col-sm-12
    = render 'shared/alert_bar', css: 'success', attention_text: '【注意】この画面は一棟貸情報の詳細画面です。'


/ キャンセル以外
- if @form.is_available

  / 基本情報編集モーダル
  .edit_basic_modal

  / 情報編集モーダル
  .edit_payment_modal

  / 各部屋毎の予約情報編集モーダル
  .edit_room_reservations_modal

  .update_whole_status_modal
    / キャンセルボタン
    = render 'modal/common/confirm', modal_id: 'cancel_status',
                              modal_class: 'modal-default',
                              callback: "cancelWholeReservation('#{@callback}');",
                              title: t("title.modal.cancel_reservation"),
                              body: t("messages.comfirm_cancel_reservation")
