<% if @form.errors.empty? %>
  $('#editRoomReservationsModal').modal('hide');
  $('#reservations').html('<%= j(render "reservation_management/whole_reservation/show/reservations", form: @form) %>');
  $('#fadeout_room_reservations').html('<%= j(render "shared/error_messages", obj: @form) %>');
<% else %>
  $('#editRoomReservationsModal #error_messages').html('<%= j(render "shared/error_messages", obj: @form) %>');
<% end %>