<% if @form.errors.empty? %>
  $('#editPaymentModal').modal('hide');
  $('#payment').html('<%= j(render "reservation_management/whole_reservation/show/payment", form: @form) %>');
  $('#reservations').html('<%= j(render "reservation_management/whole_reservation/show/reservations", form: @form) %>');
  $('#fadeout_payment').html('<%= j(render "shared/error_messages", obj: @form) %>');
<% else %>
  $('#error_messages').html('<%= j(render "shared/error_messages", obj: @form) %>');
<% end %>