<% if @form.errors.empty? %>
  $('#editBasicModal').modal('hide');
  $('#base').html('<%= j(render "reservation_management/whole_reservation/show/base", form: @form) %>');
  // $('#reservations').html('<%= j(render "reservation_management/whole_reservation/show/reservations", form: @form) %>');
  $('#fadeout').html('<%= j(render "shared/error_messages", obj: @form) %>');
<% else %>
  $('#error_messages').html('<%= j(render "shared/error_messages", obj: @form) %>');
<% end %>