<script>
  let user_id = <%= User.current_user.id %>;
</script>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-77347671-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-77347671-4', {
    'user_id': user_id
  });
</script>


<!-- Google Tag Manager -->
<script>

window.dataLayer = window.dataLayer || [];
dataLayer.push({
  'user_id': user_id
});

(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TCRBSTQ');

</script>
<!-- End Google Tag Manager -->




<%# GA4用 %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R1HY74T3EC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  // gtag('config', 'G-R1HY74T3EC');
  gtag('config', 'G-R1HY74T3EC', {
    'user_id': user_id
  });
</script>


<%# GA4用 %>
<script>
window.dataLayer = window.dataLayer || [];
dataLayer.push({
  'user_id': user_id
});
</script>

<!-- Google Tag Manager -->
<script>
// (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
// new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
// j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
// 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
// })(window,document,'script','dataLayer','GTM-WNLFTMW');
</script>
<!-- End Google Tag Manager -->
