<script>
  let user_id = '<%= User.current_user.id %>';
  let user_name = '<%= User.current_user.name %>';
  let account = '<%= User.current_user.account %>';

  // console.log('user_id: ', user_id, '  user_name: ', user_name, '  account: ', account)
</script>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<%# <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77347671-4"></script> %>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R1HY74T3EC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  // gtag('config', 'UA-77347671-4');

  // UA用
  // gtag('config', 'UA-77347671-4', {
  //   'custom_map': {
  //     'dimension1': 'user_id',
  //     'dimension2': 'user_name',
  //     'dimension3': 'account'
  //   }
  // });

  // gtag('event', 'any_event_name', {
  //   'user_id': user_id,
  //   'user_name': user_name,
  //   'account': account
  // });

  // GA4用
  // gtag('config', 'G-R1HY74T3EC', {
  //   'user_id': user_id
  // });
  gtag('config', 'G-R1HY74T3EC');

  gtag('set', 'user_properties', {
    user_id: user_id,
    user_name: user_name,
    account: account
  });

</script>


<!-- Google Tag Manager -->
<script>
// window.dataLayer = window.dataLayer || [];
// dataLayer.push({
//   'user_id': user_id,
//   'user_name': user_name,
//   'account': account
// });

// (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
// new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
// j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
// 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
// })(window,document,'script','dataLayer','GTM-TCRBSTQ');

</script>
<!-- End Google Tag Manager -->
