<!-- トップメニュー -->
<header class="main-header">
  <!-- ロゴ -->

  <%= link_to image_tag('logo.png', style: 'margin-left: -10px;'), dashboard_path, class: "logo", style: "background-color: #39374c;" %>

  <!-- ヘッダーナビ -->
  <nav class="navbar navbar-static-top" role="navigation" style="background-color: #39374c;">

    <!-- サイドバー制御 -->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" onclick="changeSidebar();">
      <span class="sr-only">Toggle navigation</span>
    </a>
<!--
    <ul class="nav navbar-nav">
      <li>清掃状況一覧"</li>
      <li>清掃状況一覧"</li>
      <li>清掃状況一覧"</li>
    </ul>
-->
    <!-- 右に寄せるメニュ :navbar-rightとかもあるが、マージが無い -->
    <div class="navbar-custom-menu">
      <!-- User Account: style can be found in dropdown.less -->
      <ul class="nav navbar-nav">
        <li><a disabled="disabled"><%= l(Date.today, format: :long) %></a></li>
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-user">&nbsp;<%= current_user.name %></span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header" style="background-color:#c7d9e8;">
              <%= image_tag 'account.png', {class: "img-circle", alt: "User Image"} %>
              <p style="color:black;">
                <%= current_user.name %>
                <small><%= Settings.USER.ROLES[current_user.role] %></small>
              </p>
            </li>

            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="<%= edit_user_registration_path %>" target="_blank" class="btn btn-default btn-flat"><i class="fa fa-user">&nbsp;</i>アカウント</a>
                <!-- <a href="#" target="_blank" class="btn btn-default btn-flat"><i class="fa fa-user">&nbsp;</i>アカウント</a> -->
              </div>
              <div class="pull-right">
                <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-default btn-flat" do %>
                  <i class="fa fa-sign-out">&nbsp;</i>ログアウト
                <% end %>
              </div>
            </li>
          </ul>
        </li>
      </ul>
        <!-- <ul class="nav navbar-nav">
            <li><a href=""><i class="fa fa-sign-out"></i>ログアウト</a></li>
        </ul> -->
    </div>

  </nav>
</header><!-- end header