<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">機能一覧</li>

      <li class="<%= sidebar_class('dashboard') %>">
        <a href="<%= dashboard_path %>">
          <i class="fa fa-home"></i> <span>ダッシュボード</span>
        </a>
      </li>

      <!-- 予約管理 -->
      <li class="treeview <%= sidebar_class('entry', 'monthly_list', 'daily_list', 'whole_reservation', 'import', 'reservations', 'suitebook', 'import_suitebook') %>">
        <a href="#">
          <i class="fa fa-calendar"></i> <span>予約管理</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <% if role_member? # 社員 %>
          <li class="<%= sidebar_action_class('entry/new', 'entry/edit', 'whole_reservation/new', 'whole_reservation/edit') %>">
            <a href="<%= reservation_management_entry_path %>">予約情報登録</a>
          </li>
          <% end %>

          <li class="<%= sidebar_action_class('monthly_list/index', 'monthly_list/search', 'monthly_list/transition_search') %>">
            <a href="<%= reservation_management_monthly_list_path %>">施設別月間予約一覧</a>
          </li>
          <li class="<%= sidebar_action_class('daily_list/index', 'daily_list/search', 'daily_list/transition_search') %>">
            <a href="<%= reservation_management_daily_list_path %>">日別予約一覧</a>
          </li>

          <% if role_member? # 社員 %>
          <li class="<%= sidebar_action_class('reservations/index', 'reservations/search', 'reservations/transition_search') %>">
            <a href="<%= reservation_management_reservations_path %>">予約検索</a>
          </li>
          <li class="<%= sidebar_action_class('suitebook/index', 'suitebook/search', 'suitebook/transition_search', 'suitebook/entry', 'suitebook/show', 'suitebook/entry_whole_select_building', 'suitebook/entry_whole', 'suitebook/create_whole', 'import_suitebook/index') %>">
            <a href="<%= reservation_management_suitebook_path %>">suitebook連携</a>
          </li>
          <% end %>
        </ul>
      </li>

      <!-- 作業管理 -->
      <% if role_member? # 社員 %>
      <li class="treeview <%= sidebar_class('cleaning_status_list', 'daily_tasks') %>">
        <a href="#">
          <i class="fa fa-check-square-o"></i><span>作業管理</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<%= sidebar_action_class('daily_tasks/index') %>">
            <a href="<%= work_daily_tasks_path %>"></i><%= t('title.work.daily_tasks') %></a>
          </li>
          <li class="<%= sidebar_action_class('cleaning_status_list/index', 'cleaning_status_list/search', 'cleaning_status_list/transition_search') %>">
            <a href="<%= work_cleaning_status_list_path %>"></i> 清掃状況一覧</a>
          </li>
        </ul>
      </li>
      <% end %>

      <!-- 月次管理 -->
      <% if role_member? # 社員 %>
      <li class="treeview <%= sidebar_class('sales_list', 'reports', 'settlement') %>">
        <a href="#">
          <i class="fa fa-fw fa-line-chart"></i> <span>月次管理</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<%= sidebar_action_class('sales_list/index', 'sales_list/search', 'sales_list/transition_search', 'settlement/new', 'settlement/edit') %>">
            <a href="<%= summary_sales_list_path %>"><%= t 'title.summary.sales_list' %></a>
          </li>
          <li class="<%= sidebar_action_class('reports/index', 'reports/accommodation_tax_csv') %>">
            <a href="<%= summary_reports_path %>"><%= t 'title.summary.reports' %></a>
          </li>
        </ul>
      </li>
      <% end %>

      <!-- マスタ管理 -->
      <% if role_member? # 社員 %>
      <li class="treeview <%= sidebar_class('areas', 'buildings', 'users', 'owners', 'settlement_template') %>">
        <a href="#">
          <i class="fa fa-database"></i> <span>マスタ管理</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<%= sidebar_action_class('owners/index', 'owners/new', 'owners/edit', 'owners/create', 'owners/update') %>">
            <%= link_to 'オーナー一覧', master_owners_path %>
          </li>

          <li class="<%= sidebar_action_class('areas/index', 'areas/new', 'areas/edit', 'areas/create', 'areas/update') %>">
            <a href="<%= master_areas_path %>"></i> エリア一覧</a>
          </li>

          <li class="<%= sidebar_action_class('buildings/index', 'buildings/new', 'buildings/create', 'buildings/show', 'buildings/edit', 'buildings/update') %>">
            <a href="<%= master_buildings_path %>"></i> 施設一覧</a>
          </li>

          <li class="<%= sidebar_action_class('settlement_template/index') %>">
            <a href="<%= master_settlement_template_path %>"></i> 精算書テンプレート</a>
          </li>

          <% if role_manager? %>
          <li class="<%= sidebar_action_class('users/index', 'users/new', 'users/create', 'users/edit', 'users/update') %>">
            <a href="<%= master_users_path %>"></i> アカウント一覧</a>
          </li>
          <% end %>
        </ul>
      </li>
      <% end # 社員 %>

      <!-- その他 -->
      <li class="treeview <%= sidebar_class("release_notes") %>">
        <a href="#">
          <i class="fa fa-exclamation-circle"></i> <span>その他</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="<%= sidebar_action_class('release_notes/index') %>">
            <a href="<%= other_release_notes_path %>"></i> <%= t("title.other.release_note.index") %></a>
          </li>
        </ul>
      </li>

    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>