doctype html
html
  head
    title
      = full_title(yield(:title))
    = csrf_meta_tags

    = render 'layouts/google'

    meta charset="utf-8" /
    meta content="IE=edge" http-equiv="X-UA-Compatible" /
    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"

    = favicon_link_tag('apple-touch-icon.png', { rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png' })

    = include_gon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    / select2 の日本語化ファイル
    script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/ja.js"

    / Ionicons
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"

  / サイドバーの開閉状態の指定クラス（sidebar-collapse）をクッキーから取得
  - if cookies[:sidebar_collapse] == "true"
    body.hold-transition.fixed.skin-blue.sidebar-mini.sidebar-collapse

  - else
    body.hold-transition.fixed.skin-blue.sidebar-mini

  / Google Tag Manager (noscript)
  noscript
    iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TCRBSTQ" height="0" width="0" style="display:none;visibility:hidden"

  .wrapper

    / ▼ ヘッダー
    = render 'layouts/header'

    / ▼ サイドバー
    = render 'layouts/sidebar'

    / ▼ コンテンツ
    .content-wrapper

      / コンテンツヘッダ
      section.content-header
        h1
          = yield(:title)

        / パンくず
        ol.breadcrumb
          p == breadcrumbs separator: " #{content_tag(:i, '', class: 'glyphicon glyphicon-menu-right')} "

      / メインコンテンツ
      section.content
        = yield

    / モーダル
    .modal-area

    / ▼ フッター
    = render 'layouts/footer'





