<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || "System" %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  </head>

  <body class="hold-transition login-page" style="background: #fff;">
    <div class="login-box" style="width:530px;">
    <!-- ロゴ -->
      <div class="login-logo" style="font-size:23px;">

      </div>

      <div class="login-box" style="width:430px;">
        <%= yield %>
      </div>
    </div>

  </body>
</html>


